openapi: 3.0.2
info:
  title: SnapPay
  description: >-
    Digitally transform your payment process with certified ERP integration to
    improve working capital and increase efficiencies. SnapPay from Fiserv,
    integrates with popular ERP solutions and shopping cart solutions to serve
    the holistic B2B payment needs of enterprise-size businesses.
  
  version: 3.0.9
servers:
  - url: https://snappaydirectapi-cert.fiserv.com/
  - url: https://demo1.cditechnology.com/SnapPay/REST/
    
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  examples:
    GetRequestID-FiservInternal:
      value:
        accountid: 1000000001
        companycode: '00200'
        currencycode: USD
        customerid: 100
        supplierid: 100
        userid: first.last@company.com
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        transactiontype: S
        paymentmode: CC
        language: en-US
        reference: ecom
        type: C
        transactionamount: 100.25
        cvvrequired: 'Y'
        invoiceid: '4621657657'
        orderid: ''
        comments: test comments
        stylecss: ''
        ordertype: SO
        branchplant: BR001
        useboltdevice: 'N'
        devicehsn: ''
        purchaseorder: '1243'
        ecomind: E
        cof: C
        cofscheduled: 'N'
        openiniframe: 'Y'
        sendemailreceipts: 'Y'
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        adderpcustomerinsnappay: 'Y'
        forceusertoenteraddress: 'Y'
        templateid: '102'
        tokenid: '9123123412341111'
        redirecturl: https://xyz.com/orderconfirmation
        redirectionurlonerror: '#'
        duplicateredirecturl: '#'
        cancelredirecturl: '#'
        parenturi: https://abc.com
        transactionuuid: ''
        feetransactionuuid: ''
        payments:
          - mode: CC
            merchantid: '123456789'
            feemerchantid: '123456789'
            feeamount: '2.00'
            feetype: Service
            feevalue: '3'
            feeformat: Flat
            waivefee: 'N'
            feemessage: ''
        user:
          userfirstname: Fistname
          userlastname: Lastname
          useremail: firstname.lastname@company.com
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: Device1
        addcustomerinsnappay: 'N'
        customer:
          customername: custname
          addressline1: Street 100
          addressline2: ''
          city: Chicago
          state: IL
          zipcode: 60603
          country: US
          phone: 0
          email: first.last@company.com
          vatregistrationnumber: ''
        supplier:
          suppliername: suppname
          addressline1: Street 100
          addressline2: ''
          city: Chicago
          state: IL
          zipcode: 60603
          country: US
          phone: 0
          email: first.last@company.com
          identificationtype: MEMBER_ID
          identificationdata: '123456'
          companyname: ABC Builders
          clientcompanyname: XYZ
          internalmemo: ''
          comments: test comments
          reason: ''
          status: ''
        level3:
          - linenumber: '1'
            productcode: ROS01
            taxrate: 0.073
            quantity: 2
            itemdescription: Mixed bouquet
            unitcost: 30.75
            lineitemtotal: 65.96
            taxamount: 4.46
            commoditycode: ''
            unitofmeasure: EA
        clxstream:
          - transaction:
              uuid: string
              pgtransactionid: ''
              transactiondate: ''
              paymenttype: ''
              transactionamount: 10
              cardtpe: ''
              authorizationnumber: ''
              last4: ''
              merchantid: ''
              localreferenceid: XXXXXXXXXXXX
              type: ''
              description: Description
              unitprice: 16
              quantity: 2
              sku: XXXXXXXXXXXX
              company: company
              fee: '1.00'
              department: XXXX
              vendorid: ''
              customerid: 100
              agency: ''
              batchid: ''
              reportlines: '3'
              reportlinedetails:
                - id: XXXX1
                  attributes:
                    - name: XXXX1AMOUNT
                      value: XXXX
                      type: XXXX
              additionalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
            feetransaction:
              uuid: string
              pgtransactionid: ''
              transactiondate: ''
              paymenttype: ''
              transactionamount: 10
              cardtpe: ''
              authorizationnumber: ''
              last4: ''
              merchantid: ''
              localreferenceid: XXXXXXXXXXXX
              type: ''
              description: Description
              unitprice: 16
              quantity: 2
              sku: XXXXXXXXXXXX
              company: company
              fee: '1.00'
              department: XXXX
              vendorid: ''
              customerid: 100
              agency: ''
              batchid: ''
              reportlines: '3'
              reportlinedetails:
                - id: XXXX1
                  attributes:
                    - name: XXXX1AMOUNT
                      value: XXXX
                      type: XXXX
              additionalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
    GetRequestID-S-ACH-CLX:
      value:
        accountid: 1000000001
        currencycode: USD
        userid: 'user'
        ecomind: 'E'
        cof: 'C'
        cofscheduled: 'N'
        openiniframe: 'Y'
        redirecturl: https://www.xyz.com/receive
        redirectionurlonerror: '#'
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        type: 'C'
        reference: null
        transactiontype: 'S'
        paymentmode: 'ACH'
        cvvrequired: 'Y'
        language: 'en-US'
        useboltdevice: 'Y'
        devicehsn: '122353253252'
        sendemailreceipts: 'Y'
        parenturi: https://demo.abc.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        forceusertoenteraddress: 'Y'
        transactionamount: 10
        payments:
          - mode: ACH
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
        templateid: '102'
        duplicateredirecturl: '#'
        cancelredirecturl: '#'
        user:
          userfirstname: John
          userlastname: Smith
          useremail: johns@xyz.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        companycode: '100'
        ordertype: ''
        branchplant: ''
        customerid: '4242'
        supplierid: '14343'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        purchaseorder: '1243'
        adderpcustomerinsnappay: 'N'
        customer:
          customername: ''
          addressline1: ''
          addressline2: ''
          city: ''
          state: ''
          zipcode: ''
          country: ''
          phone: ''
          email: ''
          vatregistrationnumber: ''
        supplier:
          suppliername: Battery Builders
          addressline1: 31W238 91st St,
          addressline2: ''
          city: Naperville
          state: IL
          zipcode: '60564'
          country: US
          phone: (123) 123-1234
          email: test@abc.com
          identificationtype: ''
          identificationdata: 12/12/1961
          companyname: Battery Builders
          clientcompanyname: Fiserv
          internalmemo: ''
          comments: ''
          reason: ''
          status: ''
        level3:
          - linenumber: '1.000'
            productcode: ROS01
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Mixed Bouquet
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: BQT02
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Spring Bouquet
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
        clxstream:
          - transaction:
              merchantid: ''
              localreferenceid: XXXXXXXXX
              type: XXXXXXXX
              description: 'Description'
              unitprice: 16
              quantity: 1
              sku: XXXXXXXXXX
              company: 'Company'
              fee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '3'
              reportlinedetails:
                - id: XXXX1
                  attributes:
                    - name: XXXX1AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX1AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX1OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX1PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX1TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX1INDEX
                      value: ''
                      type: String
                    - name: XXXX1FUND
                      value: ''
                      type: String
                    - name: XXXX1APPDFUND
                      value: ''
                      type: String
                    - name: XXXX1COBJ
                      value: ''
                      type: String
                    - name: XXXX1AOBJ
                      value: ''
                      type: String
                    - name: XXXX1DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX2
                  attributes:
                    - name: XXXX2AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX2AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX2FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX2OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX2PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX2TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX2INDEX
                      value: ''
                      type: String
                    - name: XXXX2FUND
                      value: ''
                      type: String
                    - name: XXXX2APPDFUND
                      value: ''
                      type: String
                    - name: XXXX2COBJ
                      value: ''
                      type: String
                    - name: XXXX2AOBJ
                      value: ''
                      type: String
                    - name: XXXX2DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX3
                  attributes:
                    - name: XXXX3AMOUNT
                      value: '15.0'
                      type: DOLLAR
                    - name: XXXX3AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX3FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX3OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX3PCA
                      value: 'XXXX'
                      type: String
                    - name: XXXX3TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX3INDEX
                      value: ''
                      type: String
                    - name: XXXX3FUND
                      value: ''
                      type: String
                    - name: XXXX3APPDFUND
                      value: ''
                      type: String
                    - name: XXXX3COBJ
                      value: ''
                      type: String
                    - name: XXXX3AOBJ
                      value: ''
                      type: String
                    - name: XXXX3DEPAGENCY
                      value: ''
                      type: String
                    - name: XXXXLINES
                      value: '3'
                      type: String
              additionalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom00
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom29
                  value: XXXXXXXXXXXX
          - feetransaction:
              merchantid: ''
              localreferenceid: XXXXXXXXXXX
              type: XXXXXXX
              description: Description
              unitPrice: 1
              quantity: 1
              sku: XXXXXXXX
              company: Company
              conveniencefee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '3'
              reportlinedetails:
                - id: XXXX1
                  attributes:
                    - name: XXXX1AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX1AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX1OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX1PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX1TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX1INDEX
                      value: ''
                      type: String
                    - name: XXXX1FUND
                      value: ''
                      type: String
                    - name: XXXX1APPDFUND
                      value: ''
                      type: String
                    - name: XXXX1COBJ
                      value: ''
                      type: String
                    - name: XXXX1AOBJ
                      value: ''
                      type: String
                    - name: XXXX1DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX2
                  attributes:
                    - name: XXXX2AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX2AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX2FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX2OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX2PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX2TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX2INDEX
                      value: ''
                      type: String
                    - name: XXXX2FUND
                      value: ''
                      type: String
                    - name: XXXX2APPDFUND
                      value: ''
                      type: String
                    - name: XXXX2COBJ
                      value: ''
                      type: String
                    - name: XXXX2AOBJ
                      value: ''
                      type: String
                    - name: XXXX2DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX3
                  attributes:
                    - name: XXXX3AMOUNT
                      value: '15.0'
                      type: DOLLAR
                    - name: XXXX3AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX3FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX3OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX3PCA
                      value: 'XXXX'
                      type: String
                    - name: XXXX3TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX3INDEX
                      value: ''
                      type: String
                    - name: XXXX3FUND
                      value: ''
                      type: String
                    - name: XXXX3APPDFUND
                      value: ''
                      type: String
                    - name: XXXX3COBJ
                      value: ''
                      type: String
                    - name: XXXX3AOBJ
                      value: ''
                      type: String
                    - name: XXXX3DEPAGENCY
                      value: ''
                      type: String
                    - name: XXXXLINES
                      value: '3'
                      type: String
              additionalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom00
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom29
                  value: XXXXXXXXXXXX
    GetRequestID-S-ACH-Partial-CLX:
      value:
        accountid: 1000000001
        currencycode: USD
        userid: 'user'
        ecomind: 'E'
        cof: 'C'
        cofscheduled: 'N'
        openiniframe: 'Y'
        redirecturl: https://www.xyz.com/receive
        redirectionurlonerror: '#'
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        type: 'C'
        reference: null
        transactiontype: 'S'
        paymentmode: 'ACH'
        cvvrequired: 'Y'
        language: 'en-US'
        useboltdevice: 'Y'
        devicehsn: '122353253252'
        sendemailreceipts: 'Y'
        parenturi: https://demo.abc.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        forceusertoenteraddress: 'Y'
        transactionamount: 10
        payments:
          - mode: ACH
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
        templateid: '102'
        duplicateredirecturl: '#'
        cancelredirecturl: '#'
        user:
          userfirstname: John
          userlastname: Smith
          useremail: johns@xyz.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        companycode: '100'
        ordertype: ''
        branchplant: ''
        customerid: '4242'
        supplierid: '14343'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        purchaseorder: '1243'
        adderpcustomerinsnappay: 'N'
        customer:
          customername: ''
          addressline1: ''
          addressline2: ''
          city: ''
          state: ''
          zipcode: ''
          country: ''
          phone: ''
          email: ''
          vatregistrationnumber: ''
        supplier:
          suppliername: Battery Builders
          addressline1: 31W238 91st St,
          addressline2: ''
          city: Naperville
          state: IL
          zipcode: '60564'
          country: US
          phone: (123) 123-1234
          email: test@abc.com
          identificationtype: ''
          identificationdata: 12/12/1961
          companyname: Battery Builders
          clientcompanyname: Fiserv
          internalmemo: ''
          comments: ''
          reason: ''
          status: ''
        level3:
          - linenumber: '1.000'
            productcode: ROS01
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Mixed Bouquet
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: BQT02
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Spring Bouquet
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
        clxstream:
          - transaction:
              merchantid: ''
              localreferenceid: XXXXXXXXX
              type: XXXXXXXX
              description: 'Description'
              unitprice: 16
              quantity: 1
              sku: XXXXXXXXXX
              company: 'Company'
              fee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '0'
              reportlinedetails: null
              additionalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom00
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom29
                  value: XXXXXXXXXXXX
          - feetransaction:
              merchantid: ''
              localreferenceid: XXXXXXXXXXX
              type: XXXXXXX
              description: Description
              unitPrice: 1
              quantity: 1
              sku: XXXXXXXX
              company: Company
              conveniencefee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '3'
              reportlinedetails:
                - id: XXXX1
                  attributes:
                    - name: XXXX1AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX1AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX1OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX1PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX1TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX1INDEX
                      value: ''
                      type: String
                    - name: XXXX1FUND
                      value: ''
                      type: String
                    - name: XXXX1APPDFUND
                      value: ''
                      type: String
                    - name: XXXX1COBJ
                      value: ''
                      type: String
                    - name: XXXX1AOBJ
                      value: ''
                      type: String
                    - name: XXXX1DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX2
                  attributes:
                    - name: XXXX2AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX2AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX2FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX2OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX2PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX2TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX2INDEX
                      value: ''
                      type: String
                    - name: XXXX2FUND
                      value: ''
                      type: String
                    - name: XXXX2APPDFUND
                      value: ''
                      type: String
                    - name: XXXX2COBJ
                      value: ''
                      type: String
                    - name: XXXX2AOBJ
                      value: ''
                      type: String
                    - name: XXXX2DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX3
                  attributes:
                    - name: XXXX3AMOUNT
                      value: '15.0'
                      type: DOLLAR
                    - name: XXXX3AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX3FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX3OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX3PCA
                      value: 'XXXX'
                      type: String
                    - name: XXXX3TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX3INDEX
                      value: ''
                      type: String
                    - name: XXXX3FUND
                      value: ''
                      type: String
                    - name: XXXX3APPDFUND
                      value: ''
                      type: String
                    - name: XXXX3COBJ
                      value: ''
                      type: String
                    - name: XXXX3AOBJ
                      value: ''
                      type: String
                    - name: XXXX3DEPAGENCY
                      value: ''
                      type: String
                    - name: XXXXLINES
                      value: '3'
                      type: String
              additionalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom00
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom29
                  value: XXXXXXXXXXXX
    GetRequestID-S-ACH:
      value:
        accountid: 1000000001
        currencycode: USD
        userid: user
        ecomind: E
        cof: C
        cofscheduled: 'N'
        openiniframe: 'Y'
        redirecturl: https://www.xyz.com/receive
        redirectionurlonerror: '#'
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        type: C
        reference: null
        transactiontype: S
        paymentmode: ACH
        cvvrequired: 'Y'
        language: en-US
        useboltdevice: 'Y'
        devicehsn: '122353253252'
        sendemailreceipts: 'Y'
        parenturi: https://demo.abc.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        forceusertoenteraddress: 'Y'
        transactionamount: 10
        payments:
          - mode: ACH
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
        templateid: '102'
        duplicateredirecturl: '#'
        cancelredirecturl: '#'
        user:
          userfirstname: John
          userlastname: Smith
          useremail: johns@xyz.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        companycode: '100'
        ordertype: ''
        branchplant: ''
        customerid: '4242'
        supplierid: '14343'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        purchaseorder: '1243'
        adderpcustomerinsnappay: 'N'
        customer:
          customername: ''
          addressline1: ''
          addressline2: ''
          city: ''
          state: ''
          zipcode: ''
          country: ''
          phone: ''
          email: ''
          vatregistrationnumber: ''
        supplier:
          suppliername: Battery Builders
          addressline1: 15th St,
          addressline2: ''
          city: Naperville
          state: IL
          zipcode: '60564'
          country: US
          phone: (123) 123-1234
          email: test@abc.com
          identificationtype: ''
          identificationdata: 12/12/1961
          companyname: Battery Builders
          clientcompanyname: Company
          internalmemo: ''
          comments: ''
          reason: ''
          status: ''
        level3:
          - linenumber: '1.000'
            productcode: ROS01
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Mixed Bouquet
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: BQT02
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Spring Bouquet
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
        clxstream: null
    GetRequestID-S-CC-CLX:
      value:
        accountid: 1000000001
        currencycode: USD
        userid: user
        ecomind: E
        cof: C
        cofscheduled: 'N'
        openiniframe: 'Y'
        redirecturl: https://www.xyz.com/receive
        redirectionurlonerror: '#'
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        type: C
        reference: null
        transactiontype: S
        paymentmode: CC
        cvvrequired: 'Y'
        language: en-US
        useboltdevice: 'Y'
        devicehsn: '122353253252'
        sendemailreceipts: 'Y'
        parenturi: https://demo.abc.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        forceusertoenteraddress: 'Y'
        transactionamount: 10
        payments:
          - mode: CC
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
        templateid: '102'
        duplicateredirecturl: '#'
        cancelredirecturl: '#'
        user:
          userfirstname: John
          userlastname: Smith
          useremail: johns@xyz.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        companycode: '100'
        ordertype: ''
        branchplant: ''
        customerid: '4242'
        supplierid: '14343'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        purchaseorder: '1243'
        adderpcustomerinsnappay: 'N'
        customer:
          customername: ''
          addressline1: ''
          addressline2: ''
          city: ''
          state: ''
          zipcode: ''
          country: ''
          phone: ''
          email: ''
          vatregistrationnumber: ''
        supplier:
          suppliername: Battery Builders
          addressline1: 31W238 91st St,
          addressline2: ''
          city: Naperville
          state: IL
          zipcode: '60564'
          country: US
          phone: (123) 123-1234
          email: test@abc.com
          identificationtype: ''
          identificationdata: 12/12/1961
          companyname: Battery Builders
          clientcompanyname: Fiserv
          internalmemo: ''
          comments: ''
          reason: ''
          status: ''
        level3:
          - linenumber: '1.000'
            productcode: ROS01
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Mixed Bouquet
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: BQT02
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Spring Bouquet
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
        clxstream:
          - transaction:
              merchantid: ''
              localreferenceid: XXXXXXXXXXX
              type: XXXXXXX
              description: Description
              unitprice: 16
              quantity: 1
              sku: XXXXXXXX
              company: Company
              fee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '3'
              reportlinedetails:
                - id: XXXX1
                  attributes:
                    - name: XXXX1AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX1AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX1OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX1PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX1TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX1INDEX
                      value: ''
                      type: String
                    - name: XXXX1FUND
                      value: ''
                      type: String
                    - name: XXXX1APPDFUND
                      value: ''
                      type: String
                    - name: XXXX1COBJ
                      value: ''
                      type: String
                    - name: XXXX1AOBJ
                      value: ''
                      type: String
                    - name: XXXX1DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX2
                  attributes:
                    - name: XXXX2AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX2AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX2FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX2OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX2PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX2TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX2INDEX
                      value: ''
                      type: String
                    - name: XXXX2FUND
                      value: ''
                      type: String
                    - name: XXXX2APPDFUND
                      value: ''
                      type: String
                    - name: XXXX2COBJ
                      value: ''
                      type: String
                    - name: XXXX2AOBJ
                      value: ''
                      type: String
                    - name: XXXX2DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX3
                  attributes:
                    - name: XXXX3AMOUNT
                      value: '15.0'
                      type: DOLLAR
                    - name: XXXX3AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX3FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX3OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX3PCA
                      value: 'XXXX'
                      type: String
                    - name: XXXX3TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX3INDEX
                      value: ''
                      type: String
                    - name: XXXX3FUND
                      value: ''
                      type: String
                    - name: XXXX3APPDFUND
                      value: ''
                      type: String
                    - name: XXXX3COBJ
                      value: ''
                      type: String
                    - name: XXXX3AOBJ
                      value: ''
                      type: String
                    - name: XXXX3DEPAGENCY
                      value: ''
                      type: String
              additionalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom00
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom29
                  value: XXXXXXXXXXXX
          - feetransaction:
              merchantid: ''
              localreferenceid: XXXXXXXXXXX
              type: XXXXXXX
              description: Description
              unitPrice: 1
              quantity: 1
              sku: XXXXXXXX
              company: Company
              conveniencefee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '3'
              reportlinedetails:
                - id: XXXX1
                  attributes:
                    - name: XXXX1AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX1AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX1OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX1PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX1TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX1INDEX
                      value: ''
                      type: String
                    - name: XXXX1FUND
                      value: ''
                      type: String
                    - name: XXXX1APPDFUND
                      value: ''
                      type: String
                    - name: XXXX1COBJ
                      value: ''
                      type: String
                    - name: XXXX1AOBJ
                      value: ''
                      type: String
                    - name: XXXX1DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX2
                  attributes:
                    - name: XXXX2AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX2AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX2FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX2OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX2PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX2TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX2INDEX
                      value: ''
                      type: String
                    - name: XXXX2FUND
                      value: ''
                      type: String
                    - name: XXXX2APPDFUND
                      value: ''
                      type: String
                    - name: XXXX2COBJ
                      value: ''
                      type: String
                    - name: XXXX2AOBJ
                      value: ''
                      type: String
                    - name: XXXX2DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX3
                  attributes:
                    - name: XXXX3AMOUNT
                      value: '15.0'
                      type: DOLLAR
                    - name: XXXX3AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX3FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX3OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX3PCA
                      value: 'XXXX'
                      type: String
                    - name: XXXX3TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX3INDEX
                      value: ''
                      type: String
                    - name: XXXX3FUND
                      value: ''
                      type: String
                    - name: XXXX3APPDFUND
                      value: ''
                      type: String
                    - name: XXXX3COBJ
                      value: ''
                      type: String
                    - name: XXXX3AOBJ
                      value: ''
                      type: String
                    - name: XXXX3DEPAGENCY
                      value: ''
                      type: String
              additionalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom00
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom29
                  value: XXXXXXXXXXXX
    GetRequestID-S-CC-Partial-CLX:
      value:
        accountid: 1000000001
        currencycode: USD
        userid: user
        ecomind: E
        cof: C
        cofscheduled: 'N'
        openiniframe: 'Y'
        redirecturl: https://www.xyz.com/receive
        redirectionurlonerror: '#'
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        type: C
        reference: null
        transactiontype: S
        paymentmode: CC
        cvvrequired: 'Y'
        language: en-US
        useboltdevice: 'Y'
        devicehsn: '122353253252'
        sendemailreceipts: 'Y'
        parenturi: https://demo.abc.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        forceusertoenteraddress: 'Y'
        transactionamount: 10
        payments:
          - mode: CC
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
        templateid: '102'
        duplicateredirecturl: '#'
        cancelredirecturl: '#'
        user:
          userfirstname: John
          userlastname: Smith
          useremail: johns@xyz.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        companycode: '100'
        ordertype: ''
        branchplant: ''
        customerid: '4242'
        supplierid: '14343'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        purchaseorder: '1243'
        adderpcustomerinsnappay: 'N'
        customer:
          customername: ''
          addressline1: ''
          addressline2: ''
          city: ''
          state: ''
          zipcode: ''
          country: ''
          phone: ''
          email: ''
          vatregistrationnumber: ''
        supplier:
          suppliername: Battery Builders
          addressline1: 31W238 91st St,
          addressline2: ''
          city: Naperville
          state: IL
          zipcode: '60564'
          country: US
          phone: (123) 123-1234
          email: test@abc.com
          identificationtype: ''
          identificationdata: 12/12/1961
          companyname: Battery Builders
          clientcompanyname: Fiserv
          internalmemo: ''
          comments: ''
          reason: ''
          status: ''
        level3:
          - linenumber: '1.000'
            productcode: ROS01
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Mixed Bouquet
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: BQT02
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Spring Bouquet
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
        clxstream:
          - transaction:
              merchantid: ''
              localreferenceid: XXXXXXXXXXX
              type: XXXXXXX
              description: Description
              unitprice: 16
              quantity: 1
              sku: XXXXXXXX
              company: Company
              fee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '0'
              reportlinedetails: null
              additionalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom00
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom29
                  value: XXXXXXXXXXXX
          - feetransaction:
              merchantid: ''
              localreferenceid: XXXXXXXXXXX
              type: XXXXXXX
              description: Description
              unitPrice: 1
              quantity: 1
              sku: XXXXXXXX
              company: Company
              conveniencefee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '0'
              reportlinedetails: null
              additionalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom00
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom29
                  value: XXXXXXXXXXXX
    GetRequestID-S-CC:
      value:
        accountid: 1000000001
        currencycode: USD
        userid: user
        ecomind: E
        cof: C
        cofscheduled: 'N'
        openiniframe: 'Y'
        redirecturl: https://www.xyz.com/receive
        redirectionurlonerror: '#'
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        type: C
        reference: null
        transactiontype: S
        paymentmode: CC
        cvvrequired: 'Y'
        language: en-US
        useboltdevice: 'Y'
        devicehsn: '122353253252'
        sendemailreceipts: 'Y'
        parenturi: https://demo.abc.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        forceusertoenteraddress: 'Y'
        transactionamount: 10
        payments:
          - mode: CC
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
        templateid: '102'
        duplicateredirecturl: '#'
        cancelredirecturl: '#'
        user:
          userfirstname: John
          userlastname: Smith
          useremail: johns@xyz.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        companycode: '100'
        ordertype: ''
        branchplant: ''
        customerid: '4242'
        supplierid: '14343'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        purchaseorder: '1243'
        adderpcustomerinsnappay: 'N'
        customer:
          customername: ''
          addressline1: ''
          addressline2: ''
          city: ''
          state: ''
          zipcode: ''
          country: ''
          phone: ''
          email: ''
          vatregistrationnumber: ''
        supplier:
          suppliername: Battery Builders
          addressline1: 31W238 91st St,
          addressline2: ''
          city: Naperville
          state: IL
          zipcode: '60564'
          country: US
          phone: (123) 123-1234
          email: test@abc.com
          identificationtype: ''
          identificationdata: 12/12/1961
          companyname: Battery Builders
          clientcompanyname: Fiserv
          internalmemo: ''
          comments: ''
          reason: ''
          status: ''
        level3:
          - linenumber: '1.000'
            productcode: ROS01
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Mixed Bouquet
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: BQT02
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Spring Bouquet
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
        clxstream: null
    GetRequestID-S-CCACH-CLX:
      value:
        accountid: 1000000001
        currencycode: USD
        userid: user
        ecomind: E
        cof: C
        cofscheduled: 'N'
        openiniframe: 'Y'
        redirecturl: https://www.xyz.com/receive
        redirectionurlonerror: '#'
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        type: C
        reference: null
        transactiontype: S
        paymentmode: CC,ACH
        cvvrequired: 'Y'
        language: en-US
        useboltdevice: 'Y'
        devicehsn: '122353253252'
        sendemailreceipts: 'Y'
        parenturi: https://demo.abc.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        forceusertoenteraddress: 'N'
        transactionamount: 10
        payments:
          - mode: CC
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
          - mode: ACH
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
        templateid: '102'
        duplicateredirecturl: '#'
        cancelredirecturl: '#'
        user:
          userfirstname: John
          userlastname: Smith
          useremail: johns@xyz.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        companycode: '100'
        ordertype: ''
        branchplant: ''
        customerid: '4242'
        supplierid: '14343'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        purchaseorder: '1243'
        adderpcustomerinsnappay: 'N'
        customer:
          customername: ''
          addressline1: ''
          addressline2: ''
          city: ''
          state: ''
          zipcode: ''
          country: ''
          phone: ''
          email: ''
          vatregistrationnumber: ''
        supplier:
          suppliername: Battery Builders
          addressline1: 31W238 91st St,
          addressline2: ''
          city: Naperville
          state: IL
          zipcode: '60564'
          country: US
          phone: (123) 123-1234
          email: test@abc.com
          identificationtype: ''
          identificationdata: 12/12/1961
          companyname: Battery Builders
          clientcompanyname: Fiserv
          internalmemo: ''
          comments: ''
          reason: ''
          status: ''
        level3:
          - linenumber: '1.000'
            productcode: ROS01
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Mixed Bouquet
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: BQT02
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Spring Bouquet
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
        clxstream:
          - transaction:
              merchantid: ''
              localreferenceid: XXXXXXXXXXX
              type: XXXXXXX
              description: Description
              unitprice: 16
              quantity: 1
              sku: XXXXXXXX
              company: Company
              fee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '3'
              reportlinedetails:
                - id: XXXX1
                  attributes:
                    - name: XXXX1AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX1AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX1OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX1PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX1TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX1INDEX
                      value: ''
                      type: String
                    - name: XXXX1FUND
                      value: ''
                      type: String
                    - name: XXXX1APPDFUND
                      value: ''
                      type: String
                    - name: XXXX1COBJ
                      value: ''
                      type: String
                    - name: XXXX1AOBJ
                      value: ''
                      type: String
                    - name: XXXX1DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX2
                  attributes:
                    - name: XXXX2AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX2AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX2FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX2OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX2PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX2TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX2INDEX
                      value: ''
                      type: String
                    - name: XXXX2FUND
                      value: ''
                      type: String
                    - name: XXXX2APPDFUND
                      value: ''
                      type: String
                    - name: XXXX2COBJ
                      value: ''
                      type: String
                    - name: XXXX2AOBJ
                      value: ''
                      type: String
                    - name: XXXX2DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX3
                  attributes:
                    - name: XXXX3AMOUNT
                      value: '15.0'
                      type: DOLLAR
                    - name: XXXX3AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX3FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX3OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX3PCA
                      value: 'XXXX'
                      type: String
                    - name: XXXX3TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX3INDEX
                      value: ''
                      type: String
                    - name: XXXX3FUND
                      value: ''
                      type: String
                    - name: XXXX3APPDFUND
                      value: ''
                      type: String
                    - name: XXXX3COBJ
                      value: ''
                      type: String
                    - name: XXXX3AOBJ
                      value: ''
                      type: String
                    - name: XXXX3DEPAGENCY
                      value: ''
                      type: String
              additionalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom00
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom29
                  value: XXXXXXXXXXXX
          - feetransaction:
              merchantid: ''
              localreferenceid: XXXXXXXXXXX
              type: XXXXXXX
              description: Description
              unitPrice: 1
              quantity: 1
              sku: XXXXXXXX
              company: Company
              conveniencefee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '3'
              reportlinedetails:
                - id: XXXX1
                  attributes:
                    - name: XXXX1AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX1AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX1OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX1PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX1TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX1INDEX
                      value: ''
                      type: String
                    - name: XXXX1FUND
                      value: ''
                      type: String
                    - name: XXXX1APPDFUND
                      value: ''
                      type: String
                    - name: XXXX1COBJ
                      value: ''
                      type: String
                    - name: XXXX1AOBJ
                      value: ''
                      type: String
                    - name: XXXX1DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX2
                  attributes:
                    - name: XXXX2AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX2AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX2FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX2OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX2PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX2TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX2INDEX
                      value: ''
                      type: String
                    - name: XXXX2FUND
                      value: ''
                      type: String
                    - name: XXXX2APPDFUND
                      value: ''
                      type: String
                    - name: XXXX2COBJ
                      value: ''
                      type: String
                    - name: XXXX2AOBJ
                      value: ''
                      type: String
                    - name: XXXX2DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX3
                  attributes:
                    - name: XXXX3AMOUNT
                      value: '15.0'
                      type: DOLLAR
                    - name: XXXX3AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX3FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX3OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX3PCA
                      value: 'XXXX'
                      type: String
                    - name: XXXX3TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX3INDEX
                      value: ''
                      type: String
                    - name: XXXX3FUND
                      value: ''
                      type: String
                    - name: XXXX3APPDFUND
                      value: ''
                      type: String
                    - name: XXXX3COBJ
                      value: ''
                      type: String
                    - name: XXXX3AOBJ
                      value: ''
                      type: String
                    - name: XXXX3DEPAGENCY
                      value: ''
                      type: String
              additionalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom00
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom29
                  value: XXXXXXXXXXXX
    GetRequestID-S-CCACH-Partial-CLX:
      value:
        accountid: 1000000001
        currencycode: USD
        userid: user
        ecomind: E
        cof: C
        cofscheduled: 'N'
        openiniframe: 'Y'
        redirecturl: https://www.xyz.com/receive
        redirectionurlonerror: '#'
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        type: C
        reference: null
        transactiontype: S
        paymentmode: CC,ACH
        cvvrequired: 'Y'
        language: en-US
        useboltdevice: 'Y'
        devicehsn: '122353253252'
        sendemailreceipts: 'Y'
        parenturi: https://demo.abc.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        forceusertoenteraddress: 'N'
        transactionamount: 10
        payments:
          - mode: CC
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
          - mode: ACH
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
        templateid: '102'
        duplicateredirecturl: '#'
        cancelredirecturl: '#'
        user:
          userfirstname: John
          userlastname: Smith
          useremail: johns@xyz.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        companycode: '100'
        ordertype: ''
        branchplant: ''
        customerid: '4242'
        supplierid: '14343'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        purchaseorder: '1243'
        adderpcustomerinsnappay: 'N'
        customer:
          customername: ''
          addressline1: ''
          addressline2: ''
          city: ''
          state: ''
          zipcode: ''
          country: ''
          phone: ''
          email: ''
          vatregistrationnumber: ''
        supplier:
          suppliername: Battery Builders
          addressline1: 31W238 91st St,
          addressline2: ''
          city: Naperville
          state: IL
          zipcode: '60564'
          country: US
          phone: (123) 123-1234
          email: test@abc.com
          identificationtype: ''
          identificationdata: 12/12/1961
          companyname: Battery Builders
          clientcompanyname: Fiserv
          internalmemo: ''
          comments: ''
          reason: ''
          status: ''
        level3:
          - linenumber: '1.000'
            productcode: ROS01
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Mixed Bouquet
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: BQT02
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Spring Bouquet
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
        clxstream:
          - transaction:
              merchantid: ''
              localreferenceid: XXXXXXXXXXX
              type: XXXXXXX
              description: Description
              unitprice: 16
              quantity: 1
              sku: XXXXXXXX
              company: Company
              fee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '0'
              reportlinedetails: null
              additionalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom00
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom29
                  value: XXXXXXXXXXXX
          - feetransaction:
              merchantid: ''
              localreferenceid: XXXXXXXXXXX
              type: XXXXXXX
              description: Description
              unitPrice: 1
              quantity: 1
              sku: XXXXXXXX
              company: Company
              conveniencefee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '0'
              reportlinedetails: null
              additionalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom00
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom29
                  value: XXXXXXXXXXXX
    GetRequestID-S-CCACH:
      value:
        accountid: 1000000001
        currencycode: USD
        userid: user
        ecomind: E
        cof: C
        cofscheduled: 'N'
        openiniframe: 'Y'
        redirecturl: https://www.xyz.com/receive
        redirectionurlonerror: '#'
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        type: C
        reference: null
        transactiontype: S
        paymentmode: CC,ACH
        cvvrequired: 'Y'
        language: en-US
        useboltdevice: 'Y'
        devicehsn: '122353253252'
        sendemailreceipts: 'Y'
        parenturi: https://demo.abc.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        forceusertoenteraddress: 'N'
        transactionamount: 10
        payments:
          - mode: CC
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
          - mode: ACH
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
        templateid: '102'
        duplicateredirecturl: '#'
        cancelredirecturl: '#'
        user:
          userfirstname: John
          userlastname: Smith
          useremail: johns@xyz.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        companycode: '100'
        ordertype: ''
        branchplant: ''
        customerid: '4242'
        supplierid: '14343'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        purchaseorder: '1243'
        adderpcustomerinsnappay: 'N'
        customer:
          customername: ''
          addressline1: ''
          addressline2: ''
          city: ''
          state: ''
          zipcode: ''
          country: ''
          phone: ''
          email: ''
          vatregistrationnumber: ''
        supplier:
          suppliername: Battery Builders
          addressline1: 31W238 91st St,
          addressline2: ''
          city: Naperville
          state: IL
          zipcode: '60564'
          country: US
          phone: (123) 123-1234
          email: test@abc.com
          identificationtype: ''
          identificationdata: 12/12/1961
          companyname: Battery Builders
          clientcompanyname: Fiserv
          internalmemo: ''
          comments: ''
          reason: ''
          status: ''
        level3:
          - linenumber: '1.000'
            productcode: ROS01
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Mixed Bouquet
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: BQT02
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Spring Bouquet
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
        clxstream: null
    GetRequestID-T-CC:
      value:
        accountid: 1000000001
        companycode: '00200'
        currencycode: USD
        transactionType: T
        paymentmode: CC
        templateid: '102'
        language: en-US
        stylecss: 'width: 50.50%;height:50.50%;'
        customerid: '100'
        userid: user1
        savepaymentmethod: 'N'
        saveatcustomer: 'N'
        displaycardssavedatcustomer: 'N'
        redirecturl: https://www.google.com/
        transactionamount: 0
        parenturi: https://company.com
        displaycardname: 'Y'
        displayaddress: 'N'
    GetRequestID-T-ACH:
      value:
        accountid: 1000000001
        companycode: '00200'
        currencycode: USD
        transactionType: T
        paymentmode: ACH
        templateid: 102
        language: en-US
        stylecss: 'width: 50.50%;height:50.50%;'
        customerid: '100'
        userid: user1
        savepaymentmethod: 'N'
        saveatcustomer: 'N'
        displaycardssavedatcustomer: 'N'
        redirecturl: https://www.google.com/
        transactionamount: 0
        parenturi: https://company.com
        displaycardname: 'Y'
        displayaddress: 'N'
        
    ChargeMultiTransaction-CC-CLX:
      value:
        accountid: 1000000001
        userid: user
        ecomind: E
        cof: C
        cofscheduled: 'N'
        transactions:
          - merchantid: XXXXXXXXXXXXX
            currencycode: USD
            companycode: '100'
            customerid: '4242'
            branchplant: string
            ordertype: string
            orderid: '123456'
            orderdate: ''
            invoiceid: string
            sendemailreceipts: 'N'
            purchaseorder: string
            shipfromzip: string
            shiptozip: string
            shiptocountry: US
            paymentmethod:
              tokenid: 9XXXXXXXXXXXX1111
              transactionamount: '16.00'
              cvv: ''
              customername: ABC Financial
              addressline1: 100 Ave
              city: Aurora
              state: IL
              zip: '60603'
              country: US
              email: first.last@company.com
              phonenumber: ''
              type: VISA
              last4: '1111'
              expirationdate: "082025"
              routingnumber: ''
              secureflag: '05'
              securevalue: ''
              securexid: ''
              dstxnid: ''
            level3:
              - linenumber: '1.000'
                productcode: '1'
                taxrate: '0'
                quantity: '1'
[...]
