openapi: 3.0.2
info:
  title: SnapPay
  description: >-
    Digitally transform your payment process with certified ERP integration to
    improve working capital and increase efficiencies. SnapPay from Fiserv,
    integrates with popular ERP solutions and shopping cart solutions to serve
    the holistic B2B payment needs of enterprise-size businesses.
  
  version: 3.0.9
servers:
  - url: https://Snappaydirectapi-cert.fiserv.com/
  - url: https://demo1.cditechnology.com/SnapPay/REST/
    
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  examples:
  
    GetRequestID-S-ACH-CLX:
      value:
        accountid: 1000000001
        currencycode: USD
        userid: 'user'
        ecomind: 'E'
        cof: 'C'
        cofscheduled: 'N'
        openiniframe: 'Y'
        redirecturl: https://www.xyz.com/receive
        redirectionurlonerror: '#'
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        type: 'C'
        reference: null
        transactiontype: 'S'
        paymentmode: 'CC'
        cvvrequired: 'Y'
        language: 'en-US'
        useboltdevice: 'Y'
        devicehsn: '122353253252'
        sendemailreceipts: 'Y'
        parenturi: https://demo.abc.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        forceusertoenteraddress: 'Y'
        transactionamount: 10
        payments:
          - mode: ACH
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
        templateid: '102'
        duplicateredirecturl: '#'
        cancelredirecturl: '#'
        user:
          userfirstname: John
          userlastname: Smith
          useremail: johns@xyz.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        companycode: '100'
        ordertype: ''
        branchplant: ''
        customerid: '4242'
        supplierid: '14343'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        purchaseorder: '1243'
        adderpcustomerinsnappay: 'N'
        customer:
          customername: ''
          addressline1: ''
          addressline2: ''
          city: ''
          state: ''
          zipcode: ''
          country: ''
          phone: ''
          email: ''
          vatregistrationnumber: ''
        supplier:
          suppliername: Battery Builders
          addressline1: 31W238 91st St,
          addressline2: ''
          city: Naperville
          state: IL
          zipcode: '60564'
          country: US
          phone: (123) 123-1234
          email: test@abc.com
          identificationtype: ''
          identificationdata: 12/12/1961
          companyname: Battery Builders
          clientcompanyname: Fiserv
          internalmemo: ''
          comments: ''
          reason: ''
          status: ''
        level3:
          - linenumber: '1.000'
            productcode: ROS01
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Mixed Bouquet
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: BQT02
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Spring Bouquet
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
        clxstream:
          - transaction:
              merchantid: ''
              localreferenceid: XXXXXXXXX
              type: XXXXXXXX
              description: Description
              unitprice: 16
              quantity: 1
              sku: XXXXXXXXXX
              company: Company
              fee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '3'
              reportlinedetails:
                - id: XXXX1
                  attributes:
                    - name: XXXX1AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX1AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX1OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX1PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX1TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX1INDEX
                      value: ''
                      type: String
                    - name: XXXX1FUND
                      value: ''
                      type: String
                    - name: XXXX1APPDFUND
                      value: ''
                      type: String
                    - name: XXXX1COBJ
                      value: ''
                      type: String
                    - name: XXXX1AOBJ
                      value: ''
                      type: String
                    - name: XXXX1DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX2
                  attributes:
                    - name: XXXX2AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX2AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX2FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX2OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX2PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX2TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX2INDEX
                      value: ''
                      type: String
                    - name: XXXX2FUND
                      value: ''
                      type: String
                    - name: XXXX2APPDFUND
                      value: ''
                      type: String
                    - name: XXXX2COBJ
                      value: ''
                      type: String
                    - name: XXXX2AOBJ
                      value: ''
                      type: String
                    - name: XXXX2DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX3
                  attributes:
                    - name: XXXX3AMOUNT
                      value: '15.0'
                      type: DOLLAR
                    - name: XXXX3AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX3FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX3OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX3PCA
                      value: 'XXXX'
                      type: String
                    - name: XXXX3TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX3INDEX
                      value: ''
                      type: String
                    - name: XXXX3FUND
                      value: ''
                      type: String
                    - name: XXXX3APPDFUND
                      value: ''
                      type: String
                    - name: XXXX3COBJ
                      value: ''
                      type: String
                    - name: XXXX3AOBJ
                      value: ''
                      type: String
                    - name: XXXX3DEPAGENCY
                      value: ''
                      type: String
                    - name: XXXXLINES
                      value: '3'
                      type: String
              additonalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom05
                  value: XXXXXXXXXXXX
                - key: custom30
                  value: XXXXXXXXXXXX
          - feetransaction:
              merchantid: ''
              localreferenceid: XXXXXXXXXXX
              type: XXXXXXX
              description: Description
              unitPrice: 1
              quantity: 1
              sku: XXXXXXXX
              company: Company
              conveniencefee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '3'
              reportlinedetails:
                - id: XXXX1
                  attributes:
                    - name: XXXX1AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX1AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX1OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX1PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX1TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX1INDEX
                      value: ''
                      type: String
                    - name: XXXX1FUND
                      value: ''
                      type: String
                    - name: XXXX1APPDFUND
                      value: ''
                      type: String
                    - name: XXXX1COBJ
                      value: ''
                      type: String
                    - name: XXXX1AOBJ
                      value: ''
                      type: String
                    - name: XXXX1DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX2
                  attributes:
                    - name: XXXX2AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX2AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX2FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX2OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX2PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX2TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX2INDEX
                      value: ''
                      type: String
                    - name: XXXX2FUND
                      value: ''
                      type: String
                    - name: XXXX2APPDFUND
                      value: ''
                      type: String
                    - name: XXXX2COBJ
                      value: ''
                      type: String
                    - name: XXXX2AOBJ
                      value: ''
                      type: String
                    - name: XXXX2DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX3
                  attributes:
                    - name: XXXX3AMOUNT
                      value: '15.0'
                      type: DOLLAR
                    - name: XXXX3AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX3FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX3OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX3PCA
                      value: 'XXXX'
                      type: String
                    - name: XXXX3TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX3INDEX
                      value: ''
                      type: String
                    - name: XXXX3FUND
                      value: ''
                      type: String
                    - name: XXXX3APPDFUND
                      value: ''
                      type: String
                    - name: XXXX3COBJ
                      value: ''
                      type: String
                    - name: XXXX3AOBJ
                      value: ''
                      type: String
                    - name: XXXX3DEPAGENCY
                      value: ''
                      type: String
                    - name: XXXXLINES
                      value: '3'
                      type: String
              additonalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom05
                  value: XXXXXXXXXXXX
                - key: custom30
                  value: XXXXXXXXXXXX
    GetRequestID-S-ACH:
      value:
        accountid: 1000000001
        currencycode: USD
        userid: user
        ecomind: E
        cof: C
        cofscheduled: 'N'
        openiniframe: 'Y'
        redirecturl: https://www.xyz.com/receive
        redirectionurlonerror: '#'
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        type: C
        reference: null
        transactiontype: S
        paymentmode: CC
        cvvrequired: 'Y'
        language: en-US
        useboltdevice: 'Y'
        devicehsn: '122353253252'
        sendemailreceipts: 'Y'
        parenturi: https://demo.abc.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        forceusertoenteraddress: 'Y'
        transactionamount: 10
        payments:
          - mode: ACH
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
        templateid: '102'
        duplicateredirecturl: '#'
        cancelredirecturl: '#'
        user:
          userfirstname: John
          userlastname: Smith
          useremail: johns@xyz.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        companycode: '100'
        ordertype: ''
        branchplant: ''
        customerid: '4242'
        supplierid: '14343'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        purchaseorder: '1243'
        adderpcustomerinsnappay: 'N'
        customer:
          customername: ''
          addressline1: ''
          addressline2: ''
          city: ''
          state: ''
          zipcode: ''
          country: ''
          phone: ''
          email: ''
          vatregistrationnumber: ''
        supplier:
          suppliername: Battery Builders
          addressline1: 15th St,
          addressline2: ''
          city: Naperville
          state: IL
          zipcode: '60564'
          country: US
          phone: (123) 123-1234
          email: test@abc.com
          identificationtype: ''
          identificationdata: 12/12/1961
          companyname: Battery Builders
          clientcompanyname: Company
          internalmemo: ''
          comments: ''
          reason: ''
          status: ''
        level3:
          - linenumber: '1.000'
            productcode: ROS01
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Mixed Bouquet
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: BQT02
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Spring Bouquet
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
        clxstream: null
    GetRequestID-S-CC-CLX:
      value:
        accountid: 1000000001
        currencycode: USD
        userid: user
        ecomind: E
        cof: C
        cofscheduled: 'N'
        openiniframe: 'Y'
        redirecturl: https://www.xyz.com/receive
        redirectionurlonerror: '#'
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        type: C
        reference: null
        transactiontype: S
        paymentmode: CC
        cvvrequired: 'Y'
        language: en-US
        useboltdevice: 'Y'
        devicehsn: '122353253252'
        sendemailreceipts: 'Y'
        parenturi: https://demo.abc.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        forceusertoenteraddress: 'Y'
        transactionamount: 10
        payments:
          - mode: CC
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
        templateid: '102'
        duplicateredirecturl: '#'
        cancelredirecturl: '#'
        user:
          userfirstname: John
          userlastname: Smith
          useremail: johns@xyz.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        companycode: '100'
        ordertype: ''
        branchplant: ''
        customerid: '4242'
        supplierid: '14343'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        purchaseorder: '1243'
        adderpcustomerinsnappay: 'N'
        customer:
          customername: ''
          addressline1: ''
          addressline2: ''
          city: ''
          state: ''
          zipcode: ''
          country: ''
          phone: ''
          email: ''
          vatregistrationnumber: ''
        supplier:
          suppliername: Battery Builders
          addressline1: 31W238 91st St,
          addressline2: ''
          city: Naperville
          state: IL
          zipcode: '60564'
          country: US
          phone: (123) 123-1234
          email: test@abc.com
          identificationtype: ''
          identificationdata: 12/12/1961
          companyname: Battery Builders
          clientcompanyname: Fiserv
          internalmemo: ''
          comments: ''
          reason: ''
          status: ''
        level3:
          - linenumber: '1.000'
            productcode: ROS01
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Mixed Bouquet
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: BQT02
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Spring Bouquet
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
        clxstream:
          - transaction:
              merchantid: ''
              localreferenceid: XXXXXXXXXXX
              type: XXXXXXX
              description: Description
              unitprice: 16
              quantity: 1
              sku: XXXXXXXX
              company: Company
              fee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '3'
              reportlinedetails:
                - id: XXXX1
                  attributes:
                    - name: XXXX1AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX1AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX1OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX1PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX1TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX1INDEX
                      value: ''
                      type: String
                    - name: XXXX1FUND
                      value: ''
                      type: String
                    - name: XXXX1APPDFUND
                      value: ''
                      type: String
                    - name: XXXX1COBJ
                      value: ''
                      type: String
                    - name: XXXX1AOBJ
                      value: ''
                      type: String
                    - name: XXXX1DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX2
                  attributes:
                    - name: XXXX2AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX2AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX2FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX2OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX2PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX2TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX2INDEX
                      value: ''
                      type: String
                    - name: XXXX2FUND
                      value: ''
                      type: String
                    - name: XXXX2APPDFUND
                      value: ''
                      type: String
                    - name: XXXX2COBJ
                      value: ''
                      type: String
                    - name: XXXX2AOBJ
                      value: ''
                      type: String
                    - name: XXXX2DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX3
                  attributes:
                    - name: XXXX3AMOUNT
                      value: '15.0'
                      type: DOLLAR
                    - name: XXXX3AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX3FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX3OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX3PCA
                      value: 'XXXX'
                      type: String
                    - name: XXXX3TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX3INDEX
                      value: ''
                      type: String
                    - name: XXXX3FUND
                      value: ''
                      type: String
                    - name: XXXX3APPDFUND
                      value: ''
                      type: String
                    - name: XXXX3COBJ
                      value: ''
                      type: String
                    - name: XXXX3AOBJ
                      value: ''
                      type: String
                    - name: XXXX3DEPAGENCY
                      value: ''
                      type: String
              additonalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom05
                  value: XXXXXXXXXXXX
                - key: custom30
                  value: XXXXXXXXXXXX
          - feetransaction:
              merchantid: ''
              localreferenceid: XXXXXXXXXXX
              type: XXXXXXX
              description: Description
              unitPrice: 1
              quantity: 1
              sku: XXXXXXXX
              company: Company
              conveniencefee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '3'
              reportlinedetails:
                - id: XXXX1
                  attributes:
                    - name: XXXX1AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX1AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX1OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX1PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX1TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX1INDEX
                      value: ''
                      type: String
                    - name: XXXX1FUND
                      value: ''
                      type: String
                    - name: XXXX1APPDFUND
                      value: ''
                      type: String
                    - name: XXXX1COBJ
                      value: ''
                      type: String
                    - name: XXXX1AOBJ
                      value: ''
                      type: String
                    - name: XXXX1DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX2
                  attributes:
                    - name: XXXX2AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX2AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX2FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX2OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX2PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX2TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX2INDEX
                      value: ''
                      type: String
                    - name: XXXX2FUND
                      value: ''
                      type: String
                    - name: XXXX2APPDFUND
                      value: ''
                      type: String
                    - name: XXXX2COBJ
                      value: ''
                      type: String
                    - name: XXXX2AOBJ
                      value: ''
                      type: String
                    - name: XXXX2DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX3
                  attributes:
                    - name: XXXX3AMOUNT
                      value: '15.0'
                      type: DOLLAR
                    - name: XXXX3AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX3FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX3OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX3PCA
                      value: 'XXXX'
                      type: String
                    - name: XXXX3TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX3INDEX
                      value: ''
                      type: String
                    - name: XXXX3FUND
                      value: ''
                      type: String
                    - name: XXXX3APPDFUND
                      value: ''
                      type: String
                    - name: XXXX3COBJ
                      value: ''
                      type: String
                    - name: XXXX3AOBJ
                      value: ''
                      type: String
                    - name: XXXX3DEPAGENCY
                      value: ''
                      type: String
              additonalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom05
                  value: XXXXXXXXXXXX
                - key: custom30
                  value: XXXXXXXXXXXX
    GetRequestID-S-CC:
      value:
        accountid: 1000000001
        currencycode: USD
        userid: user
        ecomind: E
        cof: C
        cofscheduled: 'N'
        openiniframe: 'Y'
        redirecturl: https://www.xyz.com/receive
        redirectionurlonerror: '#'
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        type: C
        reference: null
        transactiontype: S
        paymentmode: CC
        cvvrequired: 'Y'
        language: en-US
        useboltdevice: 'Y'
        devicehsn: '122353253252'
        sendemailreceipts: 'Y'
        parenturi: https://demo.abc.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        forceusertoenteraddress: 'Y'
        transactionamount: 10
        payments:
          - mode: CC
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
        templateid: '102'
        duplicateredirecturl: '#'
        cancelredirecturl: '#'
        user:
          userfirstname: John
          userlastname: Smith
          useremail: johns@xyz.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        companycode: '100'
        ordertype: ''
        branchplant: ''
        customerid: '4242'
        supplierid: '14343'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        purchaseorder: '1243'
        adderpcustomerinsnappay: 'N'
        customer:
          customername: ''
          addressline1: ''
          addressline2: ''
          city: ''
          state: ''
          zipcode: ''
          country: ''
          phone: ''
          email: ''
          vatregistrationnumber: ''
        supplier:
          suppliername: Battery Builders
          addressline1: 31W238 91st St,
          addressline2: ''
          city: Naperville
          state: IL
          zipcode: '60564'
          country: US
          phone: (123) 123-1234
          email: test@abc.com
          identificationtype: ''
          identificationdata: 12/12/1961
          companyname: Battery Builders
          clientcompanyname: Fiserv
          internalmemo: ''
          comments: ''
          reason: ''
          status: ''
        level3:
          - linenumber: '1.000'
            productcode: ROS01
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Mixed Bouquet
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: BQT02
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Spring Bouquet
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
        clxstream: null
    GetRequestID-S-CCACH-CLX:
      value:
        accountid: 1000000001
        currencycode: USD
        userid: user
        ecomind: E
        cof: C
        cofscheduled: 'N'
        openiniframe: 'Y'
        redirecturl: https://www.xyz.com/receive
        redirectionurlonerror: '#'
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        type: C
        reference: null
        transactiontype: S
        paymentmode: CC,ACH
        cvvrequired: 'Y'
        language: en-US
        useboltdevice: 'Y'
        devicehsn: '122353253252'
        sendemailreceipts: 'Y'
        parenturi: https://demo.abc.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        forceusertoenteraddress: 'N'
        transactionamount: 10
        payments:
          - mode: CC
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
          - mode: ACH
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
        templateid: '102'
        duplicateredirecturl: '#'
        cancelredirecturl: '#'
        user:
          userfirstname: John
          userlastname: Smith
          useremail: johns@xyz.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        companycode: '100'
        ordertype: ''
        branchplant: ''
        customerid: '4242'
        supplierid: '14343'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        purchaseorder: '1243'
        adderpcustomerinsnappay: 'N'
        customer:
          customername: ''
          addressline1: ''
          addressline2: ''
          city: ''
          state: ''
          zipcode: ''
          country: ''
          phone: ''
          email: ''
          vatregistrationnumber: ''
        supplier:
          suppliername: Battery Builders
          addressline1: 31W238 91st St,
          addressline2: ''
          city: Naperville
          state: IL
          zipcode: '60564'
          country: US
          phone: (123) 123-1234
          email: test@abc.com
          identificationtype: ''
          identificationdata: 12/12/1961
          companyname: Battery Builders
          clientcompanyname: Fiserv
          internalmemo: ''
          comments: ''
          reason: ''
          status: ''
        level3:
          - linenumber: '1.000'
            productcode: ROS01
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Mixed Bouquet
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: BQT02
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Spring Bouquet
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
        clxstream:
          - transaction:
              merchantid: ''
              localreferenceid: XXXXXXXXXXX
              type: XXXXXXX
              description: Description
              unitprice: 16
              quantity: 1
              sku: XXXXXXXX
              company: Company
              fee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '3'
              reportlinedetails:
                - id: XXXX1
                  attributes:
                    - name: XXXX1AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX1AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX1OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX1PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX1TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX1INDEX
                      value: ''
                      type: String
                    - name: XXXX1FUND
                      value: ''
                      type: String
                    - name: XXXX1APPDFUND
                      value: ''
                      type: String
                    - name: XXXX1COBJ
                      value: ''
                      type: String
                    - name: XXXX1AOBJ
                      value: ''
                      type: String
                    - name: XXXX1DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX2
                  attributes:
                    - name: XXXX2AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX2AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX2FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX2OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX2PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX2TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX2INDEX
                      value: ''
                      type: String
                    - name: XXXX2FUND
                      value: ''
                      type: String
                    - name: XXXX2APPDFUND
                      value: ''
                      type: String
                    - name: XXXX2COBJ
                      value: ''
                      type: String
                    - name: XXXX2AOBJ
                      value: ''
                      type: String
                    - name: XXXX2DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX3
                  attributes:
                    - name: XXXX3AMOUNT
                      value: '15.0'
                      type: DOLLAR
                    - name: XXXX3AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX3FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX3OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX3PCA
                      value: 'XXXX'
                      type: String
                    - name: XXXX3TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX3INDEX
                      value: ''
                      type: String
                    - name: XXXX3FUND
                      value: ''
                      type: String
                    - name: XXXX3APPDFUND
                      value: ''
                      type: String
                    - name: XXXX3COBJ
                      value: ''
                      type: String
                    - name: XXXX3AOBJ
                      value: ''
                      type: String
                    - name: XXXX3DEPAGENCY
                      value: ''
                      type: String
              additonalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom05
                  value: XXXXXXXXXXXX
                - key: custom30
                  value: XXXXXXXXXXXX
          - feetransaction:
              merchantid: ''
              localreferenceid: XXXXXXXXXXX
              type: XXXXXXX
              description: Description
              unitPrice: 1
              quantity: 1
              sku: XXXXXXXX
              company: Company
              conveniencefee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '3'
              reportlinedetails:
                - id: XXXX1
                  attributes:
                    - name: XXXX1AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX1AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX1OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX1PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX1TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX1INDEX
                      value: ''
                      type: String
                    - name: XXXX1FUND
                      value: ''
                      type: String
                    - name: XXXX1APPDFUND
                      value: ''
                      type: String
                    - name: XXXX1COBJ
                      value: ''
                      type: String
                    - name: XXXX1AOBJ
                      value: ''
                      type: String
                    - name: XXXX1DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX2
                  attributes:
                    - name: XXXX2AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX2AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX2FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX2OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX2PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX2TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX2INDEX
                      value: ''
                      type: String
                    - name: XXXX2FUND
                      value: ''
                      type: String
                    - name: XXXX2APPDFUND
                      value: ''
                      type: String
                    - name: XXXX2COBJ
                      value: ''
                      type: String
                    - name: XXXX2AOBJ
                      value: ''
                      type: String
                    - name: XXXX2DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX3
                  attributes:
                    - name: XXXX3AMOUNT
                      value: '15.0'
                      type: DOLLAR
                    - name: XXXX3AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX3FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX3OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX3PCA
                      value: 'XXXX'
                      type: String
                    - name: XXXX3TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX3INDEX
                      value: ''
                      type: String
                    - name: XXXX3FUND
                      value: ''
                      type: String
                    - name: XXXX3APPDFUND
                      value: ''
                      type: String
                    - name: XXXX3COBJ
                      value: ''
                      type: String
                    - name: XXXX3AOBJ
                      value: ''
                      type: String
                    - name: XXXX3DEPAGENCY
                      value: ''
                      type: String
              additonalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom05
                  value: XXXXXXXXXXXX
                - key: custom30
                  value: XXXXXXXXXXXX
    GetRequestID-S-CCACH:
      value:
        accountid: 1000000001
        currencycode: USD
        userid: user
        ecomind: E
        cof: C
        cofscheduled: 'N'
        openiniframe: 'Y'
        redirecturl: https://www.xyz.com/receive
        redirectionurlonerror: '#'
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        type: C
        reference: null
        transactiontype: S
        paymentmode: CC,ACH
        cvvrequired: 'Y'
        language: en-US
        useboltdevice: 'Y'
        devicehsn: '122353253252'
        sendemailreceipts: 'Y'
        parenturi: https://demo.abc.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        forceusertoenteraddress: 'N'
        transactionamount: 10
        payments:
          - mode: CC
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
          - mode: ACH
            merchantid: XXXXXXXXXXXXX
            feemerchantid: XXXXXXXXXXXXX
            feeamount: 1
            feetype: Service
            feevalue: ''
            feeformat: Flat
            waivefee: ''
            feemessage: ''
        templateid: '102'
        duplicateredirecturl: '#'
        cancelredirecturl: '#'
        user:
          userfirstname: John
          userlastname: Smith
          useremail: johns@xyz.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        companycode: '100'
        ordertype: ''
        branchplant: ''
        customerid: '4242'
        supplierid: '14343'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        purchaseorder: '1243'
        adderpcustomerinsnappay: 'N'
        customer:
          customername: ''
          addressline1: ''
          addressline2: ''
          city: ''
          state: ''
          zipcode: ''
          country: ''
          phone: ''
          email: ''
          vatregistrationnumber: ''
        supplier:
          suppliername: Battery Builders
          addressline1: 31W238 91st St,
          addressline2: ''
          city: Naperville
          state: IL
          zipcode: '60564'
          country: US
          phone: (123) 123-1234
          email: test@abc.com
          identificationtype: ''
          identificationdata: 12/12/1961
          companyname: Battery Builders
          clientcompanyname: Fiserv
          internalmemo: ''
          comments: ''
          reason: ''
          status: ''
        level3:
          - linenumber: '1.000'
            productcode: ROS01
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Mixed Bouquet
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: BQT02
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Spring Bouquet
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
        clxstream: null
    GetRequestID-T-CC:
      value:
        accountid: 1000000001
        companycode: '00200'
        currencycode: USD
        transactionType: T
        paymentmethod: CC
        paymentmode: CC
        templateid: '102'
        language: en-US
        stylecss: 'width: 50.50%;height:50.50%;'
        customerid: '100'
        userid: user1
        savepaymentmethod: 'N'
        saveatcustomer: 'N'
        displaycardssavedatcustomer: 'N'
        redirecturl: https://www.google.com/
        transactionamount: 0
        parenturi: https://company.com
        displaycardname: 'Y'
        displayaddress: 'N'
    GetRequestID-T-ACH:
      value:
        accountid: 1000000001
        companycode: '00200'
        currencycode: USD
        transactionType: T
        paymentmethod: ACH
        paymentmode: ACH
        templateid: 102
        language: en-US
        stylecss: 'width: 50.50%;height:50.50%;'
        customerid: '100'
        userid: user1
        savepaymentmethod: 'N'
        saveatcustomer: 'N'
        displaycardssavedatcustomer: 'N'
        redirecturl: https://www.google.com/
        transactionamount: 0
        parenturi: https://company.com
        displaycardname: 'Y'
        displayaddress: 'N'
    ChargeMultiTransaction-CLX:
      value:
        accountid: 1000000001
        userid: user
        ecomind: E
        cof: C
        cofscheduled: 'N'
        transactions:
          - merchantid: XXXXXXXXXXXXX
            currencycode: USD
            companycode: '100'
            customerid: '4242'
            branchplant: string
            ordertype: string
            orderid: '123456'
            orderdate: ''
            invoiceid: string
            sendemailreceipts: 'N'
            purchaseorder: string
            shipfromzip: string
            shiptozip: string
            shiptocountry: US
            paymentmethod:
              tokenid: 9XXXXXXXXXXXX1111
              transactionamount: '16.00'
              cvv: ''
              customername: ABC Financial
              addressline1: 100 Ave
              city: Aurora
              state: IL
              zip: '60603'
              country: US
              email: first.last@company.com
              phonenumber: ''
              type: VISA
              last4: '1111'
              routingnumber: ''
              secureflag: '05'
              securevalue: ''
              securexid: ''
              dstxnid: ''
            level3:
              - linenumber: '1.000'
                productcode: '1'
                taxrate: '0'
                quantity: '1'
                itemdescriptor: Mixed Bouquet
                unitcost: '16.00'
                lineitemtotal: '16.00'
                taxamount: '0'
                commoditycode: ''
                unitofmeasure: EA
            userfields:
              - udf0: Value 1
              - udf1: Value 2
              - udf2: Value 3
              - udf3: Value 4
              - udf4: Value 5
              - udf5: Value 6
              - udf6: Value 7
              - udf7: Value 8
              - udf8: Value 9
              - udf9: Value 10
            clxstream:
              merchantid: ''
              localreferenceid: XXXXXXXXXXX
              type: XXXXXXX
              description: Description
              unitprice: 16
              quantity: 1
              sku: XXXXXXXX
              company: Company
              fee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '3'
              reportlinedetails:
                - id: XXXX1
                  attributes:
                    - name: XXXX1AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX1AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX1OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX1PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX1TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX1INDEX
                      value: ''
                      type: String
                    - name: XXXX1FUND
                      value: ''
                      type: String
                    - name: XXXX1APPDFUND
                      value: ''
                      type: String
                    - name: XXXX1COBJ
                      value: ''
                      type: String
                    - name: XXXX1AOBJ
                      value: ''
                      type: String
                    - name: XXXX1DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX2
                  attributes:
                    - name: XXXX2AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX2AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX2FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX2OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX2PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX2TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX2INDEX
                      value: ''
                      type: String
                    - name: XXXX2FUND
                      value: ''
                      type: String
                    - name: XXXX2APPDFUND
                      value: ''
                      type: String
                    - name: XXXX2COBJ
                      value: ''
                      type: String
                    - name: XXXX2AOBJ
                      value: ''
                      type: String
                    - name: XXXX2DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX3
                  attributes:
                    - name: XXXX3AMOUNT
                      value: '15.0'
                      type: DOLLAR
                    - name: XXXX3AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX3FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX3OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX3PCA
                      value: 'XXXX'
                      type: String
                    - name: XXXX3TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX3INDEX
                      value: ''
                      type: String
                    - name: XXXX3FUND
                      value: ''
                      type: String
                    - name: XXXX3APPDFUND
                      value: ''
                      type: String
                    - name: XXXX3COBJ
                      value: ''
                      type: String
                    - name: XXXX3AOBJ
                      value: ''
                      type: String
                    - name: XXXX3DEPAGENCY
                      value: ''
                      type: String
              additonalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom05
                  value: XXXXXXXXXXXX
                - key: custom30
                  value: XXXXXXXXXXXX
          - merchantid: XXXXXXXXXXXXX
            currencycode: USD
            companycode: '100'
            customerid: '4242'
            branchplant: string
            ordertype: string
            orderid: '123456'
            orderdate: ''
            invoiceid: string
            sendemailreceipts: 'N'
            purchaseorder: string
            shipfromzip: string
            shiptozip: string
            shiptocountry: US
            paymentmethod:
              tokenid: 9XXXXXXXXXXXX1111
              transactionamount: '1.00'
              cvv: ''
              customername: ABC Financial
              addressline1: 100 Ave
              city: Aurora
              state: IL
              zip: '60603'
              country: US
              email: first.last@company.com
              phonenumber: ''
              type: VISA
              last4: '1111'
              routingnumber: ''
              secureflag: '05'
              securevalue: ''
              securexid: ''
              dstxnid: ''
            level3:
              - linenumber: '1.000'
                productcode: '1'
                taxrate: '0'
                quantity: '1'
                itemdescriptor: Mixed Bouquet
                unitcost: '1.00'
                lineitemtotal: '1.00'
                taxamount: '0'
                commoditycode: ''
                unitofmeasure: EA
            userfields:
              - udf0: Value 1
              - udf1: Value 2
              - udf2: Value 3
              - udf3: Value 4
              - udf4: Value 5
              - udf5: Value 6
              - udf6: Value 7
              - udf7: Value 8
              - udf8: Value 9
              - udf9: Value 10
            clxstream:
              merchantid: ''
              localreferenceid: XXXXXXXXXXX
              type: XXXXXXX
              description: Description
              unitPrice: 1
              quantity: 1
              sku: XXXXXXXX
              company: Company
              conveniencefee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '3'
              reportlinedetails:
                - id: XXXX1
                  attributes:
                    - name: XXXX1AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX1AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX1OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX1PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX1TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX1INDEX
                      value: ''
                      type: String
                    - name: XXXX1FUND
                      value: ''
                      type: String
                    - name: XXXX1APPDFUND
                      value: ''
                      type: String
                    - name: XXXX1COBJ
                      value: ''
                      type: String
                    - name: XXXX1AOBJ
                      value: ''
                      type: String
                    - name: XXXX1DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX2
                  attributes:
                    - name: XXXX2AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX2AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX2FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX2OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX2PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX2TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX2INDEX
                      value: ''
                      type: String
                    - name: XXXX2FUND
                      value: ''
                      type: String
                    - name: XXXX2APPDFUND
                      value: ''
                      type: String
                    - name: XXXX2COBJ
                      value: ''
                      type: String
                    - name: XXXX2AOBJ
                      value: ''
                      type: String
                    - name: XXXX2DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX3
                  attributes:
                    - name: XXXX3AMOUNT
                      value: '15.0'
                      type: DOLLAR
                    - name: XXXX3AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX3FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX3OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX3PCA
                      value: 'XXXX'
                      type: String
                    - name: XXXX3TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX3INDEX
                      value: ''
                      type: String
                    - name: XXXX3FUND
                      value: ''
                      type: String
                    - name: XXXX3APPDFUND
                      value: ''
                      type: String
                    - name: XXXX3COBJ
                      value: ''
                      type: String
                    - name: XXXX3AOBJ
                      value: ''
                      type: String
                    - name: XXXX3DEPAGENCY
                      value: ''
                      type: String
              additonalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom05
                  value: XXXXXXXXXXXX
                - key: custom30
                  value: XXXXXXXXXXXX
    ChargeMultiTransaction:
      value:
        accountid: 1000000001
        userid: user
        ecomind: E
        cof: C
        cofscheduled: 'N'
        transactions:
          - merchantid: XXXXXXXXXXXXX
            currencycode: USD
            companycode: '100'
            customerid: '4242'
            branchplant: string
            ordertype: string
            orderid: '123456'
            orderdate: ''
            invoiceid: string
            sendemailreceipts: 'N'
            purchaseorder: string
            shipfromzip: string
            shiptozip: string
            shiptocountry: US
            paymentmethod:
              tokenid: 9XXXXXXXXXXXX1111
              transactionamount: '16.00'
              cvv: ''
              customername: ABC Financial
              addressline1: 100 Ave
              city: Aurora
              state: IL
              zip: '60603'
              country: US
              email: first.last@company.com
              phonenumber: ''
              type: VISA
              last4: '1111'
              routingnumber: ''
              secureflag: '05'
              securevalue: ''
              securexid: ''
              dstxnid: ''
            level3:
              - linenumber: '1.000'
                productcode: '1'
                taxrate: '0'
                quantity: '1'
                itemdescriptor: Mixed Bouquet
                unitcost: '16.00'
                lineitemtotal: '16.00'
                taxamount: '0'
                commoditycode: ''
                unitofmeasure: EA
            userfields:
              - udf0: Value 1
              - udf1: Value 2
              - udf2: Value 3
              - udf3: Value 4
              - udf4: Value 5
              - udf5: Value 6
              - udf6: Value 7
              - udf7: Value 8
              - udf8: Value 9
              - udf9: Value 10
            clxstream: null
          - merchantid: XXXXXXXXXXXXX
            currencycode: USD
            companycode: '100'
            customerid: '4242'
            branchplant: string
            ordertype: string
            orderid: '123456'
            orderdate: ''
            invoiceid: string
            sendemailreceipts: 'N'
            purchaseorder: string
            shipfromzip: string
            shiptozip: string
            shiptocountry: US
            paymentmethod:
              tokenid: 9XXXXXXXXXXXX1111
              transactionamount: '1.00'
              cvv: ''
              customername: ABC Financial
              addressline1: 100 Ave
              city: Aurora
              state: IL
              zip: '60603'
              country: US
              email: first.last@company.com
              phonenumber: ''
              type: VISA
              last4: '1111'
              routingnumber: ''
              secureflag: '05'
              securevalue: ''
              securexid: ''
              dstxnid: ''
            level3:
              - linenumber: '1.000'
                productcode: '1'
                taxrate: '0'
                quantity: '1'
                itemdescriptor: Mixed Bouquet
                unitcost: '1.00'
                lineitemtotal: '1.00'
                taxamount: '0'
                commoditycode: ''
                unitofmeasure: EA
            userfields:
              - udf0: Value 1
              - udf1: Value 2
              - udf2: Value 3
              - udf3: Value 4
              - udf4: Value 5
              - udf5: Value 6
              - udf6: Value 7
              - udf7: Value 8
              - udf8: Value 9
              - udf9: Value 10
            clxstream: null
    ChargeSingleTransaction-CLX:  
      value:
        accountid: 1000000001
        userid: user
        ecomind: E
        cof: C
        cofscheduled: 'N'
        transactions:
          - merchantid: XXXXXXXXXXXXX
            currencycode: USD
            companycode: '100'
            customerid: '4242'
            branchplant: string
            ordertype: string
            orderid: '123456'
            orderdate: ''
            invoiceid: string
            sendemailreceipts: 'N'
            purchaseorder: string
            shipfromzip: string
            shiptozip: string
            shiptocountry: US
            paymentmethod:
              tokenid: 9XXXXXXXXXXXX1111
              transactionamount: '16.00'
              cvv: ''
              customername: ABC Financial
              addressline1: 100 Ave
              city: Aurora
              state: IL
              zip: '60603'
              country: US
              email: first.last@company.com
              phonenumber: ''
              type: VISA
              last4: '1111'
              routingnumber: ''
              secureflag: '05'
              securevalue: ''
              securexid: ''
              dstxnid: ''
            level3:
              - linenumber: '1.000'
                productcode: '1'
                taxrate: '0'
                quantity: '1'
                itemdescriptor: Mixed Bouquet
                unitcost: '16.00'
                lineitemtotal: '16.00'
                taxamount: '0'
                commoditycode: ''
                unitofmeasure: EA
            userfields:
              - udf0: Value 1
              - udf1: Value 2
              - udf2: Value 3
              - udf3: Value 4
              - udf4: Value 5
              - udf5: Value 6
              - udf6: Value 7
              - udf7: Value 8
              - udf8: Value 9
              - udf9: Value 10
            clxstream:
              merchantid: ''
              localreferenceid: XXXXXXXXXXX
              type: XXXXXXX
              description: Description
              unitprice: 16
              quantity: 1
              sku: XXXXXXXX
              company: Company
              fee: '1.00'
              department: 'Department'
              vendorid: ''
              customerid: ''
              agency: ''
              batchid: ''
              reportlines: '3'
              reportlinedetails:
                - id: XXXX1
                  attributes:
                    - name: XXXX1AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX1AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX1OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX1PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX1TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX1INDEX
                      value: ''
                      type: String
                    - name: XXXX1FUND
                      value: ''
                      type: String
                    - name: XXXX1APPDFUND
                      value: ''
                      type: String
                    - name: XXXX1COBJ
                      value: ''
                      type: String
                    - name: XXXX1AOBJ
                      value: ''
                      type: String
                    - name: XXXX1DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX2
                  attributes:
                    - name: XXXX2AMOUNT
                      value: '1.00'
                      type: DOLLAR
                    - name: XXXX2AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX2FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX2OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX2PCA
                      value: 'XXXXX'
                      type: String
                    - name: XXXX2TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX2INDEX
                      value: ''
                      type: String
                    - name: XXXX2FUND
                      value: ''
                      type: String
                    - name: XXXX2APPDFUND
                      value: ''
                      type: String
                    - name: XXXX2COBJ
                      value: ''
                      type: String
                    - name: XXXX2AOBJ
                      value: ''
                      type: String
                    - name: XXXX2DEPAGENCY
                      value: ''
                      type: String
                - id: XXXX3
                  attributes:
                    - name: XXXX3AMOUNT
                      value: '15.0'
                      type: DOLLAR
                    - name: XXXX3AO
                      value: 'XXXX'
                      type: String
                    - name: XXXX3FUND
                      value: 'XXXX'
                      type: String
                    - name: XXXX3OTHER
                      value: 'XXXX   XXXXXXXX  XX  '
                      type: String
                    - name: XXXX3PCA
                      value: 'XXXX'
                      type: String
                    - name: XXXX3TCODE
                      value: 'XXX'
                      type: String
                    - name: XXXX3INDEX
                      value: ''
                      type: String
                    - name: XXXX3FUND
                      value: ''
                      type: String
                    - name: XXXX3APPDFUND
                      value: ''
                      type: String
                    - name: XXXX3COBJ
                      value: ''
                      type: String
                    - name: XXXX3AOBJ
                      value: ''
                      type: String
                    - name: XXXX3DEPAGENCY
                      value: ''
                      type: String
              additonalinfo:
                - key: servicecode
                  value: XXXXXXXXXXXX
                - key: username
                  value: XXXXXXXXXXXX
                - key: sourceapplication
                  value: XXXX
                - key: companyname
                  value: XXXX
                - key: sourceenvironment
                  value: XXXXXXXXXXXX
                - key: hostname
                  value: XXXXXXXXXXXX
                - key: shipfirstname
                  value: XXXXXXXXXXXX
                - key: shiplastname
                  value: XXXXXXXXXXXX
                - key: shipaddressline1
                  value: XXXXXXXXXXXX
                - key: shipaddressline2
                  value: XXXXXXXXXXXX
                - key: shipcity
                  value: XXXXXXXXXXXX
                - key: shipstate
                  value: XXXXXXXXXXXX
                - key: shipcountry
                  value: XXXXXXXXXXXX
                - key: shipphone
                  value: XXXXXXXXXXXX
                - key: shipemail
                  value: XXXXXXXXXXXX
                - key: billfirstname
                  value: XXXXXXXXXXXX
                - key: billlastname
                  value: XXXXXXXXXXXX
                - key: billaddressline1
                  value: XXXXXXXXXXXX
                - key: billaddressline2
                  value: XXXXXXXXXXXX
                - key: billcity
                  value: XXXXXXXXXXXX
                - key: billstate
                  value: XXXXXXXXXXXX
                - key: billcountry
                  value: XXXXXXXXXXXX
                - key: billphone
                  value: XXXXXXXXXXXX
                - key: billemail
                  value: XXXXXXXXXXXX
                - key: custom01
                  value: XXXXXXXXXXXX
                - key: custom02
                  value: XXXXXXXXXXXX
                - key: custom03
                  value: XXXXXXXXXXXX
                - key: custom04
                  value: XXXXXXXXXXXX
                - key: custom05
                  value: XXXXXXXXXXXX
                - key: custom30
                  value: XXXXXXXXXXXX
    ChargeSingleTransaction:
      value:
        accountid: 1000000001
        userid: user
        ecomind: E
        cof: C
        cofscheduled: 'N'
        transactions:
          - merchantid: XXXXXXXXXXXXX
            currencycode: USD
            companycode: '100'
            customerid: '4242'
            branchplant: string
            ordertype: string
            orderid: '123456'
            orderdate: ''
            invoiceid: string
            sendemailreceipts: 'N'
            purchaseorder: string
            shipfromzip: string
            shiptozip: string
            shiptocountry: US
            paymentmethod:
              tokenid: 9XXXXXXXXXXXX1111
              transactionamount: '16.00'
              cvv: ''
              customername: ABC Financial
              addressline1: 100 Ave
              city: Aurora
              state: IL
              zip: '60603'
              country: US
              email: first.last@company.com
              phonenumber: ''
              type: VISA
              last4: '1111'
              routingnumber: ''
              secureflag: '05'
              securevalue: ''
              securexid: ''
              dstxnid: ''
            level3:
              - linenumber: '1.000'
                productcode: '1'
                taxrate: '0'
                quantity: '1'
                itemdescriptor: Mixed Bouquet
                unitcost: '16.00'
                lineitemtotal: '16.00'
                taxamount: '0'
                commoditycode: ''
                unitofmeasure: EA
            userfields:
              - udf0: Value 1
              - udf1: Value 2
              - udf2: Value 3
              - udf3: Value 4
              - udf4: Value 5
              - udf5: Value 6
              - udf6: Value 7
              - udf7: Value 8
              - udf8: Value 9
              - udf9: Value 10
            clxstream: null
    ChargeResponseMultiTransaction:
      value:
        accountid: 1000000001
        status: 'Y'
        message: Transaction successful.
        transactions:
          - merchantid: XXXXXXXXXXXXX
            returncode: 0
            returndescription: Transaction successful
            procrespcode: RPCT
            pgtransactionid: 260711140916
            paymenttransactionid: 136243
            authorizationcode: 1234
            transactiondate: 07/14/2024 03:00:28 PM
            transactionamount: 100
            currency: USD
            scverification: P
            addressverification: Z
            totaltransactionamount: 100
          - merchantid: XXXXXXXXXXXXX
            returncode: 0
            returndescription: Transaction successful
            procrespcode: RPCT
            pgtransactionid: 260711140916
            paymenttransactionid: 136243
            authorizationcode: 123456
            transactiondate: 07/14/2024 03:00:28 PM
            transactionamount: 100
            currency: USD
            scverification: P
            addressverification: Z
            totaltransactionamount: 100
    ChargeResponseSingleTransaction:
      value:
        accountid: 1000000001
        status: 'Y'
        message: Transaction successful.
        transactions:
          - merchantid: XXXXXXXXXXXXX
            returncode: 0
            returndescription: Transaction successful
            procrespcode: RPCT
            pgtransactionid: 260711140916
            paymenttransactionid: 136243
            authorizationcode: 123456
            transactiondate: 07/14/2024 03:00:28 PM
            transactionamount: 100
            currency: USD
            scverification: P
            addressverification: Z
            totaltransactionamount: 100
    Common401Response:
      value:
        accountid: 1000000001
        status: 'N'
        message: Authentication failed.
        reference: ''
        purchaseorder: ''
    GetRequestID401Response:
      value:
        accountid: 1000000001
        requestid: ''
        status: 'N'
        message: Authentication failed.
        
  parameters:
    AccountIDParam:
      name: accountid
      schema: {
        type: string,
        default: '1000000001'
      }
      in: header
      required: true
      description: Account ID  
    MerchantIDParam:
      name: merchantid
      schema: {
        type: string,
        default: ''
      }
      in: header
      
      description: >-
            Merchant ID (if you pass this parameter, SnapPay will bypass the
            logic of identifying MID for this transaction)
    HMACParam:
      name: signature
      schema: {
        type: string,
        default: Hmac
            MTAwMDQ2Mjk0MjpFK0dRUHZTS2NDaUsweHhZRm8rcFg3SEZJUmYS0wOTkxLTQ0ZDgtYTgzMy03YTdmNDY4OGEzZTc6Y0NDM1NDA0MA==
      }
      in: header
      required: true
      description: >-
            HMAC Signature
    StartDateParam:
      name: startdate
      schema: {
        type: string,
        default: 04/01/2023
      }
      in: query
      required: false
      description: >-
            Start Date
    EndDateParam:
      name: enddate
      schema: {
        type: string,
        default: 05/01/2023
      }
      in: query
      required: false
      description: >-
            End Date
    TypeParam:
      name: type
      schema: {
        type: string,
        default: C
      }
      in: query
      required: false
      description: >-
            Type
    PageNumberParam:
      name: pagenumber
      schema: {
        type: number,
        default: 1
      }
      in: query
      required: false
      description: >-
            Page Number
    SessionKeyParam:
      name: X-CardConnect-SessionKey
      schema: {
        type: string,
        default: 72eb45c4e6034aa1b5c5ba0532209a87
      }
      in: header
      required: true
      description: >-
            72eb45c4e6034aa1b5c5ba0532209a87
    PaymentModeParam:
      name: paymentmode
      schema: {
        type: string,
        default: ""
      }
      in: query
      required: false
      description: >-
        CC or ACH or All or empty
    RequestTypeParam:
      name: requesttype
      schema: {
        type: string,
        default: ""
      }
      in: query
      required: false
      description: >-
        SendLink or Order or Invoice or empty
    TransactionTypeParam:
      name: transactiontype
      schema: {
        type: string,
        default: ""
      }
      in: query
      required: false
      description: >-
        A or S or D or V or empty
  schemas:
    GetRequestIDRequest: 
      type: object
      required: [accountid, companycode, currencycode
      ,customerid, userid, transactiontype, paymentmode, redirecturl,transactionamount]
      properties:
        accountid:
          description: Account ID
          type: number
          example:  1000000001
        companycode:
          description: Company Code
          type: string
          example: '00200'
        currencycode:
          description: Currency Code
          type: string
          example: USD
        customerid:
          description: Customer ID
          type: string
          example: 100
        userid:
          description: External Application User ID
          type: string
          example: first.last@company.com
        savepaymentmethod:
          description: Save payment method for future use
          type: string
          example: 'Y'
        transactiontype:
          description: S - for Sale
          type: string
          example: S
        paymentmode:
          description: CC - for credit card
                       ACH - for bank transfer
          type: string
          example: CC
        displaycardssavedatcustomer: 
          description: Display card saved at customer level
          type: string
          example: "Y"
        language:
          description: en-US for English language
          type: string
          example: en-US
        redirecturl:
[...]
