###########################################################################
# Copyrights ï¿½ 2021-2022 Fiserv, Inc. or its affiliates. 
# Fiserv is a trademark of Fiserv, Inc., 
# registered or used in the United States and foreign countries, 
# and may or may not be registered in your country.  
# All trademarks, service marks, 
# and trade names referenced in this 
# material are the property of their 
# respective owners. This work, including its contents 
# and programming, is confidential and its use 
# is strictly limited. This work is furnished only 
# for use by duly authorized licensees of Fiserv, Inc. 
# or its affiliates, and their designated agents 
# or employees responsible for installation or 
# operation of the products. Any other use, 
# duplication, or dissemination without the 
# prior written consent of Fiserv, Inc. 
# or its affiliates is strictly prohibited. 
# Except as specified by the agreement under 
# which the materials are furnished, Fiserv, Inc. 
# and its affiliates do not accept any liabilities 
# with respect to the information contained herein 
# and are not responsible for any direct, indirect, 
# special, consequential or exemplary damages 
# resulting from the use of this information. 
# No warranties, either express or implied, 
# are granted or extended by this work or 
# the delivery of this work
#########################################################################
openapi: 3.0.2
info:
  title: SnapPay
  description: Digitally transform your payment process with certified ERP integration to improve working capital and increase efficiencies. SnapPay from Fiserv, integrates with popular ERP solutions and shopping cart solutions to serve the holistic B2B payment needs of enterprise-size businesses.
  version: 2.0.0
servers:
- url: https://restapi.snappayglobal.com/
- url: https://demo1.cditechnology.com/SnapPay/REST/
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
security:
  - basicAuth: []
tags:
  - name: APIs with User Interaction
  - name: APIs without User Interaction
  - name: Card Account Updater
  - name: ERP Agents
  - name: Pass through API
paths:
  /api/interop/GetRequestID:
    post:
      tags:
        - APIs with User Interaction
      x-group-name: APIs with User Interaction
      x-proxy-name: Get Request ID
      summary: Get Request ID
      description: The GetRequestID API prepares SnapPay with the information required to properly display SnapPay from within an iFrame or as a full page for user interaction to Authorize, Charge or Tokenize a credit card or ACH account.
      operationId: getRequestID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountid:
                  description: Account ID
                  type: number
                  example: 1000000001
                companycode:
                  description: Company Code
                  type: string
                  example: 00200
                currencycode: 
                  description: Currency Code
                  type: string
                  example: USD
                customerid: 
                  description: Customer ID
                  type: string
                  example: 100
                userid: 
                  description: External Application User ID
                  type: string
                  example: johnsmith@abc.com
                transactiontype:
                  description: S - for Sale
                  type: string
                  example: S
                paymentmethod:
                  description: CC - for credit card
                  type: string
                  example: CC
                language:
                  description: en-US for English language
                  type: string
                  example: en-US
                savepaymentmethod: 
                  description: Save payment method for future use
                  type: string
                  example: Y
                redirecturl: 
                  description: en-US for English language
                  type: string
                  example: https://xyz.com/orderconfirmation
                transactionamount: 
                  description: Transaction Amount
                  type: number
                  example: 100.25
                cvvrequired: 
                  description: Credit Card Security Code
                  type: string
                  example: Y
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            type: number
          example: 1000000001
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            type: string
          example: 312312312312
        - name: Signature
          in: header
          description: HMAC Signature
          required: true
          schema:
            type: string
          example: Hmac MTAwMDQ2Mjk0MjpFK0dRUHZTS2NDaUsweHhZRm8rcFg3SEZJUmYS0wOTkxLTQ0ZDgtYTgzMy03YTdmNDY4OGEzZTc6Y0NDM1NDA0MA==
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountid:
                    type: number
                    description: Account ID
                    example: 1000000008
                  token:
                    type: string
                    description: Request ID that will be used to open SnapPay iFrame
                    example: 0b724a4f-5bbb-e811-b229-000c29cce4c0
                  status:
                    type: string
                    description: Y or N
                    example: 'Y'
                  message:
                    type: string
                    description: e.g. Information stored successfully
                    example: Information stored successfully.
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/Interop/GetPaymentDetails:
    post:
      tags:
        - APIs with User Interaction
      x-group-name: APIs with User Interaction
      x-proxy-name: Get Payment Details
      summary: Get Payment Details
      description: The GetPaymentDetails API returns the results of the GetRequestID and iFrame interaction to allow for further business processing like completing the order creation process on an eCommerce site after successful card authorization. This API also returns a list of all failed transactions.
      operationId: getPaymentDetails
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountid:
                  description: Account ID
                  type: number
                  example: 1000000001
                token:
                  description: Request Token ID
                  type: string
                  example: 073c8be3-b0db-e811-a954-000d3a92a01e
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            type: number
          example: 1000000001
        - name: Signature
          in: header
          description: HMAC Signature
          required: true
          schema:
            type: string
          example: Hmac MTAwMDQ2Mjk0MjpFK0dRUHZTS2NDaUsweHhZRm8rcFg3SEZJUmYS0wOTkxLTQ0ZDgtYTgzMy03YTdmNDY4OGEzZTc6Y0NDM1NDA0MA==
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountid:
                    type: number
                    description: Account ID
                    example: 1000000001
                  status:
                    type: string
                    description: Y or N
                    example: 'Y'
                  message:
                    type: string
                    description: e.g. Payment details retrieved successfully
                    example: Payment details retrieved successfully
                  paymentmethod:
                    type: object
                    properties:
                      paymentmethodid:
                        type: number
                        description: SnapPay Payment Method ID for Credit Card or ACH
                        example: 123456
                      tokenid:
                        type: string
                        description: Payment Gateway Token ID for Credit Card or ACH
                        example: 9412345678912345
                      last4:
                        type: string
                        description: Last 4 digits of credit card or bank account number
                        example: 2345
                      type:
                        type: string
                        description: Visa / MC / Discover / AMEX / Checking / Saving
                        example: VISA
                      routingnumber:
                        type: string
                        description: Bank Routing Number
                        example: 071904779
                      firstname:
                        type: string
                        description: First Name
                        example: John
                      lastname:
                        type: string
                        description: Last Name
                        example: Smith
                      expirationmonth:
                        type: string
                        description: Expiration Month
                        example: 12
                      expirationyear:
                        type: string
                        description: Expiration Year
                        example: 2029
                      addressline1:
                        type: string
                        description: Address Line 1
                        example: 123 Main St
                      city:
                        type: string
                        description: City
                        example: Lombard
                      state:
                        type: string
                        description: State
                        example: IL
                      zip:
                        type: string
                        description: Zip/Postal Code
                        example: 60148
                      country:
                        type: string
                        description: Country
                        example: US
                      email:
                        type: string
                        description: Email Address
                        example: john.smith@company.com
                  transaction:
                    type: object
                    properties:
                      merchantid:
                        type: string
                        description: Payment Gateway Merchant ID
                        example: 34032039484234
                      returncode:
                        type: string
                        description: Payment Gateway Return Code
                        example: 000
                      returndescription:
                        type: string
                        description: Payment Gateway Return Description
                        example: Transaction successful
                      procrespcode:
                        type: string
                        description: Processor Response Code
                        example: RPCT
                      pgtransactionid:
                        type: string
                        description: Payment Gateway Transaction ID
                        example: 260711140916
                      paymenttransactionid:
                        type: string
                        description: SnapPay Transaction ID
                        example: 136243
                      authorizationcode:
                        type: string
                        description: Authorization Code
                        example: 234AS5
                      transactiondate:
                        type: string
                        description: Transaction Date
                        example: 02/14/2021 03:00:28 PM
                      transactionamount:
                        type: string
                        description: Transaction Amount
                        example: 100
                      currency:
                        type: string
                        description: Currency Code
                        example: USD
                      totaltransactionamount:
                        type: string
                        description: Total transaction amount (transactionamount + feeamount)
                        example: 100
                      feereturncode:
                        type: string
                        description: Return code for fee transaction. It will same as returncode if the feetype is convenience or surcharge and different if the fee type is service (MSF)
                        example: 
                      feereturndescription:
                        type: string
                        description: Return description for fee transaction
                        example: 
                      feetransactionid:
                        type: string
                        description: Fee Transaction ID â€“ same as transactionid for surcharge and convenience fee  
                        example: 
                      feeauthcode:
                        type: string
                        description: Fee Transaction Authorization Code â€“ same as authorizationcode for surcharge fee and convenience fee
                        example: 
                      feestatus:
                        type: string
                        description: Fee Transaction Status (Y/N)
                        example: 
                      feetype:
                        type: string
                        description: Fee Type (Surcharge, Service or Convenience)
                        example: 
                      feeformat:
                        type: string
                        description: Fee Format (Percentage for Surcharge and dollar amount for convenience fee)
                        example: 
                      feeamount:
                        type: number
                        description: Fee Amount (amount in currency)
                        example: 0
                      feevalue:
                        type: number
                        description: Fee Value (value in % for Surcharge fee)
                        example: 0
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/interop/tokenize:
    post:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Tokenize
      summary: Tokenize
      description: The Tokenize API provides a token back when credit card is sent in clear text. This API also tokenizes ACH (bank account) details. The token ID is returned on success and can be used in subsequent calls like Authorize, Charge, etc.
      operationId: tokenize
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountid:
                  type: number
                  description: Account ID
                  example: 1000000001
                requesttype:
                  type: string
                  description: Request Type C for customer and S for supplier. Default value is C if this parameter is not sent
                  example: C
                currency:
                  type: string
                  description: Currency Code
                  example: USD
                companycode:
                  type: string
                  description: Company Code
                  example: 00200
                branchplant:
                  type: string
                  description: Branch Plant
                  example: 
                ordertype:
                  type: string
                  description: Sales Order Type
                  example:
                mode:
                  type: string
                  description: CC for credit card and ACH for back details
                  example: CC
                type:
                  type: string
                  description: Type of Credit Card or Bank Account - VISA / MC / DISCOVER / AMEX / CHECKING / SAVING
                  example: VISA
                routingnumber:
                  type: string
                  description: Bank Routing Number
                  example: 071904779
                bankname:
                  type: string
                  description: Account ID
                  example: 1000000001
                checktype:
                  type: string
                  description: Check Type â€“ C for corporate and P for personal
                  example:
                identificationtype:
                  type: string
                  description: Identification Type - T for Tax ID, S for SSN & D for Driver License
                  example: 
                dlstate: 
                  type: string
                  description: Driver License State
                  example:
                identificationnumber: 
                  type: string
                  description: Identification Number
                  example: 
                accountnumber:
                  type: string
                  description: Credit Card Number of Bank Account Number
                  example: 411111111111111
                expirationdate:
                  type: string
                  description: Expiration Date (mmYYYY)
                  example: 122029
                name:
                  type: string
                  description: Name on credit card or bank account
                  example: John Smith
                addressline1:
                  type: string
                  description: Address Line 1
                  example: 123 Main St
                city:
                  type: string
                  description: City
                  example: Lombard
                state:
                  type: string
                  description: State
                  example: IL
                zip:
                  type: string
                  description: Zip/Postal Code
                  example: 60148
                country:
                  type: string
                  description: Country
                  example: US
                email: 
                  type: string
                  description: Email Address
                  example: noreply@snappay.com
                phonenumber:
                  type: string
                  description: Phone Number
                  example: 630-123-1233
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            type: number
          example: 1000000001
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            type: string
          example: 312312312312
        - name: Signature
          in: header
          description: HMAC Signature
          required: true
          schema:
            type: string
          example: Hmac MTAwMDQ2Mjk0MjpFK0dRUHZTS2NDaUsweHhZRm8rcFg3SEZJUmYS0wOTkxLTQ0ZDgtYTgzMy03YTdmNDY4OGEzZTc6Y0NDM1NDA0MA==
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountid:
                    type: number
                    description: Account ID
                    example: 1000000001
                  status:
                    type: string
                    description: Y or N
                    example: Y
                  message:
                    type: string
                    description: Message
                    example: Tokenization successful.
                  currency:
                    type: string
                    description: Currency Code
                    example: USD
                  companycode:
                    type: string
                    description: Company Code
                    example: 00200
                  branchplant:
                    type: string
                    description: Branch Plant
                    example:
                  ordertype:
                    type: string
                    description: Sales Order Type
                    example:
                  mode:
                    type: string
                    description: CC for credit card and ACH for back details
                    example: Tokenization successful.
                  type: 
                    type: string
                    description: Type of Credit Card or Bank Account - VISA / MC / DISCOVER / AMEX / CHECKING / SAVING
                    example: VISA
                  last4:
                    type: string
                    description: Last 4 of credit card or bank account number
                    example: 1111
                  routingnumber:
                    type: string
                    description: Bank Routing Number
                    example:
                  bankname:
                    type: string
                    description: Bank Name
                    example:
                  checktype:
                    type: string
                    description: Check Type â€“ C for corporate and P for personal
                    example:
                  identificationtype:
                    type: string
                    description: Identification Type T for Tax ID, S for SSN and D for Driver License
                    example:
                  identificationnumber:
                    type: string
                    description: Identification Number 
                    example:
                  tokenid:
                    type: string
                    description: Credit Card or Bank Account Token
                    example: 9447829389471111
                  expirationdate:
                    type: string
                    description: Credit Card Expiration Date
                    example: 122029
                  name:
                    type: string
                    description: Name on Credit Card or Bank Account
                    example: John Smith
                  addressline1:
                    type: string
                    description: Address Line 1
                    example: 123 Main St
                  city:
                    type: string
                    description: City
                    example: Lombard
                  state:
                    type: string
                    description: Stage
                    example: IL
                  zip:
                    type: string
                    description: Zip/Postal Code
                    example: 60148
                  country:
                    type: string
                    description: Country
                    example: US
                  email:
                    type: string
                    description: Email Address
                    example: john.smith@company.com
                  phonenumber:
                    type: string
                    description: Phone Number
                    example:
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/interop/authorize:
    post:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Authorize
      summary: Authorize
      description: The Authorize API performs a credit card authorization request using a credit card token to insure the credit card is valid and has the requested credit limit available.  The authorization code is returned on success and error information if not successful.  The Capture API will then need to be called to actually request the funds transfer.
      operationId: authorize
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountid:
                  type: number
                  description: Account ID
                  example: 1000000001
                customerid:
                  type: string
                  description: Customer ID
                  example: 100
                currency:
                  type: string
                  description: Currency Code
                  example: USD
                companycode:
                  type: string
                  description: Company Code
                  example: 00200
                branchplant:
                  type: string
                  description: Branch Plant
                  example: 
                ordertype:
                  type: string
                  description: Order Type
                  example:
                orderid:
                  type: string
                  description: Order ID
                  example: 123456
                invoiceid:
                  type: string
                  description: Invoice ID
                  example: 123456
                userid:
                  type: string
                  description: User ID
                  example: user1
                reference:
                  type: string
                  description: Reference Text
                  example:
                purchaseorder:
                  type: string
                  description: Purchase Order
                  example: USD
                cards:
                  type: array
                  items:
                    type: object
                    properties:
                      transactionamount:
                        type: number
                        description: Transaction Amount
                        example: 10
                      tokenid:
                        type: string
                        description: Token ID
                        example: 9412345678912345
                      type:
                        type: string
                        description: Type of credit card
                        example: VISA
                      last4:
                        type: string
                        description: Last 4 digits of credit card
                        example: 2345
                      cvv:
                        type: string
                        description: CVV
                        example: 123
                      expirationdate:
                        type: string
                        description: Expiration Date mmYYYY
                        example: 122029
                      customername:
                        type: string
                        description: Name on credit card
                        example: John Smith
                      addressline1: 
                        type: string
                        description: Address Line 1
                        example: 123 Main St
                      city:
                        type: string
                        description: City
                        example: Lombard
                      state:
                        type: string
                        description: State
                        example: IL
                      zip:
                        type: string
                        description: Zip/Postal Code
                        example: 60148
                      country:
                        type: string
                        description: Country
                        example: US
                      email:
                        type: string
                        description: Email Address
                        example: john.smith@company.com
                      phonenumber:
                        type: string
                        description: Phone Number
                        example:
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            type: number
          example: 1000000001
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            type: string
          example: 312312312312
        - name: Signature
          in: header
          description: HMAC Signature
          required: true
          schema:
            type: string
          example: Hmac MTAwMDQ2Mjk0MjpFK0dRUHZTS2NDaUsweHhZRm8rcFg3SEZJUmYS0wOTkxLTQ0ZDgtYTgzMy03YTdmNDY4OGEzZTc6Y0NDM1NDA0MA==
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountid:
                    type: number
                    description: Account ID
                    example: 1000000001
                  status:
                    type: string
                    description: Y or N
                    example: Y
                  message:
                    type: string
                    description: Message
                    example: Authorization successful.
                  cards:
                    type: array
                    items:
                      type: object
                      properties:
                        merchantid:
                          type: string
                          description: Payment Gateway Merchant ID
                          example: 34032039484234
                        returncode:
                          type: string
                          description: Payment Gateway Return Code
                          example: 000
                        returndescription:
                          type: string
                          description: Payment Gateway Return Description
                          example: Transaction successful
                        procrespcode:
                          type: string
                          description: Processor Response Code
                          example: RPCT
                        pgtransactionid:
                          type: string
                          description: Payment Gateway Transaction ID
                          example: 260711140916
                        tokenid:
                          type: string
                          description: Credit Card Token ID
                          example: 9412345678912345
                        paymenttransactionid:
                          type: string
                          description: SnapPay Transaction ID
                          example: 136243
                        authorizationcode:
                          type: string
                          description: Authorization Code
                          example: 234AS5
                        transactiondate:
                          type: string
                          description: Transaction Date
                          example: 02/14/2021 03:00:28 PM
                        transactionamount:
                          type: string
                          description: Transaction Amount
                          example: 100
                        currency:
                          type: string
                          description: Currency Code
                          example: USD
                        status:
                          type: string
                          description: status - Y/N
                          example: Y
                        scverification:
                          type: string
                          description: Security/CVV Code Verification
                          example: P
                        addressverification:
                          type: string
                          description: Address Verification
                          example: Z
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/interop/charge:
    post:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Charge
      summary: Charge
      description: The Charge API performs a credit card charge or payment using a credit card token to insure the credit card is valid, has the requested credit limit available and to initiate the transfer of funds.  This performs the functions of the Authorize API and Capture API in a single call.
      operationId: charge
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountid:
                  type: number
                  description: Account ID
                  example: 1000000001
                customerid:
                  type: string
                  description: Customer ID
                  example: 100
                currency:
                  type: string
                  description: Currency Code
                  example: USD
                companycode:
                  type: string
                  description: Company Code
                  example: 00200
                branchplant:
                  type: string
                  description: Branch Plant
                  example: 
                ordertype:
                  type: string
                  description: Order Type
                  example:
                orderid:
                  type: string
                  description: Order ID
                  example: 123456
                invoiceid:
                  type: string
                  description: Invoice ID
                  example: 123456
                userid:
                  type: string
                  description: User ID
                  example: user1
                reference:
                  type: string
                  description: Reference Text
                  example:
                purchaseorder:
                  type: string
                  description: Purchase Order
                  example: USD
                sendemailreceipts:
                  type: string
                  description: Send Email Receipt
                  example: Y
                paymentmethod:
                  type: object
                  properties:
                    transactionamount:
                      type: number
                      description: Transaction Amount
                      example: 10
                    tokenid:
                      type: string
                      description: Token ID
                      example: 9412345678912345
                    type:
                      type: string
                      description: Type of credit card
                      example: VISA
                    last4:
                      type: string
                      description: Last 4 digits of credit card
                      example: 2345
                    cvv:
                      type: string
                      description: CVV
                      example: 123
                    expirationdate:
                      type: string
                      description: Expiration Date mmYYYY
                      example: 122029
                    customername:
                      type: string
                      description: Name on credit card
                      example: John Smith
                    addressline1: 
                      type: string
                      description: Address Line 1
                      example: 123 Main St
                    city:
                      type: string
                      description: City
                      example: Lombard
                    state:
                      type: string
                      description: State
                      example: IL
                    zip:
                      type: string
                      description: Zip/Postal Code
                      example: 60148
                    country:
                      type: string
                      description: Country
                      example: US
                    email:
                      type: string
                      description: Email Address
                      example: john.smith@company.com
                    phonenumber:
                      type: string
                      description: Phone Number
                      example:
                level3:
                  type: array
                  items:
                    type: object
                    properties:
                      linenumber:
                        type: string
                        description: Line Number
                        example: 1
                      productcode: 
                        type: string
                        description: Product Code or Item Number
                        example: BQT01
                      unitcost:
                        type: number
                        description: Unit Cost
                        example: 1.75
                      quantity:
                        type: number
                        description: Quantity
                        example: 3
                      itemdescriptor:
                        type: string
                        description: Item/Product Description
                        example: Bouquet
                      unitofmeasure:
                        type: string
                        description: Unit of Measure
                        example: EA
                      commoditycode:
                        type: string
                        description: Commodity Code
                        example:  Commodity Code1
                      taxamount:
                        type: number
                        description: Tax Amount
                        example: 0.12
                      taxrate:
                        type: number
                        description: Tax Rate in %
                        example: 8
                      itemdiscount:
                        type: number
                        description: Item Discount
                        example:
                      lineitemtotal:
                        type: number
                        description: Line Item Total
                        example: 5.37
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            type: number
          example: 1000000001
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            type: string
          example: 312312312312
        - name: Signature
          in: header
          description: HMAC Signature
          required: true
          schema:
            type: string
          example: Hmac MTAwMDQ2Mjk0MjpFK0dRUHZTS2NDaUsweHhZRm8rcFg3SEZJUmYS0wOTkxLTQ0ZDgtYTgzMy03YTdmNDY4OGEzZTc6Y0NDM1NDA0MA==
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountid:
                    type: number
                    description: Account ID
                    example: 1000000001
                  status:
                    type: string
                    description: Y or N
                    example: Y
                  message:
                    type: string
                    description: Message
                    example: Authorization successful.
                  transaction:
                    type: object
                    properties:
                      merchantid:
                        type: string
                        description: Payment Gateway Merchant ID
                        example: 34032039484234
                      returncode:
                        type: string
                        description: Payment Gateway Return Code
                        example: 000
                      returndescription:
                        type: string
                        description: Payment Gateway Return Description
                        example: Transaction successful
                      procrespcode:
                        type: string
                        description: Processor Response Code
                        example: RPCT
                      pgtransactionid:
                        type: string
                        description: Payment Gateway Transaction ID
                        example: 260711140916
                      paymenttransactionid:
                        type: string
                        description: SnapPay Transaction ID
                        example: 136243
                      authorizationcode:
                        type: string
                        description: Authorization Code
                        example: 234AS5
                      transactiondate:
                        type: string
                        description: Transaction Date
                        example: 02/14/2021 03:00:28 PM
                      transactionamount:
                        type: string
                        description: Transaction Amount
                        example: 100
                      currency:
                        type: string
                        description: Currency Code
                        example: USD
                      scverification:
                        type: string
                        description: Security/CVV Code Verification
                        example: P
                      addressverification:
                        type: string
                        description: Address Verification
                        example: Z
                      totaltransactionamount:
                        type: string
                        description: Total transaction amount (transactionamount + feeamount)
                        example: 100
                      feereturncode:
                        type: string
                        description: Return code for fee transaction. It will same as returncode if the feetype is convenience or surcharge and different if the fee type is service (MSF)
                        example: 
                      feereturndescription:
                        type: string
                        description: Return description for fee transaction
                        example: 
                      feetransactionid:
                        type: string
                        description: Fee Transaction ID â€“ same as transactionid for surcharge and convenience fee  
                        example: 
                      feeauthcode:
                        type: string
                        description: Fee Transaction Authorization Code â€“ same as authorizationcode for surcharge fee and convenience fee
                        example: 
                      feestatus:
                        type: string
                        description: Fee Transaction Status (Y/N)
                        example: 
                      feetype:
                        type: string
                        description: Fee Type (Surcharge, Service or Convenience)
                        example: 
                      feeformat:
                        type: string
                        description: Fee Format (Percentage for Surcharge and dollar amount for convenience fee)
                        example: 
                      feeamount:
                        type: number
                        description: Fee Amount (amount in currency)
                        example: 0
                      feevalue:
                        type: number
                        description: Fee Value (value in % for Surcharge fee)
                        example: 0
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/Interop/Capture:
    post:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Capture
      summary: Capture
      description: The Capture API performs the capture of a prior authorization returned by the Authorize API using a credit card token to initiate the transfer of funds.
      operationId: capture
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountid:
                  type: number
                  description: Account ID
                  example: 1000000001
                referencetransactionid:
                  type: string
                  description: Reference Transaction ID. Either pgtransactionid or paymenttransactionid based on SnapPay account configuration
                  example: 1394
                transactionamount:
                  type: number
                  description: Amount to be captured/settled
                  example: 500
                customerid:
                  type: string
                  description: Customer ID
                  example: 100
                currency:
                  type: string
                  description: Currency Code
                  example: USD
                companycode:
                  type: string
                  description: Company Code
                  example: 00200
                orderid:
                  type: string
                  description: Order ID
                  example: 123456
                invoiceid:
                  type: string
                  description: Invoice ID
                  example: 123456
                userid:
                  type: string
                  description: User ID
                  example: user1
                reference:
                  type: string
                  description: Reference Text
                  example:
                purchaseorder:
                  type: string
                  description: Purchase Order
                  example: USD
                sendemailreceipts:
                  type: string
                  description: Send Email Receipt
                  example: Y
                level3:
                  type: array
                  items:
                    type: object
                    properties:
                      linenumber:
                        type: string
                        description: Line Number
                        example: 1
                      productcode: 
                        type: string
                        description: Product Code or Item Number
                        example: BQT01
                      unitcost:
                        type: number
                        description: Unit Cost
                        example: 1.75
                      quantity:
                        type: number
                        description: Quantity
                        example: 3
                      itemdescriptor:
                        type: string
                        description: Item/Product Description
                        example: Bouquet
                      unitofmeasure:
                        type: string
                        description: Unit of Measure
                        example: EA
                      commoditycode:
                        type: string
                        description: Commodity Code
                        example:  Commodity Code1
                      taxamount:
                        type: number
                        description: Tax Amount
                        example: 0.12
                      taxrate:
                        type: number
                        description: Tax Rate in %
                        example: 8
                      itemdiscount:
                        type: number
                        description: Item Discount
                        example:
                      lineitemtotal:
                        type: number
                        description: Line Item Total
                        example: 5.37
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            type: number
          example: 1000000001
        - name: Signature
          in: header
          description: HMAC Signature
          required: true
          schema:
            type: string
          example: Hmac MTAwMDQ2Mjk0MjpFK0dRUHZTS2NDaUsweHhZRm8rcFg3SEZJUmYS0wOTkxLTQ0ZDgtYTgzMy03YTdmNDY4OGEzZTc6Y0NDM1NDA0MA==
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountid:
                    type: number
                    description: Account ID
                    example: 1000000001
                  status:
                    type: string
                    description: Y or N
                    example: Y
                  message:
                    type: string
                    description: Message
                    example: Authorization successful.
                  paymenttransactionid:
                    type: string
                    description: SnapPay Payment Transaction ID
                    example: 1362
                  pgtransactionid:
                    type: string
                    description: Payment Gateway Transaction ID
                    example: 132912341342
                  transaction:
                    type: object
                    properties:
                      merchantid:
                        type: string
                        description: Payment Gateway Merchant ID
                        example: 34032039484234
                      returncode:
                        type: string
                        description: Payment Gateway Return Code
                        example: 000
                      returndescription:
                        type: string
                        description: Payment Gateway Return Description
                        example: Transaction successful
                      procrespcode:
                        type: string
                        description: Processor Response Code
                        example: RPCT
                      pgtransactionid:
                        type: string
                        description: Payment Gateway Transaction ID
                        example: 260711140916
                      paymenttransactionid:
                        type: string
                        description: SnapPay Transaction ID
                        example: 136243
                      authorizationcode:
                        type: string
                        description: Authorization Code
                        example: 234AS5
                      transactiondate:
                        type: string
                        description: Transaction Date
                        example: 02/14/2021 03:00:28 PM
                      transactionamount:
                        type: string
                        description: Transaction Amount
                        example: 100
                      currency:
                        type: string
                        description: Currency Code
                        example: USD
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/Interop/Credit:
    post:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Credit
      summary: Credit
      description: The Credit API places a credit on the credit card or ACH account 
      operationId: credit
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountid:
                  type: number
                  description: Account ID
                  example: 1000000001
                customerid:
                  type: string
                  description: Customer ID
                  example: 100
                currency:
                  type: string
                  description: Currency Code
                  example: USD
                companycode:
                  type: string
                  description: Company Code
                  example: 00200
                branchplant:
                  type: string
                  description: Branch Plant
                  example: 
                ordertype:
                  type: string
                  description: Order Type
                  example:
                orderid:
                  type: string
                  description: Order ID
                  example: 123456
                invoiceid:
                  type: string
                  description: Invoice ID
                  example: 123456
                userid:
                  type: string
                  description: User ID
                  example: user1
                reference:
                  type: string
                  description: Reference Text
                  example:
                purchaseorder:
                  type: string
                  description: Purchase Order
                  example: USD
                sendemailreceipts:
                  type: string
                  description: Send Email Receipt
                  example: Y
                paymentmethod:
                  type: object
                  properties:
                    transactionamount:
                      type: number
                      description: Transaction Amount
                      example: 10
                    tokenid:
                      type: string
                      description: Token ID
                      example: 9412345678912345
                    type:
                      type: string
                      description: Type of credit card
                      example: VISA
                    last4:
                      type: string
                      description: Last 4 digits of credit card
                      example: 2345
                    cvv:
                      type: string
                      description: CVV
                      example: 123
                    expirationdate:
                      type: string
                      description: Expiration Date mmYYYY
                      example: 122029
                    customername:
                      type: string
                      description: Name on credit card
                      example: John Smith
                    addressline1: 
                      type: string
                      description: Address Line 1
                      example: 123 Main St
                    city:
                      type: string
                      description: City
                      example: Lombard
                    state:
                      type: string
                      description: State
                      example: IL
                    zip:
                      type: string
                      description: Zip/Postal Code
                      example: 60148
                    country:
                      type: string
                      description: Country
                      example: US
                    email:
                      type: string
                      description: Email Address
                      example: john.smith@company.com
                    phonenumber:
                      type: string
                      description: Phone Number
                      example:
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            type: number
          example: 1000000001
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            type: string
          example: 312312312312
        - name: Signature
          in: header
          description: HMAC Signature
          required: true
          schema:
            type: string
          example: Hmac MTAwMDQ2Mjk0MjpFK0dRUHZTS2NDaUsweHhZRm8rcFg3SEZJUmYS0wOTkxLTQ0ZDgtYTgzMy03YTdmNDY4OGEzZTc6Y0NDM1NDA0MA==
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountid:
                    type: number
                    description: Account ID
                    example: 1000000001
                  status:
                    type: string
                    description: Y or N
                    example: Y
                  message:
                    type: string
                    description: Message
                    example: Authorization successful.
                  transaction:
                    type: object
                    properties:
                      merchantid:
                        type: string
                        description: Payment Gateway Merchant ID
                        example: 34032039484234
                      returncode:
                        type: string
                        description: Payment Gateway Return Code
                        example: 000
                      returndescription:
                        type: string
                        description: Payment Gateway Return Description
                        example: Transaction successful
                      procrespcode:
                        type: string
                        description: Processor Response Code
                        example: RPCT
                      pgtransactionid:
                        type: string
                        description: Payment Gateway Transaction ID
                        example: 260711140916
                      paymenttransactionid:
                        type: string
                        description: SnapPay Transaction ID
                        example: 136243
                      authorizationcode:
                        type: string
                        description: Authorization Code
                        example: 234AS5
                      transactiondate:
                        type: string
                        description: Transaction Date
                        example: 02/14/2021 03:00:28 PM
                      transactionamount:
                        type: string
                        description: Transaction Amount
                        example: 100
                      currency:
                        type: string
                        description: Currency Code
                        example: USD
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/Interop/Refund:
    post:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Refund
      summary: Refund
      description: The Refund API places a refund of a prior Capture or Charge on the credit card or ACH account used in the original transaction.  The original transaction is set in parameter referencetransactionid and some explanatory text can be set in the reference parameter.
      operationId: refund
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountid:
                  type: number
                  description: Account ID
                  example: 1000000001
                referencetransactionid:
                  type: string
                  description: Reference Transaction ID. Either pgtransactionid or paymenttransactionid based on SnapPay account configuration
                  example: 1394
                transactionamount:
                  type: number
                  description: Amount to be captured/settled
                  example: 500
                customerid:
                  type: string
                  description: Customer ID
                  example: 100
                currency:
                  type: string
                  description: Currency Code
                  example: USD
                companycode:
                  type: string
                  description: Company Code
                  example: 00200
                orderid:
                  type: string
                  description: Order ID
                  example: 123456
                invoiceid:
                  type: string
                  description: Invoice ID
                  example: 123456
                userid:
                  type: string
                  description: User ID
                  example: user1
                reference:
                  type: string
                  description: Reference Text
                  example:
                purchaseorder:
                  type: string
                  description: Purchase Order
                  example: USD
                sendemailreceipts:
                  type: string
                  description: Send Email Receipt
                  example: Y
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            type: number
          example: 1000000001
        - name: Signature
          in: header
          description: HMAC Signature
          required: true
          schema:
            type: string
          example: Hmac MTAwMDQ2Mjk0MjpFK0dRUHZTS2NDaUsweHhZRm8rcFg3SEZJUmYS0wOTkxLTQ0ZDgtYTgzMy03YTdmNDY4OGEzZTc6Y0NDM1NDA0MA==
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountid:
                    type: number
                    description: Account ID
                    example: 1000000001
                  status:
                    type: string
                    description: Y or N
                    example: Y
                  message:
                    type: string
                    description: Message
                    example: Authorization successful.
                  paymenttransactionid:
                    type: string
                    description: SnapPay Payment Transaction ID
                    example: 1362
                  pgtransactionid:
                    type: string
                    description: Payment Gateway Transaction ID
                    example: 132912341342
                  transaction:
                    type: object
                    properties:
                      merchantid:
                        type: string
                        description: Payment Gateway Merchant ID
                        example: 34032039484234
                      returncode:
                        type: string
                        description: Payment Gateway Return Code
                        example: 000
                      returndescription:
                        type: string
                        description: Payment Gateway Return Description
                        example: Transaction successful
                      procrespcode:
                        type: string
                        description: Processor Response Code
                        example: RPCT
                      pgtransactionid:
                        type: string
                        description: Payment Gateway Transaction ID
                        example: 260711140916
                      paymenttransactionid:
                        type: string
                        description: SnapPay Transaction ID
                        example: 136243
                      authorizationcode:
                        type: string
                        description: Authorization Code
                        example: 234AS5
                      transactiondate:
                        type: string
                        description: Transaction Date
                        example: 02/14/2021 03:00:28 PM
                      transactionamount:
                        type: string
                        description: Transaction Amount
                        example: 100
                      currency:
                        type: string
                        description: Currency Code
                        example: USD
                      totaltransactionamount:
                        type: string
                        description: Total transaction amount (transactionamount + feeamount)
                        example: 100
                      feereturncode:
                        type: string
                        description: Return code for fee transaction. It will same as returncode if the feetype is convenience or surcharge and different if the fee type is service (MSF)
                        example: 
                      feereturndescription:
                        type: string
                        description: Return description for fee transaction
                        example: 
                      feetransactionid:
                        type: string
                        description: Fee Transaction ID â€“ same as transactionid for surcharge and convenience fee  
                        example: 
                      feeauthcode:
                        type: string
                        description: Fee Transaction Authorization Code â€“ same as authorizationcode for surcharge fee and convenience fee
                        example: 
                      feestatus:
                        type: string
                        description: Fee Transaction Status (Y/N)
                        example: 
                      feetype:
                        type: string
                        description: Fee Type (Surcharge, Service or Convenience)
                        example: 
                      feeformat:
                        type: string
                        description: Fee Format (Percentage for Surcharge and dollar amount for convenience fee)
                        example: 
                      feeamount:
                        type: number
                        description: Fee Amount (amount in currency)
                        example: 0
                      feevalue:
                        type: number
                        description: Fee Value (value in % for Surcharge fee)
                        example: 0
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/Interop/Void:
    post:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Void
      summary: Void
      description: The Void API attempts to void or cancel a prior authorization transaction. The original authorization transaction is set in parameter referencetransactionid and some explanatory text can be set in the reference parameter. For voding charge and capture transaction, use refund API.
      operationId: void
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountid:
                  type: number
                  description: Account ID
                  example: 1000000001
                referencetransactionid:
                  type: string
                  description: Reference Transaction ID. Either pgtransactionid or paymenttransactionid based on SnapPay account configuration
                  example: 1394
                transactionamount:
                  type: number
                  description: Amount to be captured/settled
                  example: 500
                customerid:
                  type: string
                  description: Customer ID
                  example: 100
                currency:
                  type: string
                  description: Currency Code
                  example: USD
                companycode:
                  type: string
                  description: Company Code
                  example: 00200
                userid:
                  type: string
                  description: User ID
                  example: user1
                reference:
                  type: string
                  description: Reference Text
                  example:
                purchaseorder:
                  type: string
                  description: Purchase Order
                  example: USD
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            type: number
          example: 1000000001
        - name: Signature
          in: header
          description: HMAC Signature
          required: true
          schema:
            type: string
          example: Hmac MTAwMDQ2Mjk0MjpFK0dRUHZTS2NDaUsweHhZRm8rcFg3SEZJUmYS0wOTkxLTQ0ZDgtYTgzMy03YTdmNDY4OGEzZTc6Y0NDM1NDA0MA==
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountid:
                    type: number
                    description: Account ID
                    example: 1000000001
                  status:
                    type: string
                    description: Y or N
                    example: Y
                  message:
                    type: string
                    description: Message
                    example: Authorization successful.
                  paymenttransactionid:
                    type: string
                    description: SnapPay Payment Transaction ID
                    example: 1362
                  pgtransactionid:
                    type: string
                    description: Payment Gateway Transaction ID
                    example: 132912341342
                  transaction:
                    type: object
                    properties:
                      merchantid:
                        type: string
                        description: Payment Gateway Merchant ID
                        example: 34032039484234
                      returncode:
                        type: string
                        description: Payment Gateway Return Code
                        example: 000
                      returndescription:
                        type: string
                        description: Payment Gateway Return Description
                        example: Transaction successful
                      procrespcode:
                        type: string
                        description: Processor Response Code
                        example: RPCT
                      pgtransactionid:
                        type: string
                        description: Payment Gateway Transaction ID
                        example: 260711140916
                      paymenttransactionid:
                        type: string
                        description: SnapPay Transaction ID
                        example: 136243
                      authorizationcode:
                        type: string
                        description: Authorization Code
                        example: 234AS5
                      transactiondate:
                        type: string
                        description: Transaction Date
                        example: 02/14/2021 03:00:28 PM
                      transactionamount:
                        type: string
                        description: Transaction Amount
                        example: 100
                      currency:
                        type: string
                        description: Currency Code
                        example: USD
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/interop/GetTransaction:
    post:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Get Transaction
      summary: GetTransaction
      description: The GetTransaction API allows to inquire on a previous transaction. This API allows to inquire on a previous transaction based on transaction ID, order ID, reference or purchase order. The response contains a list of transactions as more than one transaction can have same order ID, reference or purchase order.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountid:
                  type: number
                  description: Account ID
                  example: 1000000001
                orderid:
                  type: string
                  description: Account
                  example: 123456
                transactionid:
                  type: string
                  description: Account
                  example:
                reference:
                  type: string
                  description: Accoun
                  example:
                purchaseorder:
                  type: string
                  description: Account
                  example: 
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            type: number
          example: 1000000001
        - name: Signature
          in: header
          description: HMAC Signature
          required: true
          schema:
            type: string
          example: Hmac MTAwMDQ2Mjk0MjpFK0dRUHZTS2NDaUsweHhZRm8rcFg3SEZJUmYS0wOTkxLTQ0ZDgtYTgzMy03YTdmNDY4OGEzZTc6Y0NDM1NDA0MA==
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountid:
                    type: number
                    description: Account ID
                    example: 1000000001
                  message:
                    type: string
                    description: Message
                    example: Success
                  transactions:
                    type: array
                    items:
                      type: object
                      properties:
                        transactionstatus:
                          type: string
                          description: Transaction Status - Open, Captured or Failed for authorization transaction. Failed or Success for other transactions.
                          example: Captured
                        merchantid:
                          type: string
                          description: Payment Gateway Merchant ID
                          example: 34032039484234
                        returncode:
                          type: string
                          description: Payment Gateway Return Code
                          example: 000
                        returndescription:
                          type: string
                          description: Payment Gateway Return Description
                          example: Transaction successful
                        procrespcode:
                          type: string
                          description: Processor Response Code
                          example: RPCT
                        pgtransactionid:
                          type: string
                          description: Payment Gateway Transaction ID
                          example: 260711140916
                        pgtransactiontype:
                          type: string
                          description: Payment Gateway Transaction Type - A for Authorize, etc.
                          example: A
                        paymenttransactionid:
                          type: string
                          description: SnapPay Transaction ID
                          example: 136243
                        authorizationcode:
                          type: string
                          description: Authorization Code
                          example: 234AS5
                        transactiondate:
                          type: string
                          description: Transaction Date
                          example: 02/14/2021 030028 PM
                        transactionamount:
                          type: number
                          description: Transaction Amount
                          example: 75.25
                        currency:
                          type: string
                          description: Currency Code
                          example: USD
                        totaltransactionamount:
                          type: number
                          description: Total transaction amount (transactionamount + feeamount)
                          example: 75.25
                        feeamount:
                          type: number
                          description: Fee Amount (amount in currency)
                          example: 0
                        feevalue:
                          type: number
                          description: Fee Value (value in % for Surcharge fee)
                          example: 0
                        dctransaction:
                          type: object
                          properties:
                            merchantid:
                              type: string
                              description: Payment Gateway Merchant ID
                              example: 496695144562
                            returncode:
                              type: string
                              description: Payment Gateway Return Code
                              example: 000
                            returndescription:
                              type: string
                              description: Return Description
                              example: Approval
                            pgtransactionid:
                              type: string
                              description: Payment Gateway Transaction ID
                              example: 360354240638
                            paymenttransactionid:
                              type: number
                              description: SnapPay Transaction ID
                              example: 43237
                            authorizationcode:
                              type: string
                              description: Authorization Code
                              example: PPS351
                            transactiondate:
                              type: string
                              description: Transaction Date
                              example: 07/31/2021 10:19:37 AM
                            procrespcode:
                              type: string
                              description: Processor Response Code
                              example: RPCT
                            transactionamount:
                              type: number
                              description: Transaction Amount
                              example: 75.25
                            currency:
                              type: string
                              description: Currency Code
                              example: USD
                            totaltransactionamount:
                              type: number
                              description: Total transaction amount (transactionamount + feeamount)
                              example: 75.25
                            feeamount:
                              type: number
                              description: Fee Amount (amount in currency)
                              example: 0
                            feevalue:
                              type: number
                              description: Fee Value (value in % for Surcharge fee)
                              example: 0
                        paymentmethod:
                          type: object
                          properties:
                            paymentmethodid:
                              type: number
                              description: SnapPay Payment Method ID
                              example: 18304
                            tokenid:
                              type: string
                              description: Token ID
                              example: 9412345678912345
                            type:
                              type: string
                              description: Type of credit card
                              example: VISA
                            last4:
                              type: string
                              description: Last 4 digits of credit card
                              example: 2345
                            firstname:
                              type: string
                              description: First Name
                              example: John
                            lastrname:
                              type: string
                              description: Last Name
                              example: Smith
                            expirationmonth:
                              type: number
                              description: Expiration Month
                              example: 12
                            expirationyear:
                              type: number
                              description: Expiration Year
                              example: 2029
                            addressline1: 
                              type: string
                              description: Address Line 1
                              example: 123 Main St
                            city:
                              type: string
                              description: City
                              example: Lombard
                            state:
                              type: string
                              description: State
                              example: IL
                            zip:
                              type: string
                              description: Zip/Postal Code
                              example: 60148
                            country:
                              type: string
                              description: Country
                              example: US
                            email:
                              type: string
                              description: Email Address
                              example: john.smith@company.com
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/TransactionHistory:
    get:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Retrieve Transaction History
      summary: Retrieve Transaction History
      description: The TransactionHistory download API can report all payment transactions that have occurred on the SnapPay portal.  Based on account configuration, this can include payments on the EIPP portal, as well as through the interoperability API’s.  Payment information includes invoice details for a complete picture of the intended accounting of the payment. New payments since the last time the API was called are returned by default.  This allows calling the API multiple times during the day and being assured that only transactions you have not already received will be returned.  If a date range is provided, all transactions within that range will be reported each time the API is called.

      operationId: retrieveTransactionHistory
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            type: number
          example: 1000000001
        - name: Signature
          in: header
          description: HMAC Signature
          required: true
          schema:
            type: string
          example: Hmac MTAwMDQ2Mjk0MjpFK0dRUHZTS2NDaUsweHhZRm8rcFg3SEZJUmYS0wOTkxLTQ0ZDgtYTgzMy03YTdmNDY4OGEzZTc6Y0NDM1NDA0MA==
        - name: startdate
          in: query
          schema:
            type: string
          description: Start/FromDate
          example: 04/01/2022
        - name: enddate
          in: query
          schema:
            type: string
          description: End/To Date
          example: 04/30/2022
        - name: type
          in: query
          description: Type C for customer and S for Supplier. Default value is C.
          schema:
            type: string
          example: C
        - name: status
          in: query
          schema:
            type: string
          description: Status S – successful transaction, F – failed transactions and A – all transactions. Default value is S.
          example: S
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountid:
                    type: number
                    description: SnapPay Account ID
                    example: 1000000001
                  transactionscount:
                    type: number
                    description: Transaction Count – This parameter will give the number of payment transactions sent.
                    example: 100
                  transactionremaining:
                    type: string
                    description: Transaction Remaining – This parameter will be set to “Yes” if there are more transactions available to be downloaded.
                    example: Yes
                  paymentdata:
                    type: array
                    items:
                      type: object
                      properties:
                        paymentheaderid:
                          type: number
                          description: SnapPay Payment Header ID
                          example: 12432
                        sourcetype:
                          type: string
                          description: Source Type – I for Invoice and U for unapplied cash payment (pre-payment)
                          example: I
                        customerid:
                          type: string
                          description: Customer ID
                          example: 5987
                        companycode:
                          type: string
                          description: Company Code
                          example: 00200
                        transactionamount:
                          type: number
                          description: Transaction Amount
                          example: 100.1
                        comments:
                          type: string
                          description: Header Comments
                          example: Comments about the payment
                        paymentdate:
                          type: string
                          description: SnapPay
                          example: 2018-07-16 8:05 PM
                        paymentdetails:
                          type: array
                          items:
                            type: object
                            properties:
                              invoicenumber:
                                type: string
                                description: Invoice Number
                                example: 13069
                              invoicetype:
                                type: string
                                description: Invoice Type
                                example: RI
                              linenumber:
                                type: string
                                description: Line Number (Pay Item)
                                example: 1
                              openamount:
                                type: number
                                description: Open Amount
                                example: 300
                              taxableamount:
                                type: number
                                description: Taxable Amount
                                example: 20
                              taxamount:
                                type: number
                                description: Tax Amount
                                example: 10
                              paidamount:
                                type: number
                                description: Paid Amount
                                example: 25
                              paidtax:
                                type: number
                                description: Paid Tax
                                example: 0.5
                              discountavailable:
                                type: number
                                description: Discount Available
                                example: 0
                              discounttaken:
                                type: number
                                description: Discount Taken
                                example: 0
                              discountapplied:
                                type: number
                                description: Discount Applied
                                example: 0
                              comments:
                                type: string
                                description: Line Comments
                                example: 
                              reasoncode:
                                type: string
                                description: Reason Code
                                example: 
                              paymentdate:
                                type: string
                                description: Transaction Date
                                example: 2018-07-16 8:05 PM
                        paymenttransaction:
                          type: object
                          properties:
                            transactionid:
                              type: string
                              description: Transaction ID
                              example: 100214822343
                            currencycode:
                              type: string
                              description: Currency Code
                              example: USD
                            pgtransactiontype:
                              type: string
                              description: Payment Gateway Transaction Type
                              example: S
                            pgmerchantname:
                              type: string
                              description: Payment Gateway Merchant Name
                              example: BluePay
                            transactionamount:
                              type: number
                              description: Transaction Amount
                              example: 120.1
                            authorizationnumber:
                              type: string
                              description: Authorization Number
                              example: SDRDXX
                            pgreturncode:
                              type: string
                              description: Payment Gateway Return Code
                              example: 000
                            pgreturndescription:
                              type: string
                              description: Payment Gateway Return Description
                              example: Transaction Successful
                            paymentdate:
                              type: string
                              description: Transaction Date
                              example: 2018-07-16 8:05 PM
                            feetype:
                              type: string
                              description: Fee Type (Convenience / Surcharge / Service)
                              example: Convenience
                            feeamount:
                              type: number
                              description: Fee Amount
                              example: 20
                            feevalue:
                              type: number
                              description: Fee Value – same as amount for convenience fee and % for surcharge
                              example: 20
                            feeformat:
                              type: string
                              description: Fee Format (Dollar/Percentage) – Dollar is supported for convenience fee and % for surcharge fee
                              example: Dollar
                            feestatus:
                              type: string
                              description: Fee Status (Y/N)
                              example: Y
                            feeauthcode:
                              type: string
                              description: Fee Authorization Code – same as authorizationnumber for convenience fee and surcharge fee
                              example: SDRDXX
                            feetransactionid:
                              type: string
                              description: Fee Transaction ID – same as transactionid for convenience fee and surcharge fee
                              example: 100214822343
                        paymentmethod:
                          type: object
                          properties:
                            type:
                              type: string
                              description: Type of payment method – Visa, Mastercard, etc.
                              example: MC
                            last4:
                              type: string
                              description: Last 4 digits of payment method
                              example: 5454
                            routingnumber:
                              type: string
                              description: Routing Number
                              example: 
                            tokenid:
                              type: string
                              description: Token ID
                              example: 1234567891
                            merchantid:
                              type: string
                              description: Merchant ID
                              example: 100121793761
                            paymentgateway:
                              type: string
                              description: Payment Gateway
                              example: BluePay
                            firstname:
                              type: string
                              description: First Name
                              example: John
                            lastname:
                              type: string
                              description: Last Name
                              example: Smith
                            expirationmonth:
                              type: string
                              description: Expiration Month
                              example: 12
                            expirationyear:
                              type: string
                              description: Expiration Year
                              example: 2029
                            addressline1:
                              type: string
                              description: Address Line 1
                              example: 123 Main St
                            city:
                              type: string
                              description: City
                              example: Lombard
                            state:
                              type: string
                              description: State
                              example: IL
                            zip:
                              type: string
                              description: Zip/Postal Code
                              example: 60148
                            country:
                              type: string
                              description: Country
                              example: US
                            phonenumber:
                              type: string
                              description: Phone Number
                              example:
                            email:
                              type: string
                              description: Email
                              example: john.smith@company.com
                        paymenttransactionrecon:
                          type: object
[...]
