openapi: 3.0.2
info:
  title: SnapPay
  description: >-
    Digitally transform your payment process with certified ERP integration to
    improve working capital and increase efficiencies. SnapPay from Fiserv,
    integrates with popular ERP solutions and shopping cart solutions to serve
    the holistic B2B payment needs of enterprise-size businesses.
  
  version: 3.0.9
servers:
  - url: https://restapi.snappayglobal.com/
  - url: https://demo1.cditechnology.com/SnapPay/REST/
    
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  examples:
    GetRequestID-O:
      value:
        accountid: 1000000001
        companycode: '00200'
        currencycode: USD
        customerid: '4242'
        userid: first.last@company.com
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        redirecturl: https://company.com
        redirectionurlonerror: '#'
        reference: ''
        type: C
        transactiontype: O
        transactionamount: 0.00
        paymentmethod: CC
        cvvrequired: 'Y'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        language: en-US
        stylecss: ''
        ordertype: ''
        branchplant: ''
        useboltdevice: 'Y'
        devicehsn: ''
        purchaseorder: '1243'
        ecomind: E
        cof: C
        cofscheduled: 'N'
        openiniframe: 'Y'
        sendemailreceipts: 'Y'
        parenturi: https://company.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        user:
          userfirstname: First
          userlastname: Last
          useremail: first.last@company.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        customer:
          customername: ABC, Inc.
          addressline1: 100 Eve
          addressline2: ''
          city: Chicago
          state: IL
          zipcode: '60605'
          country: US
          phone: ''
          email: name@company.com
          vatregistrationnumber: ''
        level3:
          - linenumber: '1.000'
            productcode: 'ROS01'
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: 'Mixed Bouquet'
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: 'BQT02'
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: 'Spring Bouquet'
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
    GetRequestID-I:
      value:
        accountid: 1000000001
        companycode: '00200'
        currencycode: USD
        customerid: '4242'
        userid: first.last@company.com
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        redirecturl: https://company.com
        redirectionurlonerror: '#'
        reference: ''
        type: C
        transactiontype: I
        transactionamount: 0.00
        paymentmethod: CC
        cvvrequired: 'Y'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        language: en-US
        stylecss: ''
        ordertype: ''
        branchplant: ''
        useboltdevice: 'Y'
        devicehsn: ''
        purchaseorder: '1243'
        ecomind: E
        cof: C
        cofscheduled: 'N'
        openiniframe: 'Y'
        sendemailreceipts: 'Y'
        parenturi: https://company.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        user:
          userfirstname: First
          userlastname: Last
          useremail: first.last@company.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        customer:
          customername: ABC, Inc.
          addressline1: 100 Eve
          addressline2: ''
          city: Chicago
          state: IL
          zipcode: '60605'
          country: US
          phone: ''
          email: name@company.com
          vatregistrationnumber: ''
        level3:
          - linenumber: '1.000'
            productcode: 'ROS01'
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: 'Mixed Bouquet'
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: 'BQT02'
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: 'Spring Bouquet'
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
    GetRequestID-A:
      value:
        accountid: 1000000001
        companycode: '00200'
        currencycode: USD
        customerid: '4242'
        userid: first.last@company.com
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        redirecturl: https://company.com
        redirectionurlonerror: '#'
        reference: ''
        type: C
        transactiontype: A
        transactionamount: 51.00
        paymentmethod: CC
        cvvrequired: 'Y'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        language: en-US
        stylecss: ''
        ordertype: ''
        branchplant: ''
        useboltdevice: 'Y'
        devicehsn: ''
        purchaseorder: '1243'
        ecomind: E
        cof: C
        cofscheduled: 'N'
        openiniframe: 'Y'
        sendemailreceipts: 'Y'
        parenturi: https://company.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        user:
          userfirstname: First
          userlastname: Last
          useremail: first.last@company.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        customer:
          customername: ABC, Inc.
          addressline1: 100 Eve
          addressline2: ''
          city: Chicago
          state: IL
          zipcode: '60605'
          country: US
          phone: ''
          email: name@company.com
          vatregistrationnumber: ''
        level3:
          - linenumber: '1.000'
            productcode: 'ROS01'
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: 'Mixed Bouquet'
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: 'BQT02'
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: 'Spring Bouquet'
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
    GetRequestID-S:
      value:
        accountid: 1000000001
        companycode: '00200'
        currencycode: USD
        customerid: '4242'
        userid: first.last@company.com
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        redirecturl: https://company.com
        redirectionurlonerror: '#'
        reference: ''
        type: C
        transactiontype: S
        transactionamount: 100.00
        paymentmethod: CC
        cvvrequired: 'Y'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        language: en-US
        stylecss: ''
        ordertype: ''
        branchplant: ''
        useboltdevice: 'Y'
        devicehsn: ''
        purchaseorder: '1243'
        ecomind: E
        cof: C
        cofscheduled: 'N'
        openiniframe: 'Y'
        sendemailreceipts: 'Y'
        parenturi: https://company.com
        displaycardname: 'Y'
        displayaddress: 'Y'
        displaytransactionamount: 'Y'
        displaycurrencycode: 'Y'
        displaycustomer: 'Y'
        displaypagetitle: 'Y'
        user:
          userfirstname: First
          userlastname: Last
          useremail: first.last@company.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        customer:
          customername: ABC, Inc.
          addressline1: 100 Eve
          addressline2: ''
          city: Chicago
          state: IL
          zipcode: '60605'
          country: US
          phone: ''
          email: name@company.com
          vatregistrationnumber: ''
        level3:
          - linenumber: '1.000'
            productcode: 'ROS01'
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: 'Mixed Bouquet'
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: 'BQT02'
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: 'Spring Bouquet'
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
    GetRequestID-T:
      value:
        accountid: 1000000001
        companycode: '00200'
        currencycode: USD
        transactionType: T
        paymentmethod: CC
        language: en-US
        stylecss: 'width: 50.50%;height:50.50%;'
        customerid: '100'
        userid: user1
        savepaymentmethod: 'N'
        saveatcustomer: 'N'
        displaycardssavedatcustomer: 'N'
        redirecturl: https://www.google.com/
        transactionamount: 0.00
        parenturi: https://company.com
        displaycardname: 'Y'
        displayaddress: 'N'
    GetRequestID-Fee:
      value:
        accountid: 1000000001
        companycode: '00200'
        currencycode: USD
        customerid: '4242'
        supplierid: '14343'
        userid: first.last@company.com
        savepaymentmethod: 'Y'
        saveatsupplier: 'Y'
        displaypmsavedatsupplier: 'Y'
        saveatcustomer: 'Y'
        displaycardssavedatcustomer: 'Y'
        redirecturl: https://www.xyz.com/receive
        type: C
        transactiontype: S
        transactionamount: 100
        paymentmethod: CC
        cvvrequired: 'Y'
        invoiceid: '4621657657'
        orderid: ''
        comments: ''
        language: en-US
        stylecss: ''
        ordertype: ''
        branchplant: ''
        useboltdevice: 'Y'
        devicehsn: '122353253252'
        purchaseorder: '1243'
        ecomind: E
        cof: C
        cofscheduled: 'N'
        openiniframe: 'Y'
        feevalue: 10.5
        feeformat: Flat
        waivefee: 'N'
        user:
          userfirstname: first
          userlastname: last
          useremail: first.last@xyz.com
          isactive: 'Y'
          forcepasswordreset: 'N'
          forcetermsandconditions: 'N'
          devicegroup: ''
        customer:
          customername: ''
          addressline1: ''
          addressline2: ''
          city: ''
          state: ''
          zipcode: ''
          country: ''
          phone: ''
          email: ''
          vatregistrationnumber: ''
        supplier:
          suppliername: Battery Builders
          addressline1: 31W238 91st St,
          addressline2: ''
          city: Naperville
          state: IL
          zipcode: '60564'
          country: US
          phone: (630) 851-5800
          email: t2@company.com
          identificationtype: ''
          identificationdata: 12/12/1961
          companyname: Battery Builders
          clientcompanyname: Company
          internalmemo: ''
          comments: ''
          reason: ''
          status: ''
        level3:
          - linenumber: '1.000'
            productcode: ROS01
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Mixed Bouquet
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: BQT02
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Spring Bouquet
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
    GetRequestIDResponse:
      value:
        accountid: 1000000001
        token: 0b724a4f-5bbb-e811-b229-000c29cce4c0
        status: 'Y'
        message: Information stored successfully.
    GetPaymentDetailDefault:
      value:
        accountid: 1000000001
        token: 59be95d9-cd6e-ec11-bad0-0022488db98a
    TokenizeCCRequest:
      value: 
        accountid: 1000000001
        requesttype: C
        currency: USD
        companycode: '00200'
        branchplant: null
        ordertype: null
        mode: CC
        type: VISA
        routingnumber: ''
        bankname: ''
        checktype: null
        identificationtype: null
        dlstate: null
        identificationnumber: null
        accountnumber: '4111111111111111'
        expirationdate: '122029'
        name: First Last
        addressline1: 123 Main St
        city: Lombard
        state: IL
        zip: '60148'
        country: US
        email: first.last@company.com
        phonenumber: 123456789
    TokenizeCCResponse:
      value:
        accountid: 1000000001
        status: 'Y'
        message: Tokenization successful.
        currency: USD
        companycode: '00200'
        branchplant: null
        ordertype: null
        mode: CC
        type: VISA
        last4: '1111'
        routingnumber: null
        bankname: null
        checktype: null
        identificationtype: null
        identificationnumber: null
        tokenid: '1234567891231111'
        expirationdate: '122029'
        name: First Last
        addressline1: 123 Main St
        city: Lombard
        state: IL
        zip: '60148'
        country: US
        email: first.last@company.com
        phonenumber: null
    TokenizeACHRequest:
      value: 
        accountid: 1000000001
        requesttype: C
        currency: USD
        companycode: '00200'
        branchplant: null
        ordertype: null
        mode: CC
        type: SAVING
        routingnumber: '121123248'
        bankname: 'bank'
        checktype: null
        identificationtype: null
        dlstate: null
        identificationnumber: null
        accountnumber: '144155159'
        expirationdate: '122029'
        name: First Last
        addressline1: 123 Main St
        city: Lombard
        state: IL
        zip: '60148'
        country: US
        email: first.last@company.com
        phonenumber: 123456789
    TokenizeACHResponse:
      value:
        accountid: 1000000001
        status: 'Y'
        message: Tokenization successful.
        currency: USD
        companycode: '00200'
        branchplant: null
        ordertype: null
        mode: ACH
        type: SAVING
        last4: '5159'
        routingnumber: '121123248'
        bankname: 'bank'
        checktype: null
        identificationtype: null
        identificationnumber: null
        tokenid: '101260621595'
        expirationdate: '122029'
        name: First Last
        addressline1: 123 Main St
        city: Lombard
        state: IL
        zip: '60148'
        country: US
        email: first.last@company.com
        phonenumber: null
    TokenizeWithDeviceDataRequest:
      value:
        accountid: 1000000001
        requesttype: C
        currency: USD
        companycode: '00200'
        branchplant: ''
        ordertype: ''
        mode: CC
        devicedata: "02A600C0170018008292;4387********1053=2804?*274C4F7252CB38CDAEF155D58898E969C574A1D0547A2728000000000000000000000000000000000000000035303454363134353131CDCDCD070120B040011C36AE03"
        type: ''
        routingnumber: ''
        bankname: ''
        checktype: ''
        identificationtype: ''
        identificationnumber: ''
        accountnumber: ''
        expirationdate: ''
        name: First Last
        addressline1: 123 Main St
        city: Lombard
        state: IL
        zip: '60148'
        country: US
        email: first.last@company.com
        phonenumber: 123456789
    CaptureRequestWithSurcharge:
      value:
        accountid: 1000000001
        referencetransactionid: '1234052209561358250'
        transactionamount: 1.24
        customerid: '4242'
        currency: USD
        companycode: '100'
        userid: user
        orderid: P-141153
        invoiceid: '1407261399'
        ordertype: ''
        branchplant: ''
        purchaseorder: ''
        orderdate: '20230507'
    CaptureRequestWithServiceFee:    
      value:
        accountid: 1000000001
        referencetransactionid: '1234052209561358365'
        transactionamount: 74.00
        customerid: '4242'
        currency: USD
        companycode: '100'
        userid: user
        orderid: P-141153
        invoiceid: '1407261399'
        ordertype: ''
        branchplant: ''
        purchaseorder: ''
        orderdate: '20230507'
    CaptureResponseWithServiceFee:
      value:
        accountid: 1000000001
        status: 'Y'
        message: Transaction successful.
        paymenttransactionid: '1362'
        pgtransactionid: '132912341342'
        reference: ''
        purchaseorder: ''
        transaction:
          merchantid: "12452589"
          returncode: '000'
          returndescription: Transaction successful.
          pgtransactionid: '123456342330'
          paymenttransactionid: '1394'
          authorizationcode: PPS038
          transactiondate: 06/06/2019 02:25:33 PM
          procrespcode: RPCT
          transactionamount: 74.00
          currency: USD
          procresp: RPCT-000
          totaltransactionamount: 76.59
          feereturncode: '26'
          feereturndescription: Transaction successful.
          feeamount: 2.59
          feeauthcode: PPS191
          feeformat: Percentage
          feevalue: 3.5
          feestatus: 'Y'
          feetransactionid: '01475235228256'
          feetype: Service
          feeprocresp: PPS-26
    CaptureResponseWithSurcharge:
      value:
        accountid: 1000000001
        status: 'Y'
        message: Transaction successful.
        isalreadycaptured: 'N'
        purchaseorder: ''
        referencetransactionid: '1234052209561358250'
        transaction:
          merchantid: "12452589"
          returncode: '1'
          returndescription: Successful Settlement
          pgtransactionid: '1234052209561358250'
          paymenttransactionid: '1000011234'
          authorizationcode: TSTAUT
          transactiondate: 05/22/2023 05:14:45 AM
          procrespcode: ''
          transactionamount: 1.24
          currency: USD
          totaltransactionamount: 1.24
          feeamount: 0
          feevalue: 0
        
    AuthorizeDefaultRequest:
      value:
        accountid: 1000000001
        customerid: '100'
        currency: USD
        companycode: '00200'
        branchplant: null
        ordertype: null
        orderid: '123456'
        invoiceid: '123456'
        userid: user1
        reference: null
        purchaseorder: USD
        cards:
          - transactionamount: 10
            tokenid: 'XXXXXXXXXXXX2344'
            type: VISA
            last4: '2344'
            cvv: '123'
            expirationdate: '122029'
            customername: First Last
            addressline1: 123 Main St
            city: Lombard
            state: IL
            zip: '60148'
            country: US
            email: first.last@company.com
            phonenumber: null
          - transactionamount: 25.14
            tokenid: 'XXXXXXXXXXXX1111'
            type: MC
            last4: '1111'
            cvv: '123'
            expirationdate: '022027'
            customername: First Last
            addressline1: 123 Main St
            city: Lombard
            state: IL
            zip: '60148'
            country: US
            email: first.last@company.com
            phonenumber: null
    AuthorizeRequestWithSurcharge:
      value:
        accountid: 1000000001
        customerid: '4242'
        currency: USD
        companycode: '100'
        branchplant: ''
        ordertype: ''
        orderid: P-141153
        invoiceid: I-153
        userid: user
        reference: P-141153
        purchaseorder: ''
        ecomind: E
        cof: C
        cofscheduled: 'N'
        iscardpresent: 'N'
        iscapture: 'N'
        cards:
          - transactionamount: 1.24
            tokenid: '9520084673621753095'
            cvv: '124'
            expirationdate: '102024'
            customername: Atul N
            addressline1: 100 Street
            city: Chicago
            state: IL
            zip: '60540'
            country: US
            email: first.last@company.com
            phonenumber: ''
            type: VISA
            last4: '3095'
            secureflag: '05'
            securevalue: ''
            securedstid: ''
            secureexemption: lowvalue
    AuthorizeResponseWithSurcharge:
      value:
        accountid: 1000000001
        status: 'Y'
        message: Transaction successful.
        reference: P-141153
        purchaseorder: ''
        cards:
          - merchantid: "12452589"
            tokenid: '9520084673621753095'
            returncode: '1'
            returndescription: Successful Authorization
            pgtransactionid: '1234052209561358250'
            paymenttransactionid: '1000011234'
            authorizationcode: TSTAUT
            status: 'Y'
            transactiondate: 05/22/2023 04:56:05 AM
            procrespcode: ''
            scverification: 'N'
            addressverification: ''
            transactionamount: 1.24
            currency: USD
            totaltransactionamount: 1.24
            feeamount: 0
            feevalue: 0
    AuthorizeRequestWithServiceFee:
      value:
        accountid: 1000000001
        customerid: '4242'
        currency: USD
        companycode: '100'
        branchplant: ''
        ordertype: ''
        orderid: P-141153
        invoiceid: I-153
        userid: user
        reference: P-141153
        purchaseorder: ''
        ecomind: E
        cof: C
        cofscheduled: 'N'
        iscardpresent: 'N'
        iscapture: 'N'
        cards:
          - transactionamount: 100.24
            tokenid: '9417085548851111'
            cvv: '124'
            expirationdate: '102024'
            customername: Atul N
            addressline1: 100 Street
            city: Chicago
            state: IL
            zip: '60540'
            country: US
            email: first.last@company.com
            phonenumber: ''
            type: VISA
            last4: '1111'
            secureflag: '05'
            securevalue: ''
            securedstid: ''
            secureexemption: lowvalue
    AuthorizeResponseWithServiceFee:
      value:
        accountid: 1000000001
        status: 'Y'
        message: Transaction successful.
        reference: P-141153
        purchaseorder: ''
        cards:
          - merchantid: '12452589'
            tokenid: '9417085548851111'
            returncode: '000'
            returndescription: Approval
            pgtransactionid: '123433330031'
            paymenttransactionid: '1000011234'
            authorizationcode: PPS020
            status: 'Y'
            transactiondate: 05/22/2023 07:20:23 AM
            procrespcode: RPCT
            scverification: M
            addressverification: Z
            transactionamount: 100.24
            currency: USD
            totaltransactionamount: 110.26
            feereturncode: '000'
            feereturndescription: Transaction successful.
            feeamount: 10.02
            feeauthcode: PPS506
            feeformat: Percentage
            feevalue: 10
            feestatus: 'Y'
            feetransactionid: '123427230057'
            feetype: Service
            procresp: RPCT-000
            feeprocresp: RPCT-000
    AuthorizeDefaultResponse:
      value:
        accountid: 1000000001
        status: 'Y'
        message: Authorization successful.
        cards:
          - merchantid: "12452589"
            returncode: '0'
            returndescription: Transaction successful
            procrespcode: RPCT
            pgtransactionid: '260711140916'
            tokenid: '1234567891232344'
            paymenttransactionid: '136243'
            authorizationcode: A212345
            transactiondate: 02/14/2021 03:00:28 PM
            transactionamount: '100'
            currency: USD
            status: 'Y'
            scverification: P
            addressverification: Z
    ChargeRequestWithSurcharge:
      value:
        accountid: 1000000001
        companycode: '102'
        shipfromzip: ''
        branchplant: ''
        orderid: '123448'
        invoiceid: '567848'
        orderdate: ''
        userid: user
        shiptocountry: ''
        purchaseorder: '1243'
        shiptozip: ''
        customerid: '2505'
        currency: USD
        sendemailreceipts: 'Y'
        ecomind: E
        cof: C
        cofscheduled: 'N'
        paymentmethod:
          tokenid: 1234D8683B1A23BFF867A4C3F8E05CE0AB2A1049CADF
          transactionamount: '100.50'
          cvv: '123'
          customername: ABC Financial
          addressline1: 100 Ave
          city: Aurora
          state: IL
          zip: '60603'
          country: US
          email: first.last@company.com
          phonenumber: ''
          type: VISA
          last4: '1111'
          routingnumber: ''
          secureflag: '05'
          securevalue: ''
          securexid: ''
          dstxnid: ''
        level3:
          - linenumber: '1.000'
            productcode: ROS01
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: Mixed Bouquet
            unitcost: '30.7500'
            lineitemtotal: '65.96'
            taxamount: '4.46'
            commoditycode: ''
            unitofmeasure: EA
          - linenumber: '2.000'
            productcode: 'BQT02'
            taxrate: '0.073'
            quantity: '2'
            itemdescriptor: 'Spring Bouquet'
            unitcost: '25.6250'
            lineitemtotal: '54.97'
            taxamount: '3.72'
            commoditycode: ''
            unitofmeasure: EA
        ordertype: SO
        userfields:
          - udf0: Value 1
          - udf1: Value 2
          - udf2: Value 3
          - udf3: Value 4
          - custommerchant: Company
          - customphone: 123-456-HELP
    ChargeResponseWithSurcharge:
      value:
        accountid: 1000000001
        status: 'Y'
        message: Transaction successful.
        purchaseorder: '1243'
        transaction:
          merchantid: "12452589"
          returncode: '1'
          returndescription: Successful Authorization
          pgtransactionid: '1234052210451047452'
          paymenttransactionid: '1000011234'
          authorizationcode: TSTAUT
          transactiondate: 05/22/2023 05:45:03 AM
          procrespcode: ''
          scverification: 'Y'
          addressverification: ''
          transactionamount: 100.5
          currency: USD
          totaltransactionamount: 103.52
          feeamount: 3.02
          feeauthcode: TSTAUT
          feeformat: Percentage
          feevalue: 3
          feestatus: 'Y'
          feetransactionid: '1234052210451047452'
          feetype: Surcharge
    ChargeRequestWithServiceFee:
      value:
        accountid: 1000000001
        companycode: '100'
        shipfromzip: ''
        branchplant: ''
        orderid: '123448'
        invoiceid: '567848'
        orderdate: ''
        userid: user
        shiptocountry: ''
        purchaseorder: '1243'
        shiptozip: ''
        customerid: '4242'
        currency: USD
        sendemailreceipts: 'Y'
        ecomind: E
        cof: C
        cofscheduled: 'N'
        feevalue: 10
        feeformat: percentage
        waivefee: 'N'
        paymentmethod:
          tokenid: '9401881398911234'
          transactionamount: '110.50'
          cvv: '123'
          customername: ABC Financial
          addressline1: 100 Ave
          city: Aurora
          state: IL
          zip: '60603'
          country: US
          email: first.last@company.com
          phonenumber: ''
          type: VISA
          last4: '1234'
          routingnumber: ''
          secureflag: '05'
          securevalue: ''
          securexid: ''
          dstxnid: ''
    ChargeResponseWithServiceFee:
      value:
        accountid: 1000000001
        status: 'Y'
        message: Transaction successful.
        purchaseorder: '1243'
        transaction:
          merchantid: "12452589"
          returncode: '000'
          returndescription: Approval
          pgtransactionid: '123418229266'
          paymenttransactionid: '1000011234'
          authorizationcode: PPS446
          transactiondate: 05/22/2023 07:07:40 AM
          procrespcode: RPCT
          scverification: M
          addressverification: Z
          transactionamount: 110.5
          currency: USD
          procresp: RPCT-000
          totaltransactionamount: 121.55
          feereturncode: '000'
          feereturndescription: Transaction successful.
          feeamount: 11.05
          feeauthcode: PPS971
          feeformat: Percentage
          feevalue: 10
          feestatus: 'Y'
          feetransactionid: '123423329291'
          feetype: Service
          minimumfeeused: 'N'
          thresholdfeeused: 'N'
          feeprocresp: RPCT-000
    SnapPayReportingScheduleRequest:
      value:
        accountid: 1000000001
        process: schedule
        fromdate: '2022-06-01'
        todate: '2022-09-27'
    SnapPayReportingUserRequest:
      value:
        accountid: 1000000001
        process: user
        fromdate: '2022-06-01'
        todate: '2022-09-27'
    SnapPayReportingUserCustomerRequest:
      value:
        accountid: 1000000001
        process: usercustomer
        fromdate: '2022-06-01'
        todate: '2022-09-27'
    SnapPayReportingUserLeaseRequest:
      value:
        accountid: 1000000001
        process: userlease
        fromdate: '2022-06-01'
        todate: '2022-09-27'
    SnapPayReportingSalesReportingRequest:
      value:
        accountid: 1000000001
        process: salesreporting
        fromdate: '2022-06-01'
        todate: '2022-09-27'
    SnapPayReportingAutopayRequest:
      value:
        accountid: 1000000001
        process: autopay
        fromdate: '2022-01-01'
        todate: '2022-01-30'
    SnapPayReportingScheduleResponse:
      value:
        accountid: 1000000001
        status: 'Y'
        message: Data retrieved successfully.
        scheduledata:
          - scheduleid: 591
            schedulename: 'Schedule Test'
            source: I
            frequency: F
            startdate: 06/23/2022 07:00:00 PM
            enddate: 06/23/2022 07:00:00 PM
            amount: 20
            stopdate: ''
            reasoncode: null
            leasenumber: '451412'
            businessunit: '15010'
            unit: '102'
            leasedescription: Lease Description 1
            businessdescription: Business Description 1
            unitdescription: Unit Description 1
            createdby: "atulncsr"
            createdon: "12/16/2022 04:44:55 AM"
            updatedby: null
            updatedon: ""
            paymentmethod:
              - paymentmethodid: 32595
                type: 'VISA'
                mode: 'CC'
                last4: '5165'
                routingnumber: null
                maskedaccountnumber: null
                tokenid: 'XXXXXXXXXXXX5165'
                merchantid: 'CardConnect'
                paymentgateway: 'CardConnect'
                firstname: 'First'
                lastname: 'Last'
                expirationmonth: 6
                expirationyear: 2029
                addressline1: '22nd Street'
                city: 'Chicago'
                state: 'IL'
                zip: '60605'
                country: 'US'
                phonenumber: null
                email: 'first.lat@cditechnology.com'
            invoicedata:
              - invoicenumber: '2022622'
                customerid: '2505'
                invoicetype: RI
                companycode: '103'
                linenumber: '1'
                amount: 10
                currency: USD
                comments: ''
              - invoicenumber: '2022623'
                customerid: '2505'
                invoicetype: RI
                companycode: '103'
                linenumber: '1'
                amount: 10
                currency: USD
                comments: ''
          - source: U
            frequency: M
            startdate: 06/27/2022 07:00:00 PM
            enddate: 08/30/2022 07:00:00 PM
            amount: 10
            stopdate: ''
            reasoncode: UN
            leasenumber: '451412'
            businessunit: '15020'
            unit: '101'
            leasedescription: Lease Description 1
            businessdescription: Business Description 1
            unitdescription: Unit Description 1
            glcode: CAMS
            invoicedata: null
    SnapPayReportingUserResponse:
      value:
        accountid: 1000000001
        status: 'Y'
        message: Data retrieved successfully.
        userdata:
          - userid: user@company.com
            firstname: first
            lastname: last
            email: first.last@company.com
            usertypename: customer
            usergroup: Customer
            isactive: 'Y'
            forcepasswordreset: 'N'
            forcetermsandconditions: 'Y'
            effectivefrom: 06/15/2022 06:43:33 AM
            effectiveto: 06/15/2072 06:43:33 AM
            phoneno: ''
            createdby: null
            createdon: "06/03/2022 08:38:11 AM"
            updatedby: "atuladmin"
            updatedon: "12/16/2022 07:31:15 AM"
            lockcount: 0
            lastpasswordchanged: "12/16/2022 07:31:15 AM"
            lastlogin: "12/16/2022 07:36:38 AM"
            useridentity: 17555
          - userid: useradmin
            firstname: first
            lastname: last
            email: first.last@company.com
            usertypename: accountadmin
            usergroup: AccountAdmin
            isactive: 'Y'
            forcepasswordreset: 'N'
            forcetermsandconditions: 'N'
            effectivefrom: 06/03/2022 08:37:15 AM
            effectiveto: 06/03/2072 08:37:15 AM
            phoneno: null
            createdby: "atuladmin"
            createdon: "05/25/2021 04:55:22 AM"
            updatedby: "atulncust"
            updatedon: "06/27/2022 04:47:28 AM"
            lockcount: 0
            lastpasswordchanged: "06/27/2022 04:47:28 AM"
            lastlogin: "08/01/2022 05:45:35 AM"
            useridentity: 10565
    SnapPayReportingUserCustomerResponse:
      value:
        accountid: 10000000001
        status: 'Y'
        message: Data retrieved successfully.
        usercustomerdata:
          - customerid: '17517'
            associationtype: soldto
            isdefault: 'N'
            userid: usercsr
            createdby: admin
            createdon: 04/11/2022 02:20:51 AM
            updatedby: asncsr
            updatedon: 07/07/2022 08:55:27 AM
          - customerid: '10006180'
            associationtype: soldto
            isdefault: 'N'
            userid: usercsr
            createdby: admin
            createdon: 04/06/2022 06:41:20 AM
            updatedby: null
            updatedon: ''
    SnapPayReportingUserLeaseResponse:
      value:
        accountid: 10000000001
        status: 'Y'
        message: Data retrieved successfully.
        userleasedata:
          - leasenumber: '491141'
            isdefault: 'N'
            userid: csr
            createdby: admin
            createdon: 12/16/2022 07:37:33 AM
            updatedby: null
            updatedon: ''
            leasedescription: ARITZIA
          - leasenumber: '44446'
            isdefault: 'N'
            userid: csr
            createdby: admin
            createdon: 12/16/2022 07:37:32 AM
            updatedby: null
            updatedon: ''
            leasedescription: Lease Description 451416 1.00
    SnapPayReportingSalesReportingResponse:
      value:
        accountid: 1000000001
        status: 'Y'
        message: Data retrieved successfully.
        salesreportingdata:
          - customerid: '2505'
            leasenumber: '451414'
            businessunit: '15020'
            unitnumber: '102'
            productcode: OTDR
            year: '2022'
            month: '06'
            salesamount: 1910
            companycode: '00200'
            currencycode: USD
            submittedtoagent: 'Y'
            salesinvitedcode: X
          - customerid: '2505'
            leasenumber: '451413'
            businessunit: '15010'
            unitnumber: '103'
            productcode: OTDR
            year: '2022'
            month: '06'
            salesamount: 2780
            companycode: '00200'
            currencycode: USD
            submittedtoagent: 'N'
            salesinvitedcode: X
          - customerid: '2505'
            leasenumber: '451413'
            businessunit: '15010'
            unitnumber: '102'
            productcode: OTDR
            year: '2022'
            month: '06'
            salesamount: 1500
            companycode: '00200'
            currencycode: USD
            submittedtoagent: 'Y'
            salesinvitedcode: X
    SnapPayReportingAutopayResponse:
     value:
      accountid: 1000000001
      status: 'Y'
      message: Data retrieved successfully.
      autopaydata:
        - autopayid: 395
          customerid: '2505'
          maxamount: 0
          enrolleddate: 10/13/2022 08:00:03 AM
          canceldate: null
          createdon: 10/13/2022 08:00:03 AM
          updatedon: null
          createdby: csr
          updatedby: null
          workstationip: 127.0.0.1
          sourcetype: I
          leasenumber: '451412'
          companycode: '103'
          currencycode: USD
          leasedescription: Lease Description 451412 1.00
          documenttype: LS
          paymentmethod:
            paymentmethodid: 32595
            type: VISA
            mode: CC
            last4: '5165'
            routingnumber: null
            maskedaccountnumber: null
            tokenid: '1234508369325165'
            merchantid: CardConnect
            paymentgateway: CardConnect
            firstname: First
            lastname: Last
            expirationmonth: 6
            expirationyear: 2029
            addressline1: 22nd Street
            city: Chicago
            state: IL
            zip: '60605'
            country: US
            phonenumber: null
            email: first.last@company.com
          leasedetails:
            - businessunit: '15010'
              businessdescription: Deer Park Town Center
              unit: '102'
              unitdescription: Space 102
        - autopayid: 396
          customerid: '2505'
          maxamount: 0
          enrolleddate: 10/13/2022 08:06:07 AM
          canceldate: null
          createdon: 10/13/2022 08:06:07 AM
          updatedon: null
          createdby: csr
          updatedby: null
          workstationip: 127.0.0.1
          sourcetype: I
          leasenumber: '451414'
          companycode: '103'
          currencycode: USD
          leasedescription: Lease Description 451414 1.00
          documenttype: LS
          paymentmethod:
            paymentmethodid: 33647
            type: MC
            mode: CC
            last4: '2025'
            routingnumber: null
            maskedaccountnumber: null
            tokenid: '1234938937322025'
            merchantid: CardConnect
            paymentgateway: CardConnect
            firstname: First
            lastname: Last
            expirationmonth: 6
            expirationyear: 2025
            addressline1: 22nd Street
            city: Chicago
            state: IL
            zip: '60605'
            country: US
            phonenumber: null
            email: first.last@company.com
          leasedetails:
            - businessunit: '15010'
              businessdescription: Deer Park Town Center
              unit: '101'
              unitdescription: Space 102
    TenantSalesReportingDownloadResponse:
     value:
      accountid: 1000000001
      errormessage: ''
      salesreportcustomerdata:
        - customerid: '2505'
          salesreportleasedata:
            - leasenumber: '451413'
              salesreportbusinessunitdata:
                - businessunit: '15010'
                  unitnumber: '102'
                  companycode: '00200'
                  currencycode: USD
                  productcode: OTDR
                  salesreportdata:
                    - year: 2022
                      month: 6
                      salesamount: 1500
                      salesinvitedcode: X
                      batchnumber: 0
                      monthdesc: June
                      createdby: admin
                      createdon: 06/24/2022 04:21:49 AM
                      updatedby: RESTAPI
                      updatedon: 12/22/2022 02:59:53 AM
                  salesreporthistorydata: null
                - businessunit: '15010'
                  unitnumber: '103'
                  companycode: '00200'
                  currencycode: USD
                  productcode: OTDR
                  salesreportdata:
                    - year: 2022
                      month: 6
                      salesamount: 2780
                      salesinvitedcode: X
                      batchnumber: 0
                      monthdesc: June
                      createdby: admin
                      createdon: 06/24/2022 04:23:05 AM
                      updatedby: RESTAPI
                      updatedon: 12/22/2022 02:59:54 AM
                  salesreporthistorydata: null
            - leasenumber: '451414'
              salesreportbusinessunitdata:
                - businessunit: '15020'
                  unitnumber: '102'
                  companycode: '00200'
                  currencycode: USD
                  productcode: OTDR
                  salesreportdata:
                    - year: 2022
                      month: 6
                      salesamount: 1910
                      salesinvitedcode: X
                      batchnumber: 0
                      monthdesc: June
                      createdby: admin
                      createdon: 06/24/2022 04:24:32 AM
                      updatedby: RESTAPI
                      updatedon: 12/22/2022 02:59:54 AM
                  salesreporthistorydata: null
    FundingHistoryRepsonseCardX:
      value:
        accountid: 1000000001
        status: 'Y'
        message: Deposit information attached.
        transactionscount: 2
        merchantdata:
          - merchantid: merchant
            feedepositlist:
              - feedepositid: 1234d504-2d1e-4d15-ba3b4-352de49a9b48
                feedepositdate: 3/2/2023 12:00:00 AM
                paymentgateway: CardX
                feedeposittotal: -58.3
                depositsourceid: '13457189004821'
                depositsource: company
              - feedepositid: abcd6cd4-1234-48b9-8737-71b04ca6b2dd
                feedepositdate: 2/28/2023 12:00:00 AM
                paymentgateway: CardX
                feedeposittotal: -20.99
                depositsourceid: '12345460745791'
                depositsource: company
            fundingmasterlist:
              - fundingmasterid: a12de471-5070-4c7a-99af-df37bedc8daa
                fundingdate: 3/24/2023 12:00:00 AM
                paymentgateway: CardX
                fundings:
                  - fundingid: '1234619665380'
                    netsales: 0
                    totalfunding: 1393.3
                    fee: 0
                    datechanged: ''
                    ddanumber: ''
                    thirdparty: 0
                    dateadded: ''
                    fundingmasterid: abcde471-5070-4c7a-99af-df37bedc8daa
                    reversal: 0
                    interchangefee: 0
                    adjustment: 0
                    currency: USD
                    servicecharge: 0
                    otheradjustment: 0
                    abanumber: ''
                paymentdata:
                  transactions:
                    - snappaytransactionid: '12628'
                      transactionid: '2313024917330'
                      fundingtxnid: a12dbdf7-0708-4643-b526-1ce4a4dd7b9d
                      currencycode: USD
                      type: sale
                      merchantid: snaptstao
                      merchantname: CardXMerchant
                      transactionamount: 305
                      fundedamount: 301.7
                      interchangeunitfee: 0
                      interchangepercentfee: 0
                      cardnumber: 453273XXXXXX1234
                      cardtype: debit
                      cardbrand: Visa
                      fundingid: '1234619665380'
                      authorizationnumber: TSTAUT
                      transactiondate: 3/23/2023 12:00:00 AM
                      feetype: null
                      feeamount: 0
                      feevalue: 0
                      feeformat: null
                      feestatus: null
                      feeauthcode: null
                      feetransactionid: '0'
                      merchantfee: 3.3
                      settledascardtype: debit
                      paymentmethod:
                        type: VISA
                        last4: '6301'
                        routingnumber: null
                        tokenid: '9450039021499916301'
                        merchantid: merchantid
                        merchantname: CardXMerchant
                        paymentgateway: CardX
                        firstname: First
                        lastname: W
                        expirationmonth: 9
                        expirationyear: 2029
                        addressline1: 495 N Commons Dr
                        city: Aurora
                        state: IL
                        zip: '60563'
                        country: US
                        phonenumber: ''
                        email: first.last@company.com
                      invoices: []
                      ordernumber: null
                      invoicenumber: null
                      reference: ''
                    - snappaytransactionid: '1000012629'
                      transactionid: '032313050561428'
                      fundingtxnid: a12df69fd-b401-443a-b398-26882ff100d1
                      currencycode: USD
                      type: sale
                      merchantid: merchant
                      merchantname: CardXMerchant
                      transactionamount: 326.03
                      fundedamount: 315.01
                      interchangeunitfee: 0
                      interchangepercentfee: 0
                      cardnumber: 448571XXXXXX4567
                      cardtype: credit
                      cardbrand: Visa
                      fundingid: '1234619665380'
                      authorizationnumber: TSTAUT
                      transactiondate: 3/23/2023 12:00:00 AM
                      feetype: Surcharge
                      feeamount: 11.03
                      feevalue: 3.5
                      feeformat: Percentage
                      feestatus: 'Y'
                      feeauthcode: TSTAUT
                      feetransactionid: '1000012629'
                      merchantfee: 11.02
                      settledascardtype: credit
                      paymentmethod:
                        type: VISA
                        last4: '7342'
                        routingnumber: null
                        tokenid: '9443527225498927342'
                        merchantid: merchant
                        merchantname: CardXMerchant
                        paymentgateway: CardX
                        firstname: ABC
                        lastname: Financial
                        expirationmonth: 8
                        expirationyear: 2028
                        addressline1: 495 N Commons Dr
                        city: Aurora
                        state: IL
                        zip: '60563'
                        country: US
                        phonenumber: ''
                        email: first.last@cditechnology.com
                      invoices: []
                      ordernumber: null
                      invoicenumber: null
                      reference: ''
    FundingHistoryRepsonseCardConnect:
      value:
        accountid: 1000000001
        status: 'Y'
        message: Deposit information attached.
        transactionscount: 2
        merchantdata:
          - merchantid: merchant
            fundingmasterlist:
              - fundingmasterid: a12de471-5070-4c7a-99af-df37bedc8daa
                fundingdate: 3/24/2023 12:00:00 AM
                paymentgateway: CardConnect
                fundings:
                  - fundingid: '1234619665380'
                    netsales: 0
                    totalfunding: 1393.3
                    fee: 0
                    datechanged: ''
                    ddanumber: ''
                    thirdparty: 0
                    dateadded: ''
                    fundingmasterid: abcde471-5070-4c7a-99af-df37bedc8daa
                    reversal: 0
                    interchangefee: 0
                    adjustment: 0
                    currency: USD
                    servicecharge: 0
                    otheradjustment: 0
                    abanumber: ''
                paymentdata:
                  transactions:
                    - snappaytransactionid: '12628'
                      transactionid: '2313024917330'
                      fundingtxnid: a12dbdf7-0708-4643-b526-1ce4a4dd7b9d
                      currencycode: USD
                      type: sale
                      merchantid: merchant
                      merchantname: CardConnectMerchant
                      transactionamount: 305
                      fundedamount: 301.7
                      interchangeunitfee: 0
                      interchangepercentfee: 0
                      cardnumber: 453273XXXXXX1234
                      cardtype: debit
                      cardbrand: Visa
                      fundingid: '1234619665380'
                      authorizationnumber: TSTAUT
                      transactiondate: 3/23/2023 12:00:00 AM
                      feetype: null
                      feeamount: 0
                      feevalue: 0
                      feeformat: null
                      feestatus: null
                      feeauthcode: null
                      feetransactionid: '0'
                      merchantfee: 3.3
                      settledascardtype: ""
                      paymentmethod:
                        type: VISA
                        last4: '6301'
                        routingnumber: null
                        tokenid: '1234039021499916301'
                        merchantid: merchant
                        merchantname: CardConnectMerchant
                        paymentgateway: CardConnect
                        firstname: First
                        lastname: W
                        expirationmonth: 9
                        expirationyear: 2029
                        addressline1: 495 N Commons Dr
                        city: Aurora
                        state: IL
                        zip: '60563'
                        country: US
                        phonenumber: ''
                        email: first.last@company.com
                      invoices: []
                      ordernumber: null
                      invoicenumber: null
                      reference: ''
                    - snappaytransactionid: '1000012629'
                      transactionid: '032313050561428'
                      fundingtxnid: a12df69fd-b401-443a-b398-26882ff100d1
                      currencycode: USD
                      type: sale
                      merchantid: merchant
                      merchantname: CardConnectMerchant
                      transactionamount: 326.03
                      fundedamount: 315.01
                      interchangeunitfee: 0
                      interchangepercentfee: 0
                      cardnumber: 448571XXXXXX4567
                      cardtype: credit
                      cardbrand: Visa
                      fundingid: '1234619665380'
                      authorizationnumber: TSTAUT
                      transactiondate: 3/23/2023 12:00:00 AM
                      feetype: Surcharge
                      feeamount: 11.03
                      feevalue: 3.5
                      feeformat: Percentage
                      feestatus: 'Y'
                      feeauthcode: TSTAUT
                      feetransactionid: '1000012629'
                      merchantfee: 11.02
                      settledascardtype: ""
                      paymentmethod:
                        type: VISA
                        last4: '7342'
                        routingnumber: null
                        tokenid: '1234527225498927342'
                        merchantid: merchant
                        merchantname: CardConnectMerchant
                        paymentgateway: CardConnect
                        firstname: ABC
                        lastname: Financial
                        expirationmonth: 8
                        expirationyear: 2028
                        addressline1: 495 N Commons Dr
                        city: Aurora
                        state: IL
                        zip: '60563'
                        country: US
                        phonenumber: ''
                        email: first.last@company.com
                      invoices: []
                      ordernumber: null
                      invoicenumber: null
                      reference: ''
    UserDataUploadRequest:
      value: 
        accountid: '1000000001'
        users:
          - userid: user01
            firstname: first
            lastname: last
            email: first.last@company.com
            usertypename: customer
            usergroupname: customer
            isactive: 'Y'
            effectivefrom: '2023-02-23'
            effectiveto: '2028-12-31'
            phone: 123-456-7890
            forcepasswordreset: 'Y'
            forcetermsandconditions: 'Y'
            devicegroup: ''
            deleteuser: 'N'
            customers:
              - customerid: '10006438'
                associationtype: soldto
                isdefault: 'Y'
              - customerid: '100'
                associationtype: soldto
                isdefault: 'N'
          - userid: user02
            firstname: CSR
            lastname: USER
            email: csr.user@company.com
            usertypename: CSR
            usergroupname: CSR
            isactive: 'Y'
            effectivefrom: '2023-02-23'
            effectiveto: '2028-12-31'
            phone: 123-456-7890
            forcepasswordreset: 'Y'
            forcetermsandconditions: 'Y'
            devicegroup: devicegrp
            deleteuser: 'N'
            customers:
              - customerid: '4242'
                associationtype: shipto
                isdefault: 'Y'
              - customerid: '100'
                associationtype: shipto
                isdefault: 'N'
    
    Common401Response:
      value:
        accountid: 1000000001
        status: 'N'
        message: Authentication failed.
        reference: ''
        purchaseorder: ''
    UserDataUpload401Response:
      value:
        accountid: 1000000001
        requestid: 17326
        apiname: UserDataUploadAPI
        status: 'N'
        message: Authentication failed.
    GetRequestID401Response:
      value:
        accountid: 1000000001
        requestid: ''
        status: 'N'
        message: Authentication failed.
    GetPaymentDetail401Response:
      value:
        accountid: 1000000001
        message: Authentication failed.
    GetTransaction401Response:
      value:
        accountid: 1000000001
        message: Authentication failed.
    TransactionHistory401Response:
      value:
        accountid: 1000000001
        requestid: 17327
        apiname: TransactionHistory
        status: 'N'
        message: Authentication failed.
    FundingHistory401Response:
      value:
        accountid: 1000000001
        requestid: 17328
        apiname: FundingHistory
        status: 'N'
        message: Authentication failed.
    GetPaymentMethods401Response:
      value:
        accountid: 1000000001
        requestid: 17330
        apiname: GetPaymentMethods
        status: 'N'
        message: Authentication failed.
    SendPaymentLink401Response:
      value:
        accountid: 1000000001
        requestid: ''
        status: 'N'
        message: Authentication failed.
    CancelEmailLink401Response:
      value:
        accountid: 1000000001
        status: 'N'
        message: Authentication failed.
    SnapPayReporting401Response:
      value:
        accountid: 1000000001
        requestid: 17332
        apiname: SnapPayReporting
        status: 'N'
        message: Authentication failed.
    GetSSOToken401Response:
      value:
        accountid: 1000000001
        token: ''
        status: 'N'
        message: Authentication failed.
    InvoiceDataUpload401Response:
      value:
        accountid: 1000000001
        requestid: 17333
        apiname: InvoiceDataUpload
        status: 'N'
        message: Authentication failed.
    CustomerPaymentMethod401Response:
      value:
        accountid: 1000000001
        requestid: 17334
        apiname: CustomerPaymentMethodUpload
        status: 'N'
        message: Authentication failed.
    TenantSalesHistoryUpload401Response:
      value:
        accountid: 1000000001
        requestid: 17335
        apiname: TenantSalesHistoryUpload
        status: 'N'
        message: Authentication failed.
    CustomerDataUpload401Response:
      value:
        accountid: 1000000001
        requestid: 17336
        apiname: CustomerDataUpload
        status: 'N'
        message: Authentication failed.
    InvoiceOrderDataUpload401Response:
      value:
        accountid: 1000000001
        requestid: 17337
        apiname: InvoiceOrderDataUpload
        status: 'N'
        message: Authentication failed.
    SupplierDataUpload401Response:
      value:
        accountid: 1000000001
        requestid: 17338
        apiname: SupplierDataUpload
        status: 'N'
        message: Authentication failed.
    SupplierInvoiceDataUpload401Response:
      value:
        accountid: 1000000001
        requestid: 17339
        apiname: SupplierInvoiceDataUpload
        status: 'N'
        message: Authentication failed.
    SupplierPaymentMethodUpload401Response:
      value:
        accountid: 1000000001
        requestid: 17340
        apiname: SupplierPaymentMethodUpload
        status: 'Y'
        message: Request received.
    DocumentUpload401Response:
      value:
        accountid: 1000000001
        requestid: 17341
        apiname: DocumentUpload
        status: 'N'
        message: Authentication failed.
    GetToken401Response:
      value:
        accountid: 1000000001
        token: ''
        status: 'N'
        message: Authentication failed.
    TenantSalesReportDownload401Response:
      value:
        accountid: 1000000001
        requestid: 17342
        apiname: TenantSalesReportDownload
        status: 'N'
        message: Authentication failed.
    GetServiceFeeAmount401Response:
      value:  
        accountid: 1000000001
        servicefeeamount: 0
        message: Authentication failed.
        status: 'N'
    TransactionUpdate401Response:
      value:
        accountid: 1000000001
        requestid: 17343
        apiname: TransactionUpdate
        status: 'N'
        message: Authentication failed.
    AuthCard401Response:
      value:
        accountid: 1000000001
        requestid: 841
        apiname: authCard
        status: 'N'
        message: Authentication failed.
    AuthManual401Response:
      value:
        accountid: 1000000001
        requestid: 844
        apiname: authManual
        status: 'N'
        message: Authentication failed.
    Connect401Response:
      value:
        accountid: 1000000001
        requestid: 845
        apiname: connect
        status: 'N'
        message: Authentication failed.
    Disconnect401Response:
      value:
        accountid: 1000000001
        requestid: 846
        apiname: disconnect
        status: 'N'
        message: Authentication failed.
    ListTerminals401Response:
      value:
        accountid: 1000000001
        requestid: 850
        apiname: listTerminals
        status: 'N'
        message: Authentication failed.
    PreConnect401Response:
      value:
        accountid: 1000000001
        requestid: 853
        apiname: preconnect
        status: 'N'
        message: Authentication failed.
    ReadCard401Response:
      value:
        accountid: 1000000001
        requestid: 855
        apiname: readCard
        status: 'N'
        message: Authentication failed.
    ReadConfirmation401Response:
      value:
        accountid: 1000000001
        requestid: 856
        apiname: readConfirmation
        status: 'N'
        message: Authentication failed.
    ReadInput401Response:
      value:
        accountid: 1000000001
        requestid: 857
        apiname: readInput
        status: 'N'
        message: Authentication failed.
    ReadManual401Response:
      value:
        accountid: 1000000001
        requestid: 858
        apiname: readManual
        status: 'N'
        message: Authentication failed.
    ReadSignature401Response:
      value:
        accountid: 1000000001
        requestid: 859
        apiname: readSignature
        status: 'N'
        message: Authentication failed.
    Tip401Response:
      value:
        accountid: 1000000001
        requestid: 860
        apiname: tip
        status: 'N'
        message: Authentication failed.
    Cancel401Response:
      value:
        accountid: 1000000001
        requestid: 861
        apiname: cancel
        status: 'N'
        message: Authentication failed.
    Display401Response: 
      value:
        accountid: 1000000001
        requestid: 862
        apiname: display
        status: 'N'
        message: Authentication failed.
    ClearDisplay401Response:    
      value:
        accountid: 1000000001
        requestid: 863
        apiname: clearDisplay
        status: 'N'
        message: Authentication failed.
    DateTime401Response:
      value:
        accountid: 1000000001
        requestid: 864
        apiname: dateTime
        status: 'N'
        message: Authentication failed.
    TransactionUpdateRequest:
      value:
        accountid: 1000000001
        message: Transaction Successful–Payment modified in ERP
        paymentdata:
          - paymentheaderid: 452023
            paymenttransactionid: 1200001295
          - paymentheaderid: 452082
            paymenttransactionid: 105516222275
    TransactionUpdateResponse:
      value:
        accountid: 1000000001
        message: Transaction Updated Succesfully.
        status: 'Y'
        requestid: 17386
        apiname: TransactionUpdate
        paymentdata:
          - paymentheaderid: 452023
            paymenttransactionid: 1200001295
            status: 'Y'
          - paymentheaderid: 452082
            paymenttransactionid: 105516222275
            status: 'Y'
        
  parameters:
    AccountIDParam:
      name: accountid
      schema: {
        type: string,
        default: '1000000001'
      }
      in: header
      required: true
      description: Account ID  
    MerchantIDParam:
      name: merchantid
      schema: {
        type: string,
        default: ''
      }
      in: header
      required: true
      description: >-
            Merchant ID (if you pass this parameter, SnapPay will bypass the
            logic of identifying MID for this transaction)
    HMACParam:
      name: signature
      schema: {
        type: string,
        default: Hmac
            MTAwMDQ2Mjk0MjpFK0dRUHZTS2NDaUsweHhZRm8rcFg3SEZJUmYS0wOTkxLTQ0ZDgtYTgzMy03YTdmNDY4OGEzZTc6Y0NDM1NDA0MA==
      }
      in: header
      required: true
      description: >-
            HMAC Signature
    StartDateParam:
      name: startdate
      schema: {
        type: string,
        default: 04/01/2023
      }
      in: query
      required: false
      description: >-
            Start Date
    EndDateParam:
      name: enddate
      schema: {
        type: string,
        default: 05/01/2023
      }
      in: query
      required: false
      description: >-
            End Date
    TypeParam:
      name: type
      schema: {
        type: string,
        default: C
      }
      in: query
      required: false
      description: >-
            Type
    PageNumberParam:
      name: pagenumber
      schema: {
        type: number,
        default: 1
      }
      in: query
      required: false
      description: >-
            Page Number
    SessionKeyParam:
      name: X-CardConnect-SessionKey
      schema: {
        type: string,
        default: 72eb45c4e6034aa1b5c5ba0532209a87
      }
      in: header
      required: true
      description: >-
            72eb45c4e6034aa1b5c5ba0532209a87
  schemas:
    GetRequestIDRequest: 
      type: object
      properties:
        accountid:
          description: Account ID
          type: string
          example:  >-
              1000000001
        companycode:
          description: Company Code
          type: string
          example: '00200'
        currencycode:
          description: Currency Code
          type: string
          example: USD
        customerid:
          description: Customer ID
          type: string
          example: 100
        userid:
          description: External Application User ID
          type: string
          example: first.last@company.com
        savepaymentmethod:
          description: Save payment method for future use
          type: string
          example: 'Y'
        transactiontype:
          description: S - for Sale
          type: string
          example: S
        paymentmethod:
          description: CC - for credit card
          type: string
          example: CC
        displaycardssavedatcustomer: 
          description: Display card saved at customer level
          type: string
          example: "Y"
        language:
          description: en-US for English language
          type: string
          example: en-US
        redirecturl:
          description: en-US for English language
          type: string
          example: https://xyz.com/orderconfirmation
        redirectionurlonerror: 
          type: string
          description: Redirection URL when error occured
          example: "#"
        reference: 
          type: string
          description: Reference
          example: null
        type: 
          type: string
          description: Customer type
          example: "C"
        transactionamount:
          description: Transaction Amount
          type: integer
          example: 100.25
        cvvrequired:
          description: Credit Card Security Code
          type: string
          example: 'Y'
        invoiceid: 
          description: Invoice ID
          type: string
          example: '4621657657'
        orderid: 
          description: Order ID
          type: string
          example: ''
        comments: 
          description: Comments
          type: string
          example: 'test comments'
        stylecss: 
          description: Style CSS  
          type: string
          example: ''
        ordertype: 
          description: Order Type
          type: string
          example: ''
        branchplant: 
          description: Branch plant
          type: string
          example: ''
        useboltdevice:
          description: Terminal device flag
          type: string
          example: 'N'
        devicehsn: 
          description: Device HSN number 
          type: string
          example: ''
        purchaseorder:
          description: Purchase order number
          type: string
          example: '1243'
        ecomind: 
          description: Ecommerce indicator
          type: string
          example: 'E'
        cof: 
          description: COF
          type: string
          example: 'C'
        cofscheduled: 
          description: COF Scheduled
          type: string
          example: 'N'
        openiniframe: 
          description: Open in iframe flag
          type: string
          example: 'Y'
        sendemailreceipts:
          description: Send email flag
          type: string
          example: 'Y'
        parenturi: 
          description: Parent uri
          type: string
          example: 'https://abc.com'
        displaycardname: 
          description: Display card name flag
          type: string
          example: 'Y'
        displayaddress: 
          description: Display address flag
          type: string
          example: 'Y'
        displaytransactionamount: 
          description: Display transaction amount flag
          type: string
          example: 'Y'
        displaycurrencycode: 
          description: Display currency code flag
          type: string
          example: 'Y'
        displaycustomer: 
          description: Display customer flag
          type: string
          example: 'Y'
        displaypagetitle: 
          description: Display page title flag
          type: string
          example: 'Y'
        user:
          type: object
          properties:
            userfirstname:
              type: string
              description: User first name
              example: Fistname
            userlastname: 
              type: string
              description: User last name
              example: Lastname
            useremail:
              type: string
              description: User email
              example: firstname.lastname@company.com
            forcepasswordreset: 
              type: string
              description: Force password flag
              example: N
            forcetermsandconditions:
              type: string
              description: Force terms and conditions flag
              example: N
            devicegroup: 
              type: string
              description: Device group
              example: Device1 
        customer:
          type: object
          properties:
            customername:
              type: string
              description: Customer name
              example: custname
            addressline1:
              type: string
              description: Address Line1
              example: Street 100
            addressline2:
              type: string
              description: Address Line2
              example: ''
            city:
              type: string
              description: City
              example: Chicago
            state:
              type: string
              description: State
              example: IL
            zipcode:
              type: string
              description: Zipcode
              example: 60603
            country:
              type: string
              description: Country
              example: US
            phone:
              type: integer
              description: Phone number
              example: null
            email:
              type: string
              description: Email
              example: first.last@company.com  
            vatregistrationnumber:
              type: string
              description: VAT registration number 
              example: ''
        supplier:
          type: object
          properties:
            suppliername:
              type: string
              description: Customer name
              example: suppname
            addressline1:
              type: string
              description: Address Line1
              example: Street 100
            addressline2:
              type: string
              description: Address Line2
              example: ''
            city:
              type: string
              description: City
              example: Chicago
            state:
              type: string
              description: State
              example: IL
            zipcode:
              type: string
              description: Zipcode
              example: 60603
            country:
              type: string
              description: Country
              example: US
            phone:
              type: integer
              description: Phone number
              example: null
            email:
              type: string
              description: Email
              example: first.last@company.com  
            identificationtype:
              type: string
              description: >- 
                Allowed values are "DATE_OF_BIRTH" Or "MEMBER_ID" OR "SPECIAL_CODE" used for payee creation in money network.
              example: 'MEMBER_ID'
            identificationdata:
              type: string
              description: Identification data
              example: '123456'
            companyname:
              description: Company name
              type: string
              example: 'ABC Builders'
            clientcompanyname: 
              type: string
              description: Client company name
              example: 'XYZ'
            internalmemo:
              type: string
              description: Internal memo
              example: ''
            comments:
              type: string
              description: Comments 
              example: 'test comments'
            reason:
              type: string
              description: Reason
              example: ''
            status:
              type: string
              description: Status
              example: ''
        level3:
          type: array
          items:
            type: object
            properties:
              linenumber:
                type: string
                description: Line number
                example: '1'
              productcode:
                type: string
                description: Product code
                example: ROS01
              taxrate: 
                type: number
                description: Tax rate
                example: 0.073
              quantity:
                type: number
                description: Quantity
                example: 2
              itemdescription:
                type: string
                description: Item description
                example: 'Mixed bouquet'
              unitcost:
                type: number
                description: Unit cost
                example: 30.75
              lineitemtotal:
                type: number
                description: Line item total
                example: 65.96
              taxamount:
                type: number
                description: Tax amount
                example: 4.46
              commoditycode:
                type: string
                description: Commodity code
                example: ''
              unitofmeasure:
                type: string
                description: Unit of measure
                example: 'EA'
    GetRequestIDResponse:
      type: object
      properties:
        accountid:
          type: string
          description: Account ID
          example:  >-
              1000000001
        token:
          type: string
          description: Request ID that will be used to open SnapPay iFrame
          example: 0b724a4f-5bbb-e811-b229-000c29cce4c0
        status:
          type: string
          description: Y or N
          example: 'Y'
        message:
          type: string
          description: e.g. Information stored successfully
          example: Information stored successfully.
    GetPaymentDetailsRequest:
      type: object
      properties:
        accountid:
          description: Account ID
          type: string
          example:  >-
              1000000001
        token:
          description: Request Token ID
          type: string
          example: 073c8be3-b0db-e811-a954-000d3a92a01e
    GetPaymentDetailsResponse:
      type: object
      properties:
       accountid:
         type: string
         description: Account ID
         example: >-
              1000000001
       status:
         type: string
         description: Y or N
         example: 'Y'
       message:
         type: string
         description: e.g. Payment details retrieved successfully
         example: Payment details retrieved successfully
       paymentmethod:
         type: object
         properties:
           paymentmethodid:
             type: integer
             description: SnapPay Payment Method ID for Credit Card or ACH
             example: 123456
           tokenid:
             type: string
             description: Payment Gateway Token ID for Credit Card or ACH
             example: 9412345678912344
           last4:
             type: string
             description: Last 4 digits of credit card or bank account number
             example: 2345
           type:
             type: string
             description: Visa / MC / Discover / AMEX / Checking / Saving
             example: VISA
           routingnumber:
             type: string
             description: Bank Routing Number
             example: 71904779
           firstname:
             type: string
             description: First Name
             example: First
           lastname:
             type: string
             description: Last Name
             example: Last
           expirationmonth:
             type: string
             description: Expiration Month
             example: 12
           expirationyear:
             type: string
             description: Expiration Year
             example: 2029
           addressline1:
             type: string
             description: Address Line 1
             example: 123 Main St
           city:
             type: string
             description: City
             example: Lombard
           state:
             type: string
             description: State
             example: IL
           zip:
             type: string
             description: Zip/Postal Code
             example: 60148
           country:
             type: string
             description: Country
             example: US
           email:
             type: string
             description: Email Address
             example: first.last@company.com
       transaction:
         type: object
         properties:
           merchantid:
             type: string
             description: Payment Gateway Merchant ID
             example: 34032039484234
           returncode:
             type: string
             description: Payment Gateway Return Code
             example: 0
           returndescription:
             type: string
             description: Payment Gateway Return Description
             example: Transaction successful
           procrespcode:
             type: string
             description: Processor Response Code
             example: RPCT
           pgtransactionid:
             type: string
             description: Payment Gateway Transaction ID
             example: 260711140916
           paymenttransactionid:
             type: string
             description: SnapPay Transaction ID
             example: 136243
           authorizationcode:
             type: string
             description: Authorization Code
             example: 234AS5
           transactiondate:
             type: string
             description: Transaction Date
             example: 02/14/2021 03:00:28 PM
           transactionamount:
             type: string
             description: Transaction Amount
             example: 100
           currency:
             type: string
             description: Currency Code
             example: USD
           totaltransactionamount:
             type: string
             description: >-
               Total transaction amount (transactionamount +
               feeamount)
             example: 100
           feereturncode:
             type: string
             description: >-
               Return code for fee transaction. It will same as
               returncode if the feetype is convenience or surcharge
               and different if the fee type is service (MSF)
             example: null
           feereturndescription:
             type: string
             description: Return description for fee transaction
             example: null
           feetransactionid:
             type: string
             description: >-
               Fee Transaction ID â€“ same as transactionid for
               surcharge and convenience fee
             example: null
           feeauthcode:
             type: string
             description: >-
               Fee Transaction Authorization Code â€“ same as
               authorizationcode for surcharge fee and convenience
               fee
             example: null
           feestatus:
             type: string
             description: Fee Transaction Status (Y/N)
             example: null
           feetype:
             type: string
             description: Fee Type (Surcharge, Service or Convenience)
             example: null
           feeformat:
             type: string
             description: >-
               Fee Format (Percentage for Surcharge and dollar amount
               for convenience fee)
             example: null
           feeamount:
             type: integer
             description: Fee Amount (amount in currency)
             example: 0
           feevalue:
             type: integer
             description: Fee Value (value in % for Surcharge fee)
             example: 0
    TokenizeRequest:
      type: object
      properties:
       accountid:
        type: string
        description: Account ID
        example: >-
              1000000001
       requesttype:
        type: string
        description: >-
          Request Type C for customer and S for supplier. Default
          value is C if this parameter is not sent
        example: C
       currency:
         type: string
         description: Currency Code
         example: USD
       companycode:
         type: string
         description: Company Code
         example: '00200'
       branchplant:
         type: string
         description: Branch Plant
         example: null
       ordertype:
         type: string
         description: Sales Order Type
         example: null
       mode:
         type: string
         description: CC for credit card and ACH for back details
         example: CC
       type:
         type: string
         description: >-
           Type of Credit Card or Bank Account - VISA / MC / DISCOVER /
           AMEX / CHECKING / SAVING
         example: VISA
       routingnumber:
         type: string
         description: Bank Routing Number
         example: 71904779
       bankname:
         type: string
         description: Bank name
         example: ABC Bank
       checktype:
         type: string
         description: Check Type â€“ C for corporate and P for personal
         example: null
       identificationtype:
         type: string
         description: >-
           Identification Type - T for Tax ID, S for SSN & D for Driver
           License
         example: null
       dlstate:
         type: string
         description: Driver License State
         example: null
       identificationnumber:
         type: string
         description: Identification Number
         example: null
       accountnumber:
         type: string
         description: Credit Card Number of Bank Account Number
         example: XXXXXXXXXXXX1111
       expirationdate:
         type: string
         description: Expiration Date (mmYYYY)
         example: 122029
       name:
         type: string
         description: Name on credit card or bank account
         example: First Last
       addressline1:
         type: string
         description: Address Line 1
         example: 123 Main St
       city:
         type: string
         description: City
         example: Lombard
       state:
         type: string
         description: State
         example: IL
       zip:
         type: string
         description: Zip/Postal Code
         example: 60148
       country:
         type: string
         description: Country
         example: US
       email:
         type: string
         description: Email Address
         example: first.last@company.com
       phonenumber:
         type: string
         description: Phone Number
         example: 630-123-1233
    TokenizeResponse:
      type: object
      properties:
       accountid:
         type: string
         description: Account ID
         example: >-
              1000000001
       status:
         type: string
         description: Y or N
         example: 'Y'
       message:
         type: string
         description: Message
         example: Tokenization successful.
       currency:
         type: string
         description: Currency Code
         example: USD
       companycode:
         type: string
         description: Company Code
         example: '00200'
       branchplant:
         type: string
         description: Branch Plant
         example: null
       ordertype:
         type: string
         description: Sales Order Type
         example: null
       mode:
         type: string
         description: CC for credit card and ACH for back details
         example: Tokenization successful.
       type:
         type: string
         description: >-
           Type of Credit Card or Bank Account - VISA / MC / DISCOVER
           / AMEX / CHECKING / SAVING
         example: VISA
       last4:
         type: string
         description: Last 4 of credit card or bank account number
         example: 1111
       routingnumber:
         type: string
         description: Bank Routing Number
         example: null
       bankname:
         type: string
         description: Bank Name
         example: null
       checktype:
         type: string
         description: Check Type â€“ C for corporate and P for personal
         example: null
       identificationtype:
         type: string
         description: >-
           Identification Type T for Tax ID, S for SSN and D for
           Driver License
         example: null
       identificationnumber:
         type: string
         description: Identification Number
         example: null
       tokenid:
         type: string
         description: Credit Card or Bank Account Token
         example: 9447829389471112
       expirationdate:
         type: string
         description: Credit Card Expiration Date
         example: 122029
       name:
         type: string
         description: Name on Credit Card or Bank Account
         example: John Smith
       addressline1:
         type: string
         description: Address Line 1
         example: 123 Main St
       city:
         type: string
         description: City
         example: Lombard
       state:
         type: string
         description: Stage
         example: IL
       zip:
         type: string
         description: Zip/Postal Code
         example: 60148
       country:
         type: string
         description: Country
         example: US
       email:
         type: string
         description: Email Address
         example: john.smith@company.com
       phonenumber:
         type: string
         description: Phone Number
         example: null
    AuthorizeRequest:
      type: object
      properties:
        accountid:
          type: string
          description: Account ID
          example: >-
              1000000001
        customerid:
          type: string
          description: Customer ID
          example: 100
        currency:
          type: string
          description: Currency Code
          example: USD
        companycode:
          type: string
          description: Company Code
          example: '00200'
        branchplant:
          type: string
          description: Branch Plant
          example: null
        ordertype:
          type: string
          description: Order Type
          example: null
        orderid:
          type: string
          description: Order ID
          example: 123456
        invoiceid:
          type: string
          description: Invoice ID
          example: 123456
        userid:
          type: string
          description: User ID
          example: user1
        reference:
          type: string
          description: Reference Text
          example: null
        purchaseorder:
          type: string
          description: Purchase Order
          example: USD
        cards:
          type: array
          items:
            type: object
            properties:
              transactionamount:
                type: integer
                description: Transaction Amount
                example: 10
              tokenid:
                type: string
                description: Token ID
                example: 9412345678912344
              type:
                type: string
                description: Type of credit card
                example: VISA
              last4:
                type: string
                description: Last 4 digits of credit card
                example: 2345
              cvv:
                type: string
                description: CVV
                example: 123
              expirationdate:
                type: string
                description: Expiration Date mmYYYY
                example: 122029
              customername:
                type: string
                description: Name on credit card
                example: John Smith
              addressline1:
                type: string
                description: Address Line 1
                example: 123 Main St
              city:
                type: string
                description: City
                example: Lombard
              state:
                type: string
                description: State
                example: IL
              zip:
                type: string
                description: Zip/Postal Code
                example: 60148
              country:
                type: string
                description: Country
                example: US
              email:
                type: string
                description: Email Address
                example: john.smith@company.com
              phonenumber:
                type: string
                description: Phone Number
                example: null
    AuthorizeResponse:
     type: object
     properties:
      accountid:
        type: string
        description: Account ID
        example: >-
              1000000001
      status:
        type: string
        description: Y or N
        example: 'Y'
      message:
        type: string
        description: Message
        example: Authorization successful.
      cards:
        type: array
        items:
          type: object
          properties:
            merchantid:
              type: string
              description: Payment Gateway Merchant ID
              example: 34032039484234
            returncode:
              type: string
              description: Payment Gateway Return Code
              example: 0
            returndescription:
              type: string
              description: Payment Gateway Return Description
              example: Transaction successful
            procrespcode:
              type: string
              description: Processor Response Code
              example: RPCT
            pgtransactionid:
              type: string
              description: Payment Gateway Transaction ID
              example: 260711140916
            tokenid:
              type: string
              description: Credit Card Token ID
              example: 9412345678912344
            paymenttransactionid:
              type: string
              description: SnapPay Transaction ID
              example: 136243
            authorizationcode:
              type: string
              description: Authorization Code
              example: 234AS5
            transactiondate:
              type: string
              format: date-time
              description: Transaction Date
              example: 02/14/2021 03:00:28 PM
            transactionamount:
              type: string
              description: Transaction Amount
              example: 100
            currency:
              type: string
              description: Currency Code
              example: USD
            status:
              type: string
              description: status - Y/N
              example: 'Y'
            scverification:
              type: string
              description: Security/CVV Code Verification
              example: P
            addressverification:
              type: string
              description: Address Verification
              example: Z
    ChargeRequest:
      type: object
      properties:
        accountid:
          type: string
          description: Account ID
          example: >-
              1000000001
        customerid:
          type: string
          description: Customer ID
          example: 100
        currency:
          type: string
          description: Currency Code
          example: USD
        companycode:
          type: string
          description: Company Code
          example: '00200'
        branchplant:
          type: string
          description: Branch Plant
          example: null
        ordertype:
          type: string
          description: Order Type
          example: null
        orderid:
          type: string
          description: Order ID
          example: 123456
        invoiceid:
          type: string
          description: Invoice ID
          example: 123456
        userid:
          type: string
          description: User ID
          example: user1
        reference:
          type: string
          description: Reference Text
          example: null
        purchaseorder:
          type: string
          description: Purchase Order
          example: USD
        sendemailreceipts:
          type: string
          description: Send Email Receipt
          example: 'Y'
        paymentmethod:
          type: object
          properties:
            transactionamount:
              type: integer
              description: Transaction Amount
              example: 10
            tokenid:
              type: string
              description: Token ID
              example: 9412345678912344
            type:
              type: string
              description: Type of credit card
              example: VISA
            last4:
              type: string
              description: Last 4 digits of credit card
              example: 2345
            cvv:
              type: string
              description: CVV
              example: 123
            expirationdate:
              type: string
              description: Expiration Date mmYYYY
              example: 122029
            customername:
              type: string
              description: Name on credit card
              example: John Smith
            addressline1:
              type: string
              description: Address Line 1
              example: 123 Main St
            city:
              type: string
              description: City
              example: Lombard
            state:
              type: string
              description: State
              example: IL
            zip:
              type: string
              description: Zip/Postal Code
              example: 60148
            country:
              type: string
              description: Country
              example: US
            email:
              type: string
              description: Email Address
              example: john.smith@company.com
            phonenumber:
              type: string
              description: Phone Number
              example: null
        level3:
          type: array
          items:
            type: object
            properties:
              linenumber:
                type: string
                description: Line Number
                example: 1
              productcode:
                type: string
                description: Product Code or Item Number
                example: BQT01
              unitcost:
                type: integer
                description: Unit Cost
                example: 1.75
              quantity:
                type: integer
                description: Quantity
                example: 3
              itemdescriptor:
                type: string
                description: Item/Product Description
                example: Bouquet
              unitofmeasure:
                type: string
                description: Unit of Measure
                example: EA
              commoditycode:
                type: string
                description: Commodity Code
                example: Commodity Code1
              taxamount:
                type: integer
                description: Tax Amount
                example: 0.12
              taxrate:
                type: integer
                description: Tax Rate in %
                example: 8
              itemdiscount:
                type: integer
                description: Item Discount
                example: null
              lineitemtotal:
                type: integer
                description: Line Item Total
                example: 5.37
    ChargeResponse:
      type: object
      properties:
        accountid:
          type: string
          description: Account ID
          example: >-
              1000000001
        status:
          type: string
          description: Y or N
          example: 'Y'
        message:
          type: string
          description: Message
          example: Transaction successful.
        transaction:
          type: object
          properties:
            merchantid:
              type: string
              description: Payment Gateway Merchant ID
              example: 34032039484234
            returncode:
              type: string
[...]
