################################################################################
# Copyrights © 2021-2022 Fiserv, Inc. or its affiliates. 
# Fiserv is a trademark of Fiserv, Inc., 
# registered or used in the United States and foreign countries, 
# and may or may not be registered in your country.  
# All trademarks, service marks, 
# and trade names referenced in this 
# material are the property of their 
# respective owners. This work, including its contents 
# and programming, is confidential and its use 
# is strictly limited. This work is furnished only 
# for use by duly authorized licensees of Fiserv, Inc. 
# or its affiliates, and their designated agents 
# or employees responsible for installation or 
# operation of the products. Any other use, 
# duplication, or dissemination without the 
# prior written consent of Fiserv, Inc. 
# or its affiliates is strictly prohibited. 
# Except as specified by the agreement under 
# which the materials are furnished, Fiserv, Inc. 
# and its affiliates do not accept any liabilities 
# with respect to the information contained herein 
# and are not responsible for any direct, indirect, 
# special, consequential or exemplary damages 
# resulting from the use of this information. 
# No warranties, either express or implied, 
# are granted or extended by this work or 
# the delivery of this work
################################################################################

openapi: 3.0.2
info:
  title: SnapPay
  description: Digitally transform your payment process with certified ERP integration to improve working capital and increase efficiencies. SnapPay from Fiserv, integrates with popular ERP solutions and shopping cart solutions to serve the holistic B2B payment needs of enterprise-size businesses.
  version: 1.0.0
servers:
  - url: https://restapi.snappayglobal.com
paths:
  /api/Interop/GetRequestID:
    post:
      tags:
        - APIs with User Interaction
      x-group-name: APIs with User Interaction
      x-proxy-name: GetRequestID - Field Level Control Option
      summary: Get request ID
      description: Get request ID.
      operationId: getRequestID
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            maxLength: 10
            minLength: 0
            type: number
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            maxLength: 50
            minLength: 0
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountid:
                  description: Account ID
                  nullable: false
                  maxLength: 10
                  minLength: 0
                  type: number
                  example: 1000000001
                companycode:
                  description: Company Code
                  nullable: false
                  maxLength: 20
                  minLength: 0
                  type: string
                  example: 00200
                currencycode:
                  description: Currency Code
                  nullable: false
                  maxLength: 5
                  minLength: 0
                  type: string
                  example: USD
                customerid:
                  description: Customer ID
                  nullable: false
                  maxLength: 20
                  minLength: 0
                  type: string
                  example: 600038
                userid:
                  description: External Application User ID
                  nullable: false
                  maxLength: 100
                  minLength: 0
                  type: string
                  example: johnsmith@abc.com
                transactiontype:
                  description: T - for Tokenization
                  nullable: false
                  maxLength: 1
                  minLength: 0
                  type: string
                  example: T
                paymentmethod:
                  description: CC - for credit card
                  nullable: false
                  maxLength: 3
                  minLength: 0
                  type: string
                  example: CC
                language:
                  description: '""en-US"" for English language'
                  nullable: false
                  maxLength: 5
                  minLength: 0
                  type: string
                  example: en-US
                stylecss:
                  description: CSS properties separated by semicolon. List is given below under Supported CSS Properties.
                  nullable: true
                  maxLength: 600
                  minLength: 0
                  type: string
                  example: 'border:2px solid orange; text-align: left;'
              additionalProperties: false
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountid:
                    type: number
                    description: Account ID
                    example: 1000000008
                  token:
                    type: string
                    description: Request ID that will be used to open SnapPay iFrame
                    example: 0b724a4f-5bbb-e811-b229-000c29cce4c0
                  status:
                    type: string
                    description: Y or N
                    example: Y
                  message:
                    type: string
                    description: e.g. Information stored successfully
                    example: Information stored successfully.
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/Interop/Void:
    post:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Void
      summary: Void
      description: The Void API attempts to void or cancel a prior authorization transaction. The original authorization transaction is set in parameter referencetransactionid and some explanatory text can be set in the reference parameter. For voding charge and capture transaction, use refund API.
      operationId: void
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            maxLength: 10
            minLength: 0
            type: number
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountid:
                  description: Account ID
                  nullable: false
                  maxLength: 10
                  minLength: 0
                  type: number
                  example: 1000000001
                customerid:
                  description: Customer ID
                  nullable: false
                  maxLength: 20
                  minLength: 0
                  type: string
                  example: 600038
                currency:
                  description: Currency Code
                  nullable: false
                  maxLength: 5
                  minLength: 0
                  type: string
                  example: USD
                companycode:
                  description: Company Code
                  nullable: false
                  maxLength: 20
                  minLength: 0
                  type: string
                  example: 00200
                userid:
                  description: External Application User ID
                  nullable: false
                  maxLength: 100
                  minLength: 0
                  type: string
                  example: johnsmith@abc.com
                referencetransactionid:
                  description: Reference Transaction ID. Either pgtransactionid or paymenttransactionid based on SnapPay account configuration
                  nullable: false
                  maxLength: 30
                  minLength: 0
                  type: string
                  example: 1458
                reference:
                  description: Reference Text
                  nullable: false
                  maxLength: 50
                  minLength: 0
                  type: string
                purchaseorder:
                  description: Purchase Order
                  nullable: false
                  maxLength: 50
                  minLength: 0
                  type: string
              additionalProperties: false
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountid:
                    type: number
                    description: AccountID
                    example: 1000000008
                  pgtransactionid:
                    type: string
                    description: Payment Gateway Transaction ID
                    example: 1458102983091283
                  paymenttransactionid:
                    type: string
                    description: SnapPay Transaction ID
                    example: 1458
                  status:
                    type: string
                    description: Overall Status
                    example: Y
                  message:
                    type: string
                    description: e.g. Transaction Successful
                    example: Transaction successful.
                  reference:
                    type: string
                    description: Reference Text is returned back
                  purchaseorder:
                    type: string
                    description: Purchase Order
                  transaction:
                    type: object
                    properties:
                      merchantid:
                        type: string
                        description: Payment Gateway Merchant ID
                        example: 34032039484234
                      returncode:
                        type: string
                        description: Payment Gateway Return Code
                        example: 00
                      returndescription:
                        type: string
                        description: Return Description
                        example: Void successful.
                      pgtransactionid:
                        type: string
                        description: Payment Gateway Transaction ID
                        example: 260997162758
                      paymenttransactionid:
                        type: string
                        description: SnapPay Transaction ID
                        example: 1494
                      authorizationcode:
                        type: string
                        description: Authorization Code
                        example: VOID
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /AccountUpdater/DeleteUpdater:
    put:
      tags:
        - Card Account Updater
      x-group-name: Card Account Updater
      x-proxy-name: DeleteUpdater
      summary: DeleteUpdater
      description: The DELETE request unenrolls accounts that have been manually added using the PUT method.
      operationId: deleteUpdater
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            maxLength: 10
            minLength: 0
            type: number
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            maxLength: 50
            minLength: 0
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                merchid:
                  description: Merchant ID
                  nullable: false
                  type: number
                  example: 496695144562
                accounts:
                  description: List of Credit Card Tokens that need to be deleted
                  nullable: false
                  type: array
                  items:
                    type: number
                  example: [ 9417085548851111, 9550096877584444 ]
              additionalProperties: false
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  merchid:
                    type: number
                    description: Merchant ID
                    example: 496695144562
                  total:
                    type: number
                    description: Total tokens received
                    example: 2
                  deleted:
                    type: number
                    description: Number of tokens that were deleted successfully
                    example: 1
                  notdeleted:
                    type: array
                    items:
                      type: object
                      properties:
                        account:
                          type: string
                          description: The token that caused the error
                          example: 9550096877584444
                        message:
                          type: string
                          description: Error message
                          example: account/token does not exist in CAU database
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
