###########################################################################
# Copyrights � 2021-2022 Fiserv, Inc. or its affiliates. 
# Fiserv is a trademark of Fiserv, Inc., 
# registered or used in the United States and foreign countries, 
# and may or may not be registered in your country.  
# All trademarks, service marks, 
# and trade names referenced in this 
# material are the property of their 
# respective owners. This work, including its contents 
# and programming, is confidential and its use 
# is strictly limited. This work is furnished only 
# for use by duly authorized licensees of Fiserv, Inc. 
# or its affiliates, and their designated agents 
# or employees responsible for installation or 
# operation of the products. Any other use, 
# duplication, or dissemination without the 
# prior written consent of Fiserv, Inc. 
# or its affiliates is strictly prohibited. 
# Except as specified by the agreement under 
# which the materials are furnished, Fiserv, Inc. 
# and its affiliates do not accept any liabilities 
# with respect to the information contained herein 
# and are not responsible for any direct, indirect, 
# special, consequential or exemplary damages 
# resulting from the use of this information. 
# No warranties, either express or implied, 
# are granted or extended by this work or 
# the delivery of this work
#########################################################################
openapi: 3.0.2
info:
  title: SnapPay
  description: Digitally transform your payment process with certified ERP integration to improve working capital and increase efficiencies. SnapPay from Fiserv, integrates with popular ERP solutions and shopping cart solutions to serve the holistic B2B payment needs of enterprise-size businesses.
  version: 1.0.0
servers:
  - url: https://restapi.snappayglobal.com/
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
security:
  - basicAuth: []
tags:
  - name: APIs with User Interaction
  - name: APIs without User Interaction
  - name: Card Account Updater
paths:
  /api/interop/GetRequestID:
    post:
      tags:
        - APIs with User Interaction
      x-group-name: APIs with User Interaction
      x-proxy-name: Get Request ID
      summary: Get Request ID
      description: Get request ID.
      operationId: getRequestID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountid:
                  description: Account ID
                  type: number
                  example: 1000000001
                companycode:
                  description: Company Code
                  type: string
                  example: 00200
                currencycode: 
                  description: Currency Code
                  type: string
                  example: USD
                customerid: 
                  description: Customer ID
                  type: string
                  example: 100
                userid: 
                  description: External Application User ID
                  type: string
                  example: johnsmith@abc.com
                transactiontype:
                  description: S - for Sale
                  type: string
                  example: S
                paymentmethod:
                  description: CC - for credit card
                  type: string
                  example: CC
                language:
                  description: en-US for English language
                  type: string
                  example: en-US
                savepaymentmethod: 
                  description: Save payment method for future use
                  type: string
                  example: Y
                redirecturl: 
                  description: en-US for English language
                  type: string
                  example: https://xyz.com/orderconfirmation
                transactionamount: 
                  description: Transaction Amount
                  type: number
                  example: 100.25
                cvvrequired: 
                  description: Credit Card Security Code
                  type: string
                  example: Y
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            maxLength: 10
            minLength: 0
            type: number
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            maxLength: 50
            minLength: 0
            type: string
          example: 'optional '
        - name: Signature
          in: header
          schema:
            type: string
          example: HMAC <<unique hmac value>>
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountid:
                    type: number
                    description: Account ID
                    example: 1000000008
                  token:
                    type: string
                    description: Request ID that will be used to open SnapPay iFrame
                    example: 0b724a4f-5bbb-e811-b229-000c29cce4c0
                  status:
                    type: string
                    description: Y or N
                    example: 'Y'
                  message:
                    type: string
                    description: e.g. Information stored successfully
                    example: Information stored successfully.
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/Interop/GetPaymentDetails:
    post:
      tags:
        - APIs with User Interaction
      x-group-name: APIs with User Interaction
      x-proxy-name: Get Payment Details
      summary: Get Payment Details
      description: Get Payment Details.
      operationId: getPaymentDetails
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountid:
                  description: Account ID
                  type: number
                  example: 1000000001
                token:
                  description: Request Token ID
                  type: string
                  example: 073c8be3-b0db-e811-a954-000d3a92a01e
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            maxLength: 10
            minLength: 0
            type: number
        - name: Signature
          in: header
          schema:
            type: string
          example: HMAC <<unique hmac value>>
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountid:
                    type: number
                    description: Account ID
                    example: 1000000001
                  status:
                    type: string
                    description: Y or N
                    example: 'Y'
                  message:
                    type: string
                    description: e.g. Payment details retrieved successfully
                    example: Payment details retrieved successfully
                  paymentmethod:
                    type: object
                    properties:
                      paymentmethodid:
                        type: number
                        description: SnapPay Payment Method ID for Credit Card or ACH
                        example: 123456
                      tokenid:
                        type: string
                        description: Payment Gateway Token ID for Credit Card or ACH
                        example: 9412345678912345
                      last4:
                        type: string
                        description: Last 4 digits of credit card or bank account number
                        example: 2345
                      type:
                        type: string
                        description: Visa / MC / Discover / AMEX / Checking / Saving
                        example: VISA
                      routingnumber:
                        type: string
                        description: Bank Routing Number
                        example: 071904779
                      firstname:
                        type: string
                        description: First Name
                        example: John
                      lastname:
                        type: string
                        description: Last Name
                        example: Smith
                      expirationmonth:
                        type: string
                        description: Expiration Month
                        example: 12
                      expirationyear:
                        type: string
                        description: Expiration Year
                        example: 2029
                      addressline1:
                        type: string
                        description: Address Line 1
                        example: 123 Main St
                      city:
                        type: string
                        description: City
                        example: Lombard
                      state:
                        type: string
                        description: State
                        example: IL
                      zip:
                        type: string
                        description: Zip/Postal Code
                        example: 60148
                      country:
                        type: string
                        description: Country
                        example: US
                      email:
                        type: string
                        description: Email Address
                        example: john.smith@company.com
                  transaction:
                    type: object
                    properties:
                      merchantid:
                        type: string
                        description: Payment Gateway Merchant ID
                        example: 34032039484234
                      returncode:
                        type: string
                        description: Payment Gateway Return Code
                        example: 000
                      returndescription:
                        type: string
                        description: Payment Gateway Return Description
                        example: Transaction successful
                      procrespcode:
                        type: string
                        description: Processor Response Code
                        example: RPCT
                      pgtransactionid:
                        type: string
                        description: Payment Gateway Transaction ID
                        example: 260711140916
                      paymenttransactionid:
                        type: string
                        description: SnapPay Transaction ID
                        example: 136243
                      authorizationcode:
                        type: string
                        description: Authorization Code
                        example: 234AS5
                      transactiondate:
                        type: string
                        description: Transaction Date
                        example: 02/14/2021 03:00:28 PM
                      transactionamount:
                        type: string
                        description: Transaction Amount
                        example: 100
                      currency:
                        type: string
                        description: Currency Code
                        example: USD
                      totaltransactionamount:
                        type: string
                        description: Total transaction amount (transactionamount + feeamount)
                        example: 100
                      feereturncode:
                        type: string
                        description: Return code for fee transaction. It will same as returncode if the feetype is convenience or surcharge and different if the fee type is service (MSF)
                        example: 
                      feereturndescription:
                        type: string
                        description: Return description for fee transaction
                        example: 
                      feetransactionid:
                        type: string
                        description: Fee Transaction ID – same as transactionid for surcharge and convenience fee  
                        example: 
                      feeauthcode:
                        type: string
                        description: Fee Transaction Authorization Code – same as authorizationcode for surcharge fee and convenience fee
                        example: 
                      feestatus:
                        type: string
                        description: Fee Transaction Status (Y/N)
                        example: 
                      feetype:
                        type: string
                        description: Fee Type (Surcharge, Service or Convenience)
                        example: 
                      feeformat:
                        type: string
                        description: Fee Format (Percentage for Surcharge and dollar amount for convenience fee)
                        example: 
                      feeamount:
                        type: string
                        description: Fee Amount (amount in currency)
                        example: 0
                      feevalue:
                        type: string
                        description: Fee Value (value in % for Surcharge fee)
                        example: 0
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/interop/tokenize:
    post:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Tokenize
      summary: Tokenize
      description: Tokenize.
      operationId: tokenize
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountid:
                  type: number
                  description: Account ID
                  example: 1000000001
                requesttype:
                  type: string
                  description: Request Type C for customer and S for supplier. Default value is C if this parameter is not sent
                  example: C
                currency:
                  type: string
                  description: Currency Code
                  example: USD
                companycode:
                  type: string
                  description: Company Code
                  example: 00200
                branchplant:
                  type: string
                  description: Branch Plant
                  example: 
                ordertype:
                  type: string
                  description: Sales Order Type
                  example:
                mode:
                  type: string
                  description: CC for credit card and ACH for back details
                  example: CC
                type:
                  type: string
                  description: Type of Credit Card or Bank Account - VISA / MC / DISCOVER / AMEX / CHECKING / SAVING
                  example: VISA
                routingnumber:
                  type: string
                  description: Bank Routing Number
                  example: 071904779
                bankname:
                  type: string
                  description: Account ID
                  example: 1000000001
                checktype:
                  type: string
                  description: Check Type – C for corporate and P for personal
                  example:
                identificationtype:
                  type: string
                  description: Identification Type - T for Tax ID, S for SSN & D for Driver License
                  example: 
                dlstate: 
                  type: string
                  description: Driver License State
                  example:
                identificationnumber: 
                  type: string
                  description: Identification Number
                  example: 
                accountnumber:
                  type: string
                  description: Credit Card Number of Bank Account Number
                  example: 411111111111111
                expirationdate:
                  type: string
                  description: Expiration Date (mmYYYY)
                  example: 122029
                name:
                  type: string
                  description: Name on credit card or bank account
                  example: John Smith
                addressline1:
                  type: string
                  description: Address Line 1
                  example: 123 Main St
                city:
                  type: string
                  description: City
                  example: Lombard
                state:
                  type: string
                  description: State
                  example: IL
                zip:
                  type: string
                  description: Zip/Postal Code
                  example: 60148
                country:
                  type: string
                  description: Country
                  example: US
                email: 
                  type: string
                  description: Email Address
                  example: noreply@snappay.com
                phonenumber:
                  type: string
                  description: Phone Number
                  example: 630-123-1233
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            maxLength: 10
            minLength: 0
            type: number
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            maxLength: 50
            minLength: 0
            type: string
          example: 'optional '
        - name: Signature
          in: header
          schema:
            type: string
          example: HMAC <<unique hmac value>>
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountid:
                    type: number
                    description: Account ID
                    example: 1000000001
                  status:
                    type: string
                    description: Y or N
                    example: Y
                  message:
                    type: string
                    description: Message
                    example: Tokenization successful.
                  currency:
                    type: string
                    description: Currency Code
                    example: USD
                  companycode:
                    type: string
                    description: Company Code
                    example: 00200
                  branchplant:
                    type: string
                    description: Branch Plant
                    example:
                  ordertype:
                    type: string
                    description: Sales Order Type
                    example:
                  mode:
                    type: string
                    description: CC for credit card and ACH for back details
                    example: Tokenization successful.
                  type: 
                    type: string
                    description: Type of Credit Card or Bank Account - VISA / MC / DISCOVER / AMEX / CHECKING / SAVING
                    example: VISA
                  last4:
                    type: string
                    description: Last 4 of credit card or bank account number
                    example: 1111
                  routingnumber:
                    type: string
                    description: Bank Routing Number
                    example:
                  bankname:
                    type: string
                    description: Bank Name
                    example:
                  checktype:
                    type: string
                    description: Check Type – C for corporate and P for personal
                    example:
                  identificationtype:
                    type: string
                    description: Identification Type T for Tax ID, S for SSN and D for Driver License
                    example:
                  identificationnumber:
                    type: string
                    description: Identification Number 
                    example:
                  tokenid:
                    type: string
                    description: Credit Card or Bank Account Token
                    example: 9447829389471111
                  expirationdate:
                    type: string
                    description: Credit Card Expiration Date
                    example: 122029
                  name:
                    type: string
                    description: Name on Credit Card or Bank Account
                    example: John Smith
                  addressline1:
                    type: string
                    description: Address Line 1
                    example: 123 Main St
                  city:
                    type: string
                    description: City
                    example: Lombard
                  state:
                    type: string
                    description: Stage
                    example: IL
                  zip:
                    type: string
                    description: Zip/Postal Code
                    example: 60148
                  country:
                    type: string
                    description: Country
                    example: US
                  email:
                    type: string
                    description: Email Address
                    example: john.smith@company.com
                  phonenumber:
                    type: string
                    description: Phone Number
                    example:
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/interop/authorize:
    post:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Authorize
      summary: Authorize
      description: Authorize.
      operationId: authorize
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountid:
                  type: number
                  description: Account ID
                  example: 1000000001
                customerid:
                  type: string
                  description: Customer ID
                  example: 100
                currency:
                  type: string
                  description: Currency Code
                  example: USD
                companycode:
                  type: string
                  description: Company Code
                  example: 00200
                branchplant:
                  type: string
                  description: Branch Plant
                  example: 
                ordertype:
                  type: string
                  description: Order Type
                  example:
                orderid:
                  type: string
                  description: Order ID
                  example: 123456
                invoiceid:
                  type: string
                  description: Invoice ID
                  example: 123456
                userid:
                  type: string
                  description: User ID
                  example: user1
                reference:
                  type: string
                  description: Reference Text
                  example:
                purchaseorder:
                  type: string
                  description: Purchase Order
                  example: USD
                cards:
                  type: array
                  items:
                    type: object
                    properties:
                      transactionamount:
                        type: number
                        description: Transaction Amount
                        example: 10
                      tokenid:
                        type: string
                        description: Token ID
                        example: 9412345678912345
                      type:
                        type: string
                        description: Type of credit card
                        example: VISA
                      last4:
                        type: string
                        description: Last 4 digits of credit card
                        example: 2345
                      cvv:
                        type: string
                        description: CVV
                        example: 123
                      expirationdate:
                        type: string
                        description: Expiration Date mmYYYY
                        example: 122029
                      customername:
                        type: string
                        description: Name on credit card
                        example: John Smith
                      addressline1: 
                        type: string
                        description: Address Line 1
                        example: 123 Main St
                      city:
                        type: string
                        description: City
                        example: Lombard
                      state:
                        type: string
                        description: State
                        example: IL
                      zip:
                        type: string
                        description: Zip/Postal Code
                        example: 60148
                      country:
                        type: string
                        description: Country
                        example: US
                      email:
                        type: string
                        description: Email Address
                        example: john.smith@company.com
                      phonenumber:
                        type: string
                        description: Phone Number
                        example:
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            maxLength: 10
            minLength: 0
            type: number
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            maxLength: 50
            minLength: 0
            type: string
          example: 'optional '
        - name: Signature
          in: header
          schema:
            type: string
          example: HMAC <<unique hmac value>>
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountid:
                    type: number
                    description: Account ID
                    example: 1000000001
                  status:
                    type: string
                    description: Y or N
                    example: Y
                  message:
                    type: string
                    description: Message
                    example: Authorization successful.
                  cards:
                    type: array
                    items:
                      type: object
                      properties:
                        merchantid:
                          type: string
                          description: Payment Gateway Merchant ID
                          example: 34032039484234
                        returncode:
                          type: string
                          description: Payment Gateway Return Code
                          example: 000
                        returndescription:
                          type: string
                          description: Payment Gateway Return Description
                          example: Transaction successful
                        procrespcode:
                          type: string
                          description: Processor Response Code
                          example: RPCT
                        pgtransactionid:
                          type: string
                          description: Payment Gateway Transaction ID
                          example: 260711140916
                        tokenid:
                          type: string
                          description: Credit Card Token ID
                          example: 9412345678912345
                        paymenttransactionid:
                          type: string
                          description: SnapPay Transaction ID
                          example: 136243
                        authorizationcode:
                          type: string
                          description: Authorization Code
                          example: 234AS5
                        transactiondate:
                          type: string
                          description: Transaction Date
                          example: 02/14/2021 03:00:28 PM
                        transactionamount:
                          type: string
                          description: Transaction Amount
                          example: 100
                        currency:
                          type: string
                          description: Currency Code
                          example: USD
                        status:
                          type: string
                          description: status - Y/N
                          example: Y
                        scverification:
                          type: string
                          description: Security/CVV Code Verification
                          example: P
                        addressverification:
                          type: string
                          description: Address Verification
                          example: Z
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/interop/charge:
    post:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Charge
      summary: Charge
      description: Charge.
      operationId: charge
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountid:
                  type: number
                  description: Account ID
                  example: 1000000001
                customerid:
                  type: string
                  description: Customer ID
                  example: 100
                currency:
                  type: string
                  description: Currency Code
                  example: USD
                companycode:
                  type: string
                  description: Company Code
                  example: 00200
                branchplant:
                  type: string
                  description: Branch Plant
                  example: 
                ordertype:
                  type: string
                  description: Order Type
                  example:
                orderid:
                  type: string
                  description: Order ID
                  example: 123456
                invoiceid:
                  type: string
                  description: Invoice ID
                  example: 123456
                userid:
                  type: string
                  description: User ID
                  example: user1
                reference:
                  type: string
                  description: Reference Text
                  example:
                purchaseorder:
                  type: string
                  description: Purchase Order
                  example: USD
                sendemailreceipts:
                  type: string
                  description: Send Email Receipt
                  example: Y
                paymentmethod:
                  type: object
                  properties:
                    transactionamount:
                      type: number
                      description: Transaction Amount
                      example: 10
                    tokenid:
                      type: string
                      description: Token ID
                      example: 9412345678912345
                    type:
                      type: string
                      description: Type of credit card
                      example: VISA
                    last4:
                      type: string
                      description: Last 4 digits of credit card
                      example: 2345
                    cvv:
                      type: string
                      description: CVV
                      example: 123
                    expirationdate:
                      type: string
                      description: Expiration Date mmYYYY
                      example: 122029
                    customername:
                      type: string
                      description: Name on credit card
                      example: John Smith
                    addressline1: 
                      type: string
                      description: Address Line 1
                      example: 123 Main St
                    city:
                      type: string
                      description: City
                      example: Lombard
                    state:
                      type: string
                      description: State
                      example: IL
                    zip:
                      type: string
                      description: Zip/Postal Code
                      example: 60148
                    country:
                      type: string
                      description: Country
                      example: US
                    email:
                      type: string
                      description: Email Address
                      example: john.smith@company.com
                    phonenumber:
                      type: string
                      description: Phone Number
                      example:
                level3:
                  type: array
                  items:
                    type: object
                    properties:
                      linenumber:
                        type: string
                        description: Line Number
                        example: 1
                      productcode: 
                        type: string
                        description: Product Code or Item Number
                        example: BQT01
                      unitcost:
                        type: number
                        description: Unit Cost
                        example: 1.75
                      quantity:
                        type: number
                        description: Quantity
                        example: 3
                      itemdescriptor:
                        type: string
                        description: Item/Product Description
                        example: Bouquet
                      unitofmeasure:
                        type: string
                        description: Unit of Measure
                        example: EA
                      commoditycode:
                        type: string
                        description: Commodity Code
                        example:  Commodity Code1
                      taxamount:
                        type: number
                        description: Tax Amount
                        example: 0.12
                      taxrate:
                        type: number
                        description: Tax Rate in %
                        example: 8
                      itemdiscount:
                        type: number
                        description: Item Discount
                        example:
                      lineitemtotal:
                        type: number
                        description: Line Item Total
                        example: 5.37
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            maxLength: 10
            minLength: 0
            type: number
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            maxLength: 50
            minLength: 0
            type: string
          example: 'optional '
        - name: Signature
          in: header
          schema:
            type: string
          example: HMAC <<unique hmac value>>
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountid:
                    type: number
                    description: Account ID
                    example: 1000000001
                  status:
                    type: string
                    description: Y or N
                    example: Y
                  message:
                    type: string
                    description: Message
                    example: Authorization successful.
                  transaction:
                    type: object
                    properties:
                      merchantid:
                        type: string
                        description: Payment Gateway Merchant ID
                        example: 34032039484234
                      returncode:
                        type: string
                        description: Payment Gateway Return Code
                        example: 000
                      returndescription:
                        type: string
                        description: Payment Gateway Return Description
                        example: Transaction successful
                      procrespcode:
                        type: string
                        description: Processor Response Code
                        example: RPCT
                      pgtransactionid:
                        type: string
                        description: Payment Gateway Transaction ID
                        example: 260711140916
                      paymenttransactionid:
                        type: string
                        description: SnapPay Transaction ID
                        example: 136243
                      authorizationcode:
                        type: string
                        description: Authorization Code
                        example: 234AS5
                      transactiondate:
                        type: string
                        description: Transaction Date
                        example: 02/14/2021 03:00:28 PM
                      transactionamount:
                        type: string
                        description: Transaction Amount
                        example: 100
                      currency:
                        type: string
                        description: Currency Code
                        example: USD
                      scverification:
                        type: string
                        description: Security/CVV Code Verification
                        example: P
                      addressverification:
                        type: string
                        description: Address Verification
                        example: Z
                      totaltransactionamount:
                        type: string
                        description: Total transaction amount (transactionamount + feeamount)
                        example: 100
                      feereturncode:
                        type: string
                        description: Return code for fee transaction. It will same as returncode if the feetype is convenience or surcharge and different if the fee type is service (MSF)
                        example: 
                      feereturndescription:
                        type: string
                        description: Return description for fee transaction
                        example: 
                      feetransactionid:
                        type: string
                        description: Fee Transaction ID – same as transactionid for surcharge and convenience fee  
                        example: 
                      feeauthcode:
                        type: string
                        description: Fee Transaction Authorization Code – same as authorizationcode for surcharge fee and convenience fee
                        example: 
                      feestatus:
                        type: string
                        description: Fee Transaction Status (Y/N)
                        example: 
                      feetype:
                        type: string
                        description: Fee Type (Surcharge, Service or Convenience)
                        example: 
                      feeformat:
                        type: string
                        description: Fee Format (Percentage for Surcharge and dollar amount for convenience fee)
                        example: 
                      feeamount:
                        type: string
                        description: Fee Amount (amount in currency)
                        example: 0
                      feevalue:
                        type: string
                        description: Fee Value (value in % for Surcharge fee)
                        example: 0
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/Interop/Capture:
    post:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Capture
      summary: Capture
      description: Capture.
      operationId: capture
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                accountid: '1000000001'
                companycode: '00100'
                shipfromzip: '60500'
                branchplant: M30
                orderid: '123448'
                invoiceid: '567848'
                orderdate: ''
                userid: userid1
                shiptocountry: ''
                purchaseorder: '1243'
                shiptozip: ''
                customerid: '4242'
                currency: USD
                sendemailreceipts: 'Y'
                ecomind: E
                cof: C
                cofscheduled: 'N'
                paymentmethod:
                  tokenid: '100672315657'
                  transactionamount: '125.50'
                  cvv: '123'
                  customername: Hex Financial
                  addressline1: Main Street
                  city: Aurora
                  state: IL
                  zip: '60540'
                  country: US
                  email: noreply@snappay.com
                  phonenumber: ''
                  type: checking
                  last4: '6789'
                  routingnumber: '123123123'
                  secureflag: '05'
                  securevalue: ''
                  securedstid: ''
                  secureexemption: lowvalue
                level3:
                  - linenumber: '1.000'
                    productcode: ROS01
                    taxrate: '0.073'
                    quantity: '2'
                    itemdescriptor: Mixed Bouquet
                    unitcost: '30.7500'
                    lineitemtotal: '65.96'
                    taxamount: '4.46'
                    commoditycode: Commodity 1
                    unitofmeasure: EA
                  - linenumber: '2.000'
                    productcode: BQT02
                    taxrate: '0.073'
                    quantity: '2'
                    itemdescriptor: Spring Bouquet
                    unitcost: '25.6250'
                    lineitemtotal: '54.97'
                    taxamount: '3.72'
                    commoditycode: Commodity 2
                    unitofmeasure: EA
                ordertype: SO
                userfields:
                  - udf0: Value 1
                  - udf1: Value 2
                  - udf2: Value 3
                  - udf3: Value 4
                  - custommerchant: Your Company
                  - customphone: 888-555-HELP
      security:
        - basicAuth: []
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            maxLength: 10
            minLength: 0
            type: number
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            maxLength: 50
            minLength: 0
            type: string
      responses:
        '200':
          description: Request successful.
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/Interop/Credit:
    post:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Credit
      summary: Credit
      description: Credit.
      operationId: credit
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                accountid: 1000000001
                customerid: '100'
                currency: USD
                companycode: '00100'
                userid: User1
                orderid: '123'
                invoiceid: '423'
                ordertype: ''
                branchplant: ''
                reference: ''
                purchaseorder: ''
                sendemailreceipts: 'Y'
                ecomind: E
                cof: C
                cofscheduled: 'N'
                paymentmethod:
                  transactionamount: '12.34'
                  tokenid: '9548009641895454'
                  secureflag: '05'
                  securevalue: ''
                  securedstid: ''
                  secureexemption: lowvalue
                userfields:
                  - udf0: Value 1
                  - udf1: Value 2
                  - udf2: Value 3
                  - udf3: Value 4
                  - custommerchant: Fiserv Company
                  - customphone: 888-555-HELP
      security:
        - basicAuth: []
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            maxLength: 10
            minLength: 0
            type: number
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            maxLength: 50
            minLength: 0
            type: string
          example: 'optional '
        - name: Signature
          in: header
          schema:
            type: string
          example: HMAC <<unique hmac value>>
      responses:
        '200':
          description: Request successful.
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/Interop/Refund:
    post:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Refund
      summary: Refund
      description: Refund.
      operationId: refund
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                accountid: 1000000001
                referencetransactionid: '1403'
                transactionamount: '10.00'
                customerid: '100'
                currency: USD
                companycode: '00100'
                userid: User
                orderid: '123'
                invoiceid: '423'
                reference: ''
                purchaseorder: ''
                sendemailreceipts: 'Y'
      security:
        - basicAuth: []
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            maxLength: 10
            minLength: 0
            type: number
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            maxLength: 50
            minLength: 0
            type: string
          example: 'optional '
        - name: Signature
          in: header
          schema:
            type: string
          example: HMAC <<unique hmac value>>
      responses:
        '200':
          description: Request successful.
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/Interop/Void:
    post:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Void
      summary: Void
      description: The Void API attempts to void or cancel a prior authorization transaction. The original authorization transaction is set in parameter referencetransactionid and some explanatory text can be set in the reference parameter. For voding charge and capture transaction, use refund API.
      operationId: void
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                accountid: 1000000001
                referencetransactionid: '1458'
                customerid: '100'
                currency: USD
                companycode: '00100'
                userid: User
                reference: ''
                purchaseorder: ''
      security:
        - basicAuth: []
      parameters:
        - name: AccountId
          in: header
          schema:
            type: integer
          example: '1000000001'
        - name: merchantid
          in: header
          schema:
            type: string
          example: 'optional '
        - name: Signature
          in: header
          schema:
            type: string
          example: HMAC <<unique hmac value>>
      responses:
        '200':
          description: Request successful.
          content:
            application/json: {}
  /api/interop/GetTransaction:
    post:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Get Transaction
      summary: GetTransaction
      description: GetTransactionRequest
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                accountid: '1000000001'
                transactionid: '3664'
                orderid: '123'
      security:
        - basicAuth: []
      parameters:
        - name: AccountId
          in: header
          schema:
            type: integer
          example: '1000000001'
        - name: merchantid
          in: header
          schema:
            type: string
          example: 'optional '
        - name: Signature
          in: header
          schema:
            type: string
          example: HMAC <<unique hmac value>>
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/TransactionHistory:
    get:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Retrieve Transaction History
      summary: Retrieve Transaction History
      description: Retrieve Transaction History.
      operationId: retrieveTransactionHistory
      security:
        - basicAuth: []
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            maxLength: 10
            minLength: 0
            type: number
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            maxLength: 50
            minLength: 0
            type: string
          example: 'optional '
        - name: Signature
          in: header
          schema:
            type: string
          example: HMAC <<unique hmac value>>
        - name: startdate
          in: query
          schema:
            type: string
          example: '{{startdate}}'
        - name: enddate
          in: query
          schema:
            type: string
          example: '{{enddate}}'
        - name: type
          in: query
          schema:
            type: string
          example: C
      responses:
        '200':
          description: Request successful.
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/FundingHistory:
    get:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Retrieve Funding History
      summary: Retrieve Funding History
      description: Retrieve Funding History.
      operationId: retrieveFundingHistory
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            maxLength: 10
            minLength: 0
            type: number
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            maxLength: 50
            minLength: 0
            type: string
        - name: startdate
          in: query
          schema:
            type: string
          example: '{{startdate}}'
        - name: enddate
          in: query
          schema:
            type: string
          example: '{{enddate}}'
      responses:
        '200':
          description: Request successful.
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /api/binapi/MID/token:
    get:
      tags:
        - APIs without User Interaction
      x-group-name: APIs without User Interaction
      x-proxy-name: Bin Information
      summary: Bin Information
      description: Bin Information.
      operationId: binInformation
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            maxLength: 10
            minLength: 0
            type: number
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            maxLength: 50
            minLength: 0
            type: string
          example: 'optional '
        - name: Signature
          in: header
          schema:
            type: string
          example: HMAC <<unique hmac value>>
      responses:
        '200':
          description: Request successful.
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /AccountUpdater/GetUpdater:
    post:
      tags:
        - Card Account Updater
      x-group-name: Card Account Updater
      x-proxy-name: Get Updater
      summary: Get Updater
      description: Get Updater.
      operationId: getUpdater
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                merchid: MID
                accounts:
                  - account: '4111111111111111'
                    expiry: '0122'
                  - account: '9434567891111111'
                    expiry: '0525'
      security:
        - basicAuth: []
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            maxLength: 10
            minLength: 0
            type: number
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            maxLength: 50
            minLength: 0
            type: string
          example: 'optional '
        - name: Signature
          in: header
          schema:
            type: string
          example: HMAC <<unique hmac value>>
      responses:
        '200':
          description: Request successful.
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /AccountUpdater/PutUpdater:
    post:
      tags:
        - Card Account Updater
      x-group-name: Card Account Updater
      x-proxy-name: Put Updater
      summary: Put Updater
      description: Put Updater.
      operationId: putUpdater
      security:
        - basicAuth: []
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            maxLength: 10
            minLength: 0
            type: number
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            maxLength: 50
            minLength: 0
            type: string
          example: 'optional '
        - name: Signature
          in: header
          schema:
            type: string
          example: HMAC <<unique hmac value>>
        - name: merchid
          in: query
          schema:
            type: string
          example: MID
        - name: date
          in: query
          schema:
            type: integer
          example: '20220131'
      responses:
        '200':
          description: Request successful.
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
  /AccountUpdater/DeleteUpdater:
    post:
      tags:
        - Card Account Updater
      x-group-name: Card Account Updater
      x-proxy-name: Delete Updater
      summary: DeleteUpdater
      description: The DELETE request unenrolls accounts that have been manually added using the PUT method.
      operationId: deleteUpdater
      parameters:
        - name: AccountId
          in: header
          description: Account ID
          required: true
          schema:
            maxLength: 10
            minLength: 0
            type: number
        - name: MerchantId
          in: header
          description: Merchant ID (if you pass this parameter, SnapPay will bypass the logic of identifying MID for this transaction)
          schema:
            maxLength: 50
            minLength: 0
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                merchid:
                  description: Merchant ID
                  nullable: false
                  type: number
                  example: 496695144562
                accounts:
                  description: List of Credit Card Tokens that need to be deleted
                  nullable: false
                  type: array
                  items:
                    type: number
                  example:
                    - 9417085548851112
                    - 9550096877584444
              additionalProperties: false
      responses:
        '200':
          description: Request successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  merchid:
                    type: number
                    description: Merchant ID
                    example: 496695144562
                  total:
                    type: number
                    description: Total tokens received
                    example: 2
                  deleted:
                    type: number
                    description: Number of tokens that were deleted successfully
                    example: 1
                  notdeleted:
                    type: array
                    items:
                      type: object
                      properties:
                        account:
                          type: string
                          description: The token that caused the error
                          example: 9550096877584444
                        message:
                          type: string
                          description: Error message
                          example: account/token does not exist in CAU database
        '400':
          description: Invalid request.
        '401':
          description: Unauthorized access.
        '500':
          description: Internal server error.
